<ion-grid>
  <ion-row class="ion-justify-content-center mt-28 mx-24">
    <ion-img src="../../../assets/custom-ion-icons/check.svg" alt="verification image"></ion-img>
  </ion-row>

  <ion-row class="ion-justify-content-center mt-14 mx-24">
    <div class="title-text s24-h32 ls-02 text-weight-bold my-0 pb-6">Mulțumim!
    </div>
  </ion-row>
  <ion-row class="ion-justify-content-center mt-16  mx-24">
    <div class="text-block s16-h22 ls-01">Fotografiile tale vor fi verificate. Vei primi o notificare după procesare.
    </div>
  </ion-row>
  <ion-row class="ion-justify-content-center mt-112 mb-24 mx-24">
    <ion-button
      class="activate-btn"
      size="large"
      color="success"
      fill="solid"
      expand="block"
      class="m-0 w-100 flex mt-auto mx-8"
      (click)="completeVerification()"
    >
      Continuă
    </ion-button>
  </ion-row>
</ion-grid>
