<ion-grid class="ion-no-padding flex flex-1 flex-column w-100 mh-100 h-100">
  <ion-row class="ion-justify-content-center mt-112 mx-24">
    <ion-img
      src="../../../assets/custom-ion-icons/check.svg"
      alt="verification image"
    ></ion-img>
  </ion-row>

  <ion-row class="ion-justify-content-center mt-14 mx-24">
    <div
      class="border-red alt-font border-bottom-1 color-dark-green s24-h32 ls-02 text-weight-bold my-0 pb-6"
    >
      Mulțumim!
    </div>
  </ion-row>
  <ion-row class="ion-justify-content-center mt-16 mx-24">
    <div class="text-block s16-h22 ls-01 ion-text-center">
      Fotografiile tale vor fi verificate. Vei primi o notificare după
      procesare.
    </div>
  </ion-row>
  <ion-row
    class="ion-justify-content-center mt-auto flex flex-1 flex-column ion-justify-content-end mt-112 mx-24"
  >
    <ion-button
      class="activate-btn m-0 w-100 mt-36 mb-24 flex mx-8"
      size="large"
      color="success"
      fill="solid"
      expand="block"
      (click)="completeVerification()"
    >
      Continuă
    </ion-button>
  </ion-row>
</ion-grid>
