<app-sub-page-header [config]="headerConfig" [ngClass]="color">
</app-sub-page-header>

<ion-content [ngClass]="color">
  <ion-list class="py-0 pt-72">
    <ion-item lines="none" class="mb-16 ml-24 item-mh-40">
      <ion-icon name="md-call-center" class="icon-22 mr-28" color="success">
      </ion-icon>
      <ion-label class="s18-h24 my-8">Call Center</ion-label>
    </ion-item>
    <ion-item lines="none" class="mb-16 ml-24 item-mh-40" *ngIf="release === 2">
      <ion-icon name="md-chat" class="icon-22 mr-28" color="omn-medium">
      </ion-icon>
      <ion-label
        class="s18-h24 ml-0 flex flex-row ion-justify-content-start ion-align-items-center my-8"
      >
        Chat
      </ion-label>
    </ion-item>
    <ion-item
      lines="none"
      class="mb-16 ml-24 item-mh-40"
      [routerLink]="['/home','intrebari-frecvente']"
    >
      <ion-icon
        name="md-intrebari"
        class="icon-22 mr-28"
        color="primary"
      ></ion-icon>
      <ion-label class="s18-h24 my-8">Întrebări frecvente</ion-label>
    </ion-item>
    <ion-item
      lines="none"
      class="mb-16 ml-24 item-mh-40"
      [routerLink]="['petitii']"
    >
      <ion-icon
        name="md-petitie"
        class="icon-22 mr-28"
        color="omn-medium"
      ></ion-icon>
      <ion-label class="s18-h24 my-8">Petiții</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
