<app-sub-page-header [config]="headerConfig"></app-sub-page-header>

<ion-content class="ion-no-padding">
  <header class="ion-no-padding ion-text-center">
    <ion-label class="alt-font s32-h38 ls-05" color="omn-green"
      >Despre noi</ion-label
    >
  </header>

  <div class="mt-80 ion-text-center">
    <ion-icon name="logo" class="mw-215 mh-64"></ion-icon>
  </div>

  <div class="mt-32 px-32 ion-text-center">
    <p class="flex flex-column s18-h24">
      <ion-text class="text-weight-bold">
        OMNIASIG Vienna Insurance Group
      </ion-text>
      <ion-text>
        este o companie cu tradiție de peste 25 de ani pe piața asigurărilor din
        România, făcând parte din grupul Vienna Insurance Group (Wiener
        Versicherung Gruppe), principalul expert pe piața asigurărilor în
        Austria precum şi în Europa Centrală şi de Est.
      </ion-text>
    </p>
    <p class="s18-h24">
      <ion-text>
        De-a lungul timpului, OMNIASIG s-a poziționat mereu în top 3 al celor
        mai mari jucători pe piața asigurărilor, cu un portofoliu de peste 100
        produse şi o reţea teritorială extinsă.
      </ion-text>
    </p>
  </div>
</ion-content>
