<ion-content class="bg-white">
    <app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
    <div class="px-32">
        <ion-col>
            <div class="ion-text-center pb-42">
                <ion-text class="text-small">
                    Pe adresa de email asociata contului a fost trimis un cod. Va rugam introduceti codul primit pe email:
                </ion-text>
            </div>
            <div class="ion-text-center pb-80">
                <div (click)="spawnInput()" class="">
                    <ion-icon class="mr-4 password-hide s18-h24" *ngIf="digitsLength < 1" [ngClass]="{'color-red': InvalidCode}" name="ellipse-outline"></ion-icon>
                    <ion-icon [ngClass]="{'color-red': InvalidCode}" name="ellipse" *ngIf="digitsLength > 0" class="mr-4 password-hide s18-h24"></ion-icon>
                    <ion-icon class="mr-4 password-hide s18-h24" *ngIf="digitsLength < 2" [ngClass]="{'color-red': InvalidCode}" name="ellipse-outline"></ion-icon>
                    <ion-icon [ngClass]="{'color-red': InvalidCode}" name="ellipse" class="mr-4 password-hide s18-h24" *ngIf="digitsLength > 1"></ion-icon>
                    <ion-icon class="mr-4 password-hide s18-h24" *ngIf="digitsLength < 3" [ngClass]="{'color-red': InvalidCode}" name="ellipse-outline"></ion-icon>
                    <ion-icon [ngClass]="{'color-red': InvalidCode}" name="ellipse" class="mr-4 password-hide s18-h24" *ngIf="digitsLength > 2"></ion-icon>
                    <ion-icon class="mr-4 password-hide s18-h24" *ngIf="digitsLength < 4" [ngClass]="{'color-red': InvalidCode}" name="ellipse-outline"></ion-icon>
                    <ion-icon [ngClass]="{'color-red': InvalidCode}" name="ellipse" class="mr-4 password-hide s18-h24" *ngIf="digitsLength > 3"></ion-icon>
                    <ion-icon class="mr-4 password-hide s18-h24" *ngIf="digitsLength < 5" [ngClass]="{'color-red': InvalidCode}" name="ellipse-outline"></ion-icon>
                    <ion-icon [ngClass]="{'color-red': InvalidCode}" name="ellipse" class="mr-4 password-hide s18-h24" *ngIf="digitsLength > 4"></ion-icon>
                    <ion-icon class="s18-h24 password-hide" *ngIf="digitsLength < 6" [ngClass]="{'color-red': InvalidCode}" name="ellipse-outline"></ion-icon>
                    <ion-icon [ngClass]="{'color-red': InvalidCode}" name="ellipse" class="mr-4 password-hide s18-h24" *ngIf="digitsLength > 5"></ion-icon>
                </div>
                <form [formGroup]="passForm">
                    <ion-input #inputField formControlName="digit" class="position-absolute bg-white text-center opacity-hide ion-no-border" maxlength="6" required="true" type="number" inputmode="number" autofocus="true"></ion-input>
                </form>
            </div>
            <div class="ion-text-center pt-80">
                <ion-text *ngIf="InvalidCode" class="text-small color-red">
                    Cod invalid
                </ion-text>
                <ion-text *ngIf="sec > 1 && !InvalidCode" class="text-small">
                    Poți solicita un alt cod în {{min}}:{{sec}}
                </ion-text>
                <ion-text *ngIf="sec < 1  && !InvalidCode" class="text-small">
                    Nu ai primit codul? <a class=" color-dark-green no-decoration" type="button" (click)="resendSMS()">Retrimite email</a>
                </ion-text>
                <div class="ion-align-items-center ion-text-center pt-18">
                    <ion-button [disabled]="digitsLength < 6" (click)="continue()" class="success-gradient ion-color-success" expand="block" size="md" shape="round" mode="md">
                        Continuă
                    </ion-button>
                </div>
            </div>

        </ion-col>
    </div>
</ion-content>