<app-sub-page-header [config]="headerConfig"></app-sub-page-header>
<ion-content class="pt-32">
  <ion-row class="h-100 flex-column ion-align-items-center">
    <ion-col class="ion-text-center">
      <div class="my-32 py-24">
        <img src="/assets/loader8.png" class="spinning-icon mw-120" />
      </div>
      <div class="my-32">
        <ion-label
          color="omn-green"
          class="h3 ls-min-02 alt-font border-danger text-weight-bold w-auto"
        >
          {{ title }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>