<ion-row class="h-100 flex-column ion-align-items-center w-100 ion-no-padding">
  <ion-col class="ion-text-center w-100 ion-no-padding">
    <div class="my-32 py-24">
      <img
        src="/assets/loader8.png"
        class="spinning-icon mw-152 p-8 radius-50-perc bg-ultra-light-green"
      />
    </div>
    <div class="my-32">
      <ion-label
        color="omn-green"
        class="h3 ls-min-02 alt-font border-danger text-weight-bold w-auto"
      >
        {{ title }}
      </ion-label>
    </div>
  </ion-col>
</ion-row>
