<!-- <ion-header [translucent]="false">
  <ion-toolbar size="small" color="omn-green">
    <ion-buttons slot="start" class="header">
      <ion-button (click)="openCustom()">
        <ion-icon slot="icon-only" name="md-menu" class="icon-20"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="header">
      <ion-button>
        <ion-icon
          slot="icon-only"
          name="md-notificare"
          class="icon-20"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-left"
      ><h2 *ngIf="account$ | async as account">
        {{account?.firstName + ' '+ account?.lastName}}
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header [translucent]="false" class="header-element">
    <ion-toolbar
      size="small"
      color="omn-transparent-white"
      class="header-toolbar"
    >
      <ion-buttons slot="start" class="header-buttons">
        <ion-button (click)="openCustom()" class="header-button">
          <ion-icon
            slot="icon-only"
            name="md-menu"
            class="icon-20 header-button-icon"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" class="header-buttons">
        <ion-button class="header-button">
          <ion-icon
            slot="icon-only"
            name="md-notificare"
            class="icon-20 header-button-icon"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-left header-title"
        ><h2 *ngIf="account$ | async as account">
          {{account?.firstName + ' '+ account?.lastName}}
        </h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="p-32">
    <ion-row
      class="ion-no-padding h-272 mt-n112 mx-n32 omn-background-green-gradient"
    ></ion-row>
    <ion-row class="mt-n128" color="omn-transparent-white">
      <ion-text color="light">
        <h4 class="mb-8">Asigurari</h4>
      </ion-text>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-row class="ion-no-padding"></ion-row>
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <ion-card class="m-0 bottom-radius-40">
              <ion-list>
                <ion-item>
                  <ion-icon
                    name="md-acasa-light"
                    slot="start"
                    color="omn-green"
                  ></ion-icon>
                  <ion-label class="my-16">
                    <div class="text-small pb-4" color="omn-green">
                      Asigurarea facultativă a locuințelor
                    </div>
                    <div class="h2-title pb-2">Garant AMPLUS</div>
                    <div class="text-small">Strada Traian 45, Brasov</div>
                  </ion-label>
                  <ion-icon
                    name="md-plata-light"
                    color="danger"
                    slot="end"
                  ></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-icon
                    name="md-acasa-light"
                    slot="start"
                    color="omn-green"
                  ></ion-icon>
                  <ion-label>
                    <div class="text-small" color="omn-green">
                      Asigurarea facultativă a locuințelor
                    </div>
                    <div class="h2-title mb-2">Garant AMPLUS</div>
                    <div class="text-small">Strada Traian 45, Brasov</div>
                  </ion-label>
                  <ion-icon
                    name="md-chevron-right"
                    color="omn-green"
                    slot="end"
                  ></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-icon name="md-acasa-light" slot="start"></ion-icon>
                  <ion-label>Nici o poliță activă</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Pac-Man</ion-label>
                </ion-item>
              </ion-list>
              <div class="pt-8 pb-16 px-16">
                <ion-button
                  color="danger"
                  fill="solid"
                  expand="block"
                  class="m-0 w-100"
                  ><h5>Cumpără asigurare</h5>
                </ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="mt-32">
      <ion-col class="ion-no-padding">
        <ion-row>
          <ion-text color="omn-green">
            <h4 class="mb-8">Daune</h4>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-card class="ml-0 mr-8 my-0 h-100">
              <ion-icon
                name="md-dosar"
                color="green-gradient"
                class="icon-40 mt-16 mx-auto flex ion-align-self-start"
              ></ion-icon>
              <ion-card-header class="absolute-header"></ion-card-header>
              <ion-card-content
                class="p-8 text-small text-weight-medium ion-align-items-end flex-1 ion-text-center"
              >
                Dosar Nr. 123456
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-card class="mr-0 ml-8 my-0 h-100">
              <ion-icon
                name="md-plus"
                color="green-gradient"
                class="icon-40 mt-16 mx-auto flex ion-align-self-start"
              ></ion-icon>
              <ion-card-header class="absolute-header"></ion-card-header>
              <ion-card-content
                class="flex p-8 text-small text-weight-medium ion-align-items-end flex-1 ion-justify-content-center w-100 ion-text-center"
              >
                Deschide dosar
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="mt-32">
      <ion-col class="ion-no-padding">
        <ion-row>
          <ion-text color="omn-green">
            <h4 class="mb-8">Ai nevoie de ajutor?</h4>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-col class="ion-no-padding ml-0 mr-8">
            <ion-card class="m-0 h-100 flex-column flex w-100">
              <ion-icon
                name="md-call-center"
                color="green-gradient"
                class="icon-40 mt-16 mx-auto flex ion-align-self-start"
              ></ion-icon>
              <ion-card-header class="absolute-header"></ion-card-header>
              <ion-card-content
                class="flex p-8 text-small text-weight-medium ion-align-items-end flex-1 ion-justify-content-center w-100 ion-text-center"
              >
                Call Center
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col class="ion-no-padding mx-8">
            <ion-card class="m-0 h-100 flex-column flex w-100">
              <ion-icon
                name="md-chat"
                color="green-gradient"
                class="icon-40 mt-16 mx-auto flex ion-align-self-start"
              ></ion-icon>
              <ion-card-header class="absolute-header"></ion-card-header>
              <ion-card-content
                class="flex p-8 text-small text-weight-medium ion-align-items-end flex-1 ion-justify-content-center w-100 ion-text-center"
              >
                Chat
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col class="ion-no-padding mr-0 ml-8">
            <ion-card class="m-0 h-100 flex-column flex w-100">
              <ion-icon
                name="md-intrebari"
                color="green-gradient"
                class="icon-40 mt-16 mx-auto flex ion-align-self-start"
              ></ion-icon>
              <ion-card-header class="absolute-header"></ion-card-header>
              <ion-card-content
                class="flex p-8 text-small text-weight-medium ion-align-items-end flex-1 ion-justify-content-center w-100 ion-text-center"
              >
                Întrebări frecvente
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-tab-menu></app-tab-menu>
