<ion-header [translucent]="false" class="header-element">
  <ion-toolbar
    size="small"
    color="omn-transparent-white"
    class="header-toolbar"
  >
    <ion-buttons
      slot="start"
      class="header-buttons m-0 p-8 ml-n8"
      (click)="doLogout()"
    >
      <ion-button class="header-button m-0">
        <ion-icon
          slot="icon-only"
          name="md-close-2"
          class="icon-20 header-button-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="">
  <div class="px-32 pb-14">
    <div class="text-center pb-60 ion-text-center">
      <ion-text class="alt-font color-dark-green x-large text-center">
        Notă de informare privind prelucrarea datelor cu caracter personal
      </ion-text>
    </div>
    <div class="pt-10">
      <ion-text class="s16-h22 ion-color-dark">
        <span class="font-weight-bold text-weight-bold">
          OMNIASIG VIENNA INSURANCE GROUP S.A.,
        </span>
        societate administrată în sistem dualist, cu sediul în București, Aleea
        Alexandru, nr. 51, sector 1, înregistrata în Registrul Comerțului sub
        nr. J/40/10454/2001, CUI 14360018, autorizată de Autoritatea de
        Supraveghere Financiară, cod RA-047/10.04.2003, cod LEI
        559900AB9YD8CLGBE756 („OMNIASIG VIG” sau „Operatorul”), în vederea
        prestării serviciilor de asigurare, colectează și prelucrează datele
        personale, în conformitate cu prevederile legale în materie de
        prelucrare a datelor cu caracter personal și liberă circulație a acestor
        date.
      </ion-text>
      <div class="bg-light-green border-radius-8 py-24 px-18">
        <ion-text class="s16-h22">
          Este necesară parcurgerea întregii pagini. Te rugăm să derulezi până
          la capăt.
        </ion-text>
      </div>
    </div>
  </div>
  <div class="bg-light-green-5 py-32 px-32 ion-text-center">
    <ion-text class="text-center ion-text-center text-weight-bold h3 alt-font">
      Vă rugăm să citiți această notă de informare cu atenție.
    </ion-text>
  </div>
  <div class="px-32 pt-32 pb-64">
    <div class="pb-16">
      <ion-text class="h3 text-weight-bold alt-font">
        Datele personale prelucrate
      </ion-text>
    </div>
    <div class="">
      <ion-text class="s16-h22">
        OMNIASIG VIG prelucrează următoarele categorii de date personale, atât
        cu privire la dumneavoastră, cât și la persoanele beneficiare ale
        poliței de asigurare:
        <br />
        <br />
        a) Date personale de identificare (în general datele înscrise în cartea
        de identitate sau în alte acte de stare civilă), date biometrice
        (imaginile faciale în vederea validării identității pentru crearea
        contului în aplicația mobilă) și date de contact (numere de telefon și
        adrese de e-mail);
        <br />
        <br />
        b) Informații bancare (număr cont bancar și titularul contului);
        <br />
        <br />
        c) Informații/date necesare pentru evaluarea riscului și/sau pentru
        întocmirea și soluționarea dosarelor de daune în cazul apariției
        riscului asigurat (inclusiv ocupația, educația și experiență
        profesională sau activități de afaceri desfășurate, date privind
        persoanele aflate în întreținere);
        <br />
        <br />
        d) Date/informații privind starea de sănătate, istoricul afecțiunilor și
        /sau antecedente în familie, diagnosticul medical);
        <br />
        <br />
        e) Date privind bunurile deținute (date privind autovehiculul, imobilul
        sau bunul asigurat deținut de o persoană fizică, care face obiectul
        asigurării);
        <br />
        <br />
        f) Informații cu privire la locația, imaginea și înregistrările
        audio-video ale persoanelor fizice (înregistrările video captate de
        camerele de supraveghere instalate la sediile OMNIASIG VIG,
        înregistrările audio ale convorbirilor telefonice din call-center,
        adresa IP captată la utilizarea website-urilor și aplicațiilor OMNIASIG
        VIG).
      </ion-text>
    </div>
    <div class="pt-64">
      <ion-text class="h3 text-weight-bold alt-font">
        Scopurile prelucrării datelor personale
      </ion-text>
    </div>
    <div class="pt-16">
      <ion-text class="s16-h22">
        OMNIASIG VIG colectează și prelucrează atât datele dumneavoastră
        personale, cât și ale persoanelor pentru care se încheie asigurarea sau
        beneficiare ale asigurării, în următoarele scopuri:
        <br />
        <br />
        a) În scopul identificării persoanei vizate;
        <br />
        <br />
        b) În scopul realizării testului de nevoi și cerințe (DNT) și acordării
        consultanței pe baza rezultatului obținut;
        <br />
        <br />
        c) În scopul prestării serviciilor de asigurare (ofertarea și emiterea
        polițelor de asigurare, gestionarea și executarea contractelor de
        asigurare / polițelor, dacă este cazul, încheierii de coasigurări /
        reasigurări, dacă este cazul, identificarea clienților, verificarea
        modalității de încheiere a contractelor de asigurare, soluționarea
        daunelor, inclusiv verificare în scopul detectării și prevenirii
        potențialelor fraude (de exemplu prevenirea unor plăti necuvenite a
        daunelor, identificarea și prevenirea unor potențiale comportamente de
        natură frauduloasă), recuperarea creanțelor, acțiuni în regres);
        <br />
        <br />
        d) Crearea de profiluri și luarea deciziilor automate pentru evaluarea
        riscurilor asigurate, a fraudelor și pentru calculul primelor de
        asigurare; activitatea este necesară doar în cazul încheierii anumitor
        categorii de contracte de asigurare, prin raportare la suma asigurată,
        dacă este cazul;
        <br />
        <br />
        e) În scopul respectării și îndeplinirii obligațiilor legale;
        <br />
        <br />
        f) În scop de marketing, inclusiv pentru informare și acordarea de
        beneficii de loialitate, pentru îmbunătățirea permanentă a calității
        serviciilor și produselor oferite, promovarea produselor oferite,
        chestionare; prelucrarea datelor în scopul menționat la acest punct se
        efectuează doar în perioada în care a fost acordat consimțământul în
        acest scop;
        <br />
        <br />
        g) Raportări interne sau către alte entități ale grupului din care
        OMNIASIG VIG face parte și efectuarea de analize statistice/actuariale;
        <br />
        <br />
        h) Soluționarea reclamațiilor și a solicitărilor din partea clienților
        și a potențialelor litigii, înaintate instanțelor (de drept comun sau
        arbitrale, din țară sau străinătate);
        <br />
        <br />
        i) Asigurarea măsurilor de securitate necesare (supraveghere video);
        <br />
        <br />
        j) Comunicări sau raportări către autoritățile, instituțiile sau
        agențiile de stat sau guvernamentale abilitate.
        <br />
        <br />
        k) Recuperarea creanțelor, acțiuni în regres.
      </ion-text>
    </div>
    <div class="pt-64">
      <ion-text class="h3 text-weight-bold alt-font">
        Temeiurile juridice pentru prelucrarea datelor dumneavoastră pentru
        fiecare din scopurile menționate mai sus sunt:
      </ion-text>
    </div>
    <div class="pt-16">
      <ion-text class="s16-h22">
        • încheierea unui contract, respectiv contractul de asigurare/polița la
        care dumneavoastră sunteți parte (inclusiv etapele premergătoare
        încheierii contractului – cererea dumneavoastră, oferta noastră),
        executarea și/sau administrarea contractului de asigurare;
        <br />
        <br />
        • îndeplinirea de către Asigurător a obligațiilor ce îi revin conform
        dispozițiilor legale;
        <br />
        <br />
        • interesul legitim al Asigurătorului, inclusiv pentru prevenirea
        plăților nejustificate ale dosarelor de daună; • consimțământul
        dumneavoastră.
      </ion-text>
    </div>
  </div>
  <div class="bg-default py-32 px-32 ion-text-center">
    <ion-text class="text-center ion-text-center text-weight-bold h3 alt-font">
      Punerea la dispoziția OMNIASIG VIG a datelor dumneavoastră personale este
      necesară în scopurile indicate mai sus la punctele a)-d). În cazul în care
      nu ne puneți la dispoziție aceste date sau dacă nu ni le comunicați în
      măsura necesară, suntem în imposibilitate de a vă furniza serviciile de
      asigurare. Vă rugăm să aveți în vedere că acest demers nu ar fi considerat
      neîndeplinirea obligațiilor contractuale de către OMNIASIG VIG.
    </ion-text>
  </div>
  <div class="pt-64">
    <div class="px-32">
      <ion-text cclass="s16-h22">
        Punerea la dispoziția OMNIASIG VIG a datelor terților, nominalizați de
        dumneavoastră, este necesară în scopurile indicate la punctele a)-d) de
        mai sus. În ceea ce privește datele privind starea dumneavoastră de
        sănătate, istoricul medical, antecedentele familiei, diagnostic și alte
        categorii speciale de date, acestea vă sunt solicitate în măsura în care
        sunt necesare pentru încheierea și executarea contractului de asigurare,
        acestea putând fi prelucrate doar cu acordul dumneavoastră; în lipsa
        acestor date este imposibilă executarea contractului de asigurare și
        soluționarea daunelor.
      </ion-text>
    </div>
  </div>

  <div class="px-32">
    <div class="pt-64">
      <ion-text class="h3 text-weight-bold alt-font">
        Destinatarii datelor dumneavoastră
      </ion-text>
    </div>
    <div class="pt-16">
      <ion-text class="s16-h22">
        Categoriile de destinatari către care se pot transfera datele personale
        colectate:
        <br />
        <br />
        • autoritățile publice (inclusiv autorități fiscale, autoritatea de
        reglementare și supraveghere în domeniul asigurărilor);
        <br />
        <br />
        implicați în mod dirirect în procesul de asigurare de regularizare a
        daunelor, furnizori de soluții de calcul a daunelor (Audatex), agenți
        constatatori de daună, furnizori de call-center și asistență în domeniul
        asigurărilor, clinici medicale partenere, prestatori de servicii pentru
        licitarea epavelor, cesionarii polițelor încheiate, service-uri auto
        partenere etc);
        <br />
        <br />
        • agenții de stat, guvernamentale sau asociații din domeniul
        asigurărilor, dacă legislația stipulează acest lucru, instanțe
        judecătorești sau arbitrale, notari publici, avocați, executori
        judecătorești, birouri de traduceri, alte servicii autorizate, experți
        evaluatori, experți judiciari, conciliatori, mediatori;
        <br />
        <br />
        • intermediarii implicați în administrarea contractelor dumneavoastră de
        asigurare (ex. brokeri de asigurare);
        <br />
        <br />
        • alte companii din cadrul Vienna Insurance Group.
      </ion-text>
    </div>

    <div class="pt-64">
      <ion-text class="h3 text-weight-bold alt-font">
        Transferul datelor personale într-o țară din afara Zonei Economice
        Europene
      </ion-text>
    </div>
    <div class="pt-16">
      <ion-text class="s16-h22">
        OMNIASIG VIG ar putea să transfere datele personale către alte companii
        din cadrul Vienna Insurance Group aflate în exteriorul Zonei Economice
        Europene. Pentru astfel de transferuri, OMNIASIG VIG se va asigura că
        prelucrarea acestor date este conform cerințelor de securitate la care
        sunt supuse procesările în țările din cadrul Comunității Europene și
        semnează în acest sens clauze contractuale specifice pentru a se asigura
        că transferul de date cu caracter personal este reglementat cu același
        nivel de securitate și de strictețe că și transferurile efectuate în
        cadrul Comunității Europene.
      </ion-text>
    </div>

    <div class="pt-64">
      <ion-text class="h3 text-weight-bold alt-font">
        Perioada de păstrare a datelor personale
      </ion-text>
    </div>
    <div class="pt-16">
      <ion-text class="s16-h22">
        (1) Datele personale vor fi păstrate cel puțin pe durata valabilității
        contractului de asigurare precum și ulterior pe perioada necesară
        executării obligațiilor contractuale de către oricare dintre părți, sau
        pe perioada de timp prevăzută de dispozițiile legale generale, precum și
        cele aplicabile în materie de asigurări, în acord cu Nomenclatorul
        Arhivistic aplicabil la nivelul OMNIASIG VIG S.A.
        <br />
        <br />
        (2) Datele cu caracter personal colectate în scopul efectuării testului
        de nevoi și cerințe (DNT) și a transmiterii ofertelor de asigurare, vor
        fi păstrate pentru cel mult 13 luni de la dată de început a
        valabilității ultimei oferte de asigurare, în cazul în care această nu
        s-a materializat în contract de asigurare.
      </ion-text>
    </div>

    <div class="pt-64">
      <ion-text class="h3 text-weight-bold alt-font">
        Drepturile pe care le aveți în ceea ce privește datele dumneavoastră
        personale
      </ion-text>
    </div>
    <div class="pt-16">
      <ion-text class="s16-h22">
        În legătură cu prelucrarea datelor cu caracter personal și în baza
        condițiilor specificate în legislația aplicabilă în vigoare, vă puteți
        exercită oricare dintre următoarele drepturi:
        <br />
        <br />
        (1) Dreptul de informare și acces la datele cu caracter personal;
        <br>
        (2) Dreptul la rectificare presupune dreptul de a solicită rectificarea sau
        actualizarea datelor cu caracter personal inexacte sau incomplete care
        va privesc sau completarea acestora, atunci când acestea sunt
        incomplete;
        <br>
        (3) Dreptul la ștergerea datelor sau „dreptul de a fi uitat”
        presupune dreptul de a solicită ștergerea datelor cu caracter personal
        care vă privesc, în anumite circumstanțe, precum (I) datele personale nu
        mai sunt necesare pentru îndeplinirea scopurilor pentru care au fost
        colectate sau prelucrate, (II) datele dumneavoastră au fost prelucrate
        ilegal, (III) prelucrarea datelor a avut loc pe baza consimțământului
        dumneavoastră, iar acesta a fost retras; 
        <br>
        (4) Dreptul de a vă retrage consimțământul; 
        <br>
        (5) Dreptul la restricționarea prelucrării; 
        <br>
        (6) Dreptulla portabilitatea datelor; 
        <br>
        (7) Dreptul la opoziție presupune că, înorice moment, aveți dreptul de a vă opune, 
        din motive legate de situația
        particulară în care va aflați, prelucrării datelor cu caracter personal
        în anumite circumstanțe; 
        <br>
        (8) Dreptul de nu face obiectul unei decizii
        bazate exclusiv pe prelucrarea automată a datelor dumneavoastră,
        inclusiv crearea de profiluri care produc efecte juridice sau care vă
        afectează semnificativ; 
        <br>
        (9) Dreptul de a depune o plângere la noi și/sau
        la autoritatea competență privind protecția datelor; 
        <br>
        (10) Dreptul de a
        vă adresa justiției; 
        <br>
        (11) Dreptul de a fi notificat de către OMNIASIG
        VIG privind breșe de securitate care au/ar putea avea impact asupra
        datelor dumneavoastră personale;
        <br />
        <br />
        Pentru exercitarea acestor drepturi, precum și pentru orice întrebări
        suplimentare cu privire la această notă de informare sau în legătura cu
        utilizarea de către OMNIASIG VIG a datelor personale, vă rugăm să ne
        contactați alegând oricare din modalitățile de comunicare descrise mai
        jos, precizând, totodată, numele dumneavoastră, adresa poștală sau de
        email (în funcție de modalitatea prin care doriți să comunicăm), numărul
        dumneavoastră de telefon precum și scopul cererii dumneavoastră.
      </ion-text>
    </div>

    <div class="pt-64">
      <ion-text class="h3 text-weight-bold alt-font">
        Ne puteți contacta:
      </ion-text>
    </div>
    <div class="pt-16">
      <ion-text class="s16-h22">
        • prin e-mail - la adresa:
        <a [href]="mailToDpo">dpo@omniasig.ro</a>; <br /><br />
        • prin pagina web a companiei, urmând calea:
        <a
          [href]="formularPetitiePrelucrareaLink"
          target="none"
          >https://www.omniasig.ro/Formular-petitie-prelucrarea-datelor-cu-caracter-personal.html</a
        >; <br /><br />
        • personal – la oricare din sediile OMNIASIG VIG; <br /><br />
        • prin poștă la adresa: București, Aleea Alexandru, nr. 51, sector 1;
        <br /><br />
        Detalii suplimentare precum și eventuale actualizări ale acestei note de
        informare privind protecția datelor dumneavoastră, puteți găsi urmând
        calea
        <a [href]="gdprLink" target="none">https://gdpr.omniasig.ro/</a> și pe
        pagina web a companiei <a [href]="omniasigLink">www.omniasig.ro</a> în
        secțiunea Protecția Datelor. <br /><br />
        Prezenta notă de informare reprezintă versiunea din data de ZZ.LL.2020
        <br /><br />
        Pentru a depune o sesizare / reclamație la Autoritatea Națională de
        Supraveghere a Prelucrării Datelor cu Caracter Personal, datele de
        contact sunt: <br /><br />
        Web site:
        <a [href]="dataprotectionLink" target="none"
          >http://www.dataprotection.ro/</a
        >
        <br /><br />
        E-mail:
        <a [href]="mailToDataprotection">anspdcp@dataprotection.ro</a>
        <br /><br />
        Adresa: B-dul G-ral. Gheorghe Magheru 28-30, Sector 1, cod poștal 010336
        București, România <br /><br />
        Telefon fix: <a [href]="telefonFix[0]">+40.318.059.211</a>, <a [href]="telefonFix[1]">+40.318.059.212</a> 
        <br /><br />
        Cabinet Președinte: <a [href]="cabinetPrsedinte[0]">+40.318.059.220</a> 
        <br>
        Fax: <a [href]="cabinetPrsedinte[1]">+40.318.059.60</a>.
      </ion-text>
    </div>
  </div>

  <form [formGroup]="termsForm">
    <div class="px-16 pt-32">
      <div class="px-12 py-16 bg-grey-2 border-radius-8">
        <ion-row class="ion-no-padding flex ion-justify-content-between">
          <ion-col class="flex ion-no-padding flex-0">
            <!-- <ion-checkbox formControlName="termOne" class="checkbox"></ion-checkbox> -->
            <ion-checkbox
              formControlName="termOne"
              type="checkbox"
            ></ion-checkbox>
          </ion-col>
          <ion-col class="flex ion-no-padding pl-12">
            <ion-text class="s16-h22">
              Am luat cunoştinţă de conţinutul Notei de informare privind
              prelucrarea datelor cu caracter personal (cod 123456)
            </ion-text>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="px-16 pt-8">
      <div class="px-12 py-16 bg-grey-2 border-radius-8">
        <ion-row class="ion-no-padding flex ion-justify-content-between">
          <ion-col class="flex ion-no-padding flex-0">
            <ion-checkbox
              formControlName="termTwo"
              type="checkbox"
            ></ion-checkbox>
          </ion-col>
          <ion-col class="flex ion-no-padding pl-12">
            <ion-text class="s16-h22">
              Sunt de acord cu <a routerLink="./">Termenii și Condițiile</a> de
              utilizare a aplicației
            </ion-text>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="ion-align-items-center ion-text-center pt-40 px-32 pb-16">
      <ion-button
        [disabled]="termsForm.invalid"
        (click)="proceed()"
        class="success-gradient ion-color-success"
        expand="block"
        size="large"
        shape="round"
        mode="md"
      >
        Creează cont nou
      </ion-button>
    </div>
  </form>

  <div class="px-32 ion-text-center pb-24">
    <div class="ion-text-center pt-10 pb-8" routerLink="/login">
      <ion-text class="s16-h22 color-dark-green"> Am deja un cont </ion-text>
    </div>
  </div>
</ion-content>
