<ion-content class="bg-white">
    <app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
    <div class="px-32">
        <ion-col>
            <div class="ion-text-center pb-42 pt-14">
                <ion-text class="text-small">
                    Creează un cod nou de acces
                </ion-text>
            </div>
            <div class="ion-text-center pb-80">
                <app-passcode-field [errorLogin]="errorLogin" (doPassForm)="verifyPincode($event)" (doClearErr)="clearErr($event)"></app-passcode-field>
            </div>
        </ion-col>
    </div>
</ion-content>