<ion-content class="bg-white">
  <app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
  <ion-row size="12" class="px-32 pt-16">
    <ion-col class="ion-no-padding">
      <div class="ion-text-center mb-8">
        <ion-text class="text-small"> Creează un cod nou de acces </ion-text>
      </div>
      <div class="ion-text-center pt-32">
        <app-passcode-field
          [errorLogin]="errorLogin"
          (doPassForm)="verifyPincode($event)"
          (doClearErr)="clearErr($event)"
        ></app-passcode-field>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
