<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
<ion-content class="ion-no-padding flex flex-1 flex-column mh-100">
  <ion-grid *ngIf="photo.length == 1">
    <ion-row class="ion-justify-content-center mt-28 mx-24">
      <ion-img
        src="../../../assets/custom-ion-icons/selfie.svg"
        alt="verification image"
      ></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center mt-30 mx-24">
      <div class="level s16-h22 ls-01 my-0">2/2</div>
    </ion-row>
    <ion-row class="ion-justify-content-center mt-14 mx-24">
      <div class="border-red alt-font border-bottom-1 color-dark-green s24-h32 ls-02 text-weight-bold my-0 pb-6">
        Fă-ți o fotografie!
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center mt-16 mx-24">
      <div class="text-block s16-h22 ls-01">
        Vom compara această fotografie cu cea din cartea de identitate.
        Păstrează o postură serioasă și asigură-te că ți se văd ochii.
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center mt-112 mb-24 mx-24">
      <ion-button
        class="activate-btn"
        size="large"
        color="success"
        fill="solid"
        expand="block"
        class="m-0 w-100 flex mt-auto mx-8"
        (click)="addPhotoToGallery()"
      >
        Continuă
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="photo.length > 1">
    <ion-row class="ion-justify-content-center pics-container mt-16 mx-40">
      <ion-img class="doc mt-10" src="{{ photo[0].webviewPath }}"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center mt-40 mx-32">
      <ion-button
        class="activate-btn m-0 w-100 flex mt-auto mx-8"
        size="large"
        color="success"
        fill="solid"
        expand="block"
        routerLink="../complete-verification"
      >
        Continuă
      </ion-button>

      <ion-row class="ion-justify-content-center mt-16 mx-24">
        <ion-button expand="block" fill="clear" (click)="removePhoto()"
          ><span class="button-text s16-h22 ls-01"
            >Fă o fotografie nouă</span
          ></ion-button
        >
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
