@import '../../../../theme/variables.scss';

.text-block{
    color: var(--color);
    font-family: var(--ion-font-family);
}

.level{
    color: $dark-green;
}

.doc {
    --max-height: 402px !important;
    --max-width: 297px !important;
    border-radius: 50% !important;
    overflow: scroll;
    object-fit: contain;
}

.pics-container{
    height: 600px;
}

.button-text{
    color: var(--app-dark-green);
}