@import '../../../../theme/variables.scss';

.text-block{
    color: var(--color);
    font-family: var(--ion-font-family);
}

.level{
    color: $dark-green;
}

.doc {
    height: 402px;
    width: 297px;
    border-radius: 50% !important;
    overflow: hidden;
}

// ion-img.doc{
//     height: 402px !important;
//     width: 297px !important;
//     img{
//         --object-fit: contain;
//     }
// }

.button-text{
    color: var(--app-dark-green);
}