@import '../../theme/variables.scss';

.floating-text{
    color: var(--color);
}

.text-block{
    color: var(--color);
    font-family: var(--ion-font-family);
}

.button-text{
    color: var(--app-dark-green);
}
#biometricsIonContent {
  --overflow: scroll;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}