<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
<ion-content class="ion-margin-top bg-white">
    <ion-list class="ion-align-items-center ion-text-center pt-24">
        <ion-icon class="mr-auto ml-auto text-center check-icon-lg" name="lg-casa-2"></ion-icon>
        <div class="ion-align-items-center ion-text-center pt-24">
            <ion-button class="flat no-shadow mr-4 color-disabled ion-color-disabled" color="disabled" size="large" shape="round" mode="md">
                Reînnoiește
                <ion-icon class="ml-18 label-large" name="reinnoire"></ion-icon>
            </ion-button>
            <ion-button class="flat no-shadow ion-color-success ml-4" flat size="large" shape="round" mode="md">
                Trimite
                <ion-icon class="ml-18 label-large" name="custom-share"></ion-icon>
            </ion-button>
        </div>
    </ion-list>
    <div class="mt-40 px-32">
        <ion-col class="">
            <ion-text class="s18-h24" color="dark">
                <h3 class="s18-h24">Sumar</h3>
            </ion-text>
            <!-- <div class=""> -->
            <div class="">
                <ion-text class="alt-font color-dark-green x-large">
                    Poliță de asigurare împotriva dezastrelor naturale (PAD)
                </ion-text>
            </div>

            <div class="mt-24">
                <ion-text class="s18-h24 ion-color-dark">
                    Pool-ul de aigurare împotriva dezastrelor naturale S.A.
                </ion-text>
            </div>

            <div class="mt-24">
                <div class="">
                    <ion-text class="input-label label-normal text-weight-bold">
                        Asigurator autorizat
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color">
                    S.C. OMNIASIG VIENNA INSURANCE GROUP S.A.
                </ion-text>
            </div>

            <div class="mt-21 mb-13">
                <div class="">
                    <ion-text class="input-label">
                        Seria
                    </ion-text>
                </div>
                <ion-text class=" s18-h24 ion-inherit-color">
                    AB-123
                </ion-text>
            </div>

            <div class="mt-21 mb-30">
                <div class="">
                    <ion-text class="input-label">
                        Numărul:
                    </ion-text>
                </div>
                <ion-text class=" s18-h24 ion-inherit-color">
                    00010203456
                </ion-text>
            </div>

            <div class="">
                <div>
                    <ion-text class="alt-font color-dark-green text-weight-bold h3">
                        Reînnoiește PAD
                    </ion-text>
                </div>
            </div>

            <div class="mb-13">
                <div class="">
                    <ion-text class="input-label">
                        Seria
                    </ion-text>
                </div>
                <ion-text class=" s18-h24 ion-inherit-color">
                    AB-123
                </ion-text>
            </div>

            <div class="mt-13 mb-30">
                <div class="">
                    <ion-text class="input-label">
                        Numărul:
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    00010203456
                </ion-text>
            </div>

            <div class="mb-16">
                <ion-text class="alt-font color-dark-green text-weight-bold h3">
                    Asigurat
                </ion-text>
            </div>

            <div class="mb-13">
                <div class="">
                    <ion-text class="input-label">
                        Nume
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    Ion Ionescu
                </ion-text>
            </div>

            <div class="mb-30">
                <div class="">
                    <ion-text class="input-label">
                        CNP
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    89******7634
                </ion-text>
            </div>

            <div class="mb-30">
                <div class="">
                    <ion-text class="input-label">
                        CNP
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    89******7634
                </ion-text>
            </div>

            <div class="mb-30">
                <div class="">
                    <ion-text class="input-label">
                        Perioada de valabilitate
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    2.05.2020 - 11.05.2021
                </ion-text>
            </div>

            <div class="mb-30">
                <div class="">
                    <ion-text class="input-label">
                        Suma asigurată
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    0.000 Euro
                </ion-text>
            </div>

            <div class="mb-30">
                <div class="">
                    <ion-text class="input-label">
                        Prima de asigurare în sumă de
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    8,00 Lei
                </ion-text>
            </div>

            <div class="mb-30">
                <div class="">
                    <ion-text class="input-label">
                        Încasată în lei conform document
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    YZW 123456
                </ion-text>
            </div>

            <div class="mb-30">
                <div class="">
                    <ion-text class="input-label">
                        din data de
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    5.05.2020
                </ion-text>
            </div>

            <div class="mb-30">
                <div class="">
                    <ion-text class="input-label">
                        Locația asigurată
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color ">
                    trada Traian 45, Brasov, jud. Brasov, Cod. 654321
                </ion-text>
            </div>

            <div class="mb-30">
                <div class="">
                    <ion-text class="input-label">
                        Cesiune
                    </ion-text>
                </div>
                <ion-text class="s18-h24 ion-inherit-color">
                    Denumire cesionar: Banca Cutarescu <br /> CUI: 321654 <br /> Procent: 99%

                </ion-text>
            </div>

            <button ion-button class=" w-100 btn btn-1 bg-green color-white btn-sep icon-info ion-margin-top rounded position-relative mb-24 text-normal">
        Acesta este un sumar. Descarcă Polița completă în format PDF.
      </button>
        </ion-col>
    </div>
</ion-content>