<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
<ion-content class="ion-margin-top background">
    <ion-row>
        <ion-icon class="mr-auto ml-auto text-center ion-icon-style" name="lg-casa-2"></ion-icon>
    </ion-row>
    <ion-list class="ion-align-items-center ion-text-center ion-margin-bottom">
        <ion-button class="" size="large" color="medium" shape="round" mode="md">
            Reînnoiește
            <ion-icon class="ml-2" size="32" name="repeat-outline"></ion-icon>
        </ion-button>
        <ion-button class="" size="large" color="success" shape="round" mode="md">
            Trimite
            <ion-icon class="ml-2" size="32" name="share-social-outline"></ion-icon>
        </ion-button>
    </ion-list>
    <div class="ion-padding">
        <ion-col class="ion-margin-start">
            <ion-text color="dark">
                <h3 class="pb-5">Sumar</h3>
            </ion-text>
            <div class="">
                <div class="ion-margin-bottom">
                    <ion-text class="" color="success">
                        <h1>Poliță de asigurare împotriva dezastrelor naturale (PAD)</h1>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <h4>Pool-ul de aigurare împotriva dezastrelor naturale S.A.</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h6>Asigurator autorizat</h6>
                        </ion-text>
                        <h4>S.C. OMNIASIG VIENNA INSURANCE GROUP S.A.</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Seria</h5>
                        </ion-text>
                        <h4>AB-123</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Numărul:</h5>
                        </ion-text>
                        <h4>00010203456</h4>
                    </ion-text>
                </div>
            </div>

            <section class="second-row">
                <div class="ion-margin-bottom">
                    <ion-text class="" color="success">
                        <h1>Reînnoiește PAD</h1>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Seria</h5>
                        </ion-text>
                        <h4>AB-123</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Seria</h5>
                        </ion-text>
                        <h4>AB-123</h4>
                    </ion-text>
                </div>
            </section>

            <section class="second-row">
                <div class="ion-margin-bottom">
                    <ion-text class="" color="success">
                        <h1>Asigurat</h1>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Nume</h5>
                        </ion-text>
                        <h4>Ion Ionescu</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>CNP</h5>
                        </ion-text>
                        <h4>189******7634</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>CNP</h5>
                        </ion-text>
                        <h4>189******7634</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Perioada de valabilitate</h5>
                        </ion-text>
                        <h4>12.05.2020 - 11.05.2021</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Suma asigurată</h5>
                        </ion-text>
                        <h4>20.000 Euro</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Prima de asigurare în sumă de</h5>
                        </ion-text>
                        <h4>98,00 Lei</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Încasată în lei conform document</h5>
                        </ion-text>
                        <h4>XYZW 123456</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>din data de</h5>
                        </ion-text>
                        <h4>15.05.2020</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Locația asigurată</h5>
                        </ion-text>
                        <h4>Strada Traian 45, Brasov, jud. Brasov, Cod. 654321</h4>
                    </ion-text>
                </div>

                <div class="ion-margin-bottom">
                    <ion-text class=" ">
                        <ion-text class="ion-color-medium" color="medium">
                            <h5>Cesiune</h5>
                        </ion-text>
                        <h4>
                            Denumire cesionar: Banca Cutarescu <br /> CUI: 321654 <br /> Procent: 99%
                        </h4>
                    </ion-text>
                </div>
            </section>

            <button ion-button class="btn btn-1 btn-sep icon-info ion-margin-top">Acesta este un sumar. Descarcă Polița completă în format PDF.</button>
        </ion-col>
    </div>

</ion-content>