.list-md {
    padding-bottom: unset !important;
}

.btn {
    padding: 15px 10px 15px 60px;
    border-radius: 5px;
}


/* Pseudo elements for icons */

.btn-1:before {
    background: #006330;
    border-radius: 5px 0 0 5px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.icon-info:before {
    content: url('../../../../../assets/custom-ion-icons/descarca.svg');
}