<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
<ion-content class="ion-margin-top bg-white">
  <ion-list class="ion-align-items-center ion-text-center pt-24">
    <ion-icon
      class="mr-auto ml-auto text-center check-icon-lg mb-48"
      name="lg-casa-2"
    ></ion-icon>
  </ion-list>
  <div class="ion-align-items-center ion-text-center mt-n24">
    <ion-button
      class="flat no-shadow mr-4 color-disabled ion-color-disabled text-weight-normal"
      color="disabled"
      size="large"
      shape="round"
      mode="md"
    >
      Reînnoiește
      <ion-icon class="ml-18 label-large" name="reinnoire"></ion-icon>
    </ion-button>
    <ion-button
      class="flat no-shadow ion-color-success ml-4 text-weight-normal"
      flat
      size="large"
      shape="round"
      mode="md"
      (click)="downloadPolicy()"
      [disabled]="downloading"
    >
      Trimite
      <ion-icon
        class="ml-18 label-large"
        name="custom-share"
        *ngIf="!downloading"
      ></ion-icon>
      <ion-spinner
        name="crescent"
        class="icon-16 ml-10 label-large"
        *ngIf="downloading"
      ></ion-spinner>
    </ion-button>
  </div>
  <div class="mt-16 px-32">
    <ion-col class="">
      <ion-text class="s18-h24" color="dark">
        <h3 class="s18-h24">Sumar</h3>
      </ion-text>
      <div class="">
        <ion-text class="alt-font color-dark-green x-large">
          {{ policy?.type?.name }}
        </ion-text>
      </div>

      <div class="mt-24">
        <ion-text class="s18-h24 ion-color-dark">
          {{ policy?.type?.shortDescription }}
        </ion-text>
      </div>

      <div class="mt-24">
        <div class="">
          <ion-text
            class="input-label text-weight-medium label-normal text-weight-bold"
          >
            Asigurator autorizat
          </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          S.C. OMNIASIG VIENNA INSURANCE GROUP S.A.
        </ion-text>
      </div>

      <div class="mt-21 mb-13">
        <div class="">
          <ion-text class="input-label text-weight-medium"> Seria </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.serial }}
        </ion-text>
      </div>

      <div class="mt-21 mb-36">
        <div>
          <ion-text class="input-label text-weight-medium"> Numărul: </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.policyNrPolita }}
        </ion-text>
      </div>
      <ng-container
        *ngIf="
          policy?.locuintaData?.paidExternalNumarPolita ||
          policy?.locuintaData?.paidExternalSeriePolita
        "
      >
        <div>
          <div>
            <ion-text class="alt-font color-dark-green text-weight-bold h3">
              Reînnoiește PAD
            </ion-text>
          </div>
        </div>

        <div class="mb-13">
          <div class="">
            <ion-text class="input-label text-weight-medium"> Seria </ion-text>
          </div>
          <ion-text class="s18-h24 ion-inherit-color">
            {{ policy?.locuintaData?.paidExternalSeriePolita || '-' }}
          </ion-text>
        </div>

        <div class="mt-13 mb-36">
          <div class="">
            <ion-text class="input-label text-weight-medium">
              Numărul:
            </ion-text>
          </div>
          <ion-text class="s18-h24 ion-inherit-color">
            {{ policy?.locuintaData?.paidExternalNumarPolita || '-' }}
          </ion-text>
        </div>
      </ng-container>
      <div class="mb-16">
        <ion-text class="alt-font color-dark-green text-weight-bold h3">
          Asigurat
        </ion-text>
      </div>

      <div class="mb-13">
        <div class="">
          <ion-text class="input-label text-weight-medium"> Nume </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.userData?.fullName }}
        </ion-text>
      </div>

      <div class="mb-36">
        <div class="">
          <ion-text class="input-label text-weight-medium"> CNP </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.userData?.cnp | cnp }}
        </ion-text>
      </div>
      <div class="mb-36">
        <div class="">
          <ion-text class="input-label text-weight-medium">
            Perioada de valabilitate
          </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.dates?.from | date: 'dd.MM.yyyy' }} -
          {{ policy?.dates?.to | date: 'dd.MM.yyyy' }}
        </ion-text>
      </div>

      <div class="mb-36">
        <div class="">
          <ion-text class="input-label text-weight-medium">
            Suma asigurată
          </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.locuintaData?.value }}
          {{
            policy?.locuintaData?.valueCurrency
              | locuinteField: 'valueCurrency' || '-'
          }}
        </ion-text>
      </div>

      <div class="mb-36">
        <div class="">
          <ion-text class="input-label text-weight-medium">
            Prima de asigurare în sumă de
          </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.insurancePrice  || 0 }}
          {{
            policy?.currency
              | locuinteField: 'valueCurrency' || '-'
          }}
        </ion-text>
      </div>

      <div class="mb-36">
        <div class="">
          <ion-text class="input-label text-weight-medium">
            Încasată în lei conform document
          </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.policyNrChitanta }}
        </ion-text>
      </div>

      <div class="mb-36">
        <div class="">
          <ion-text class="input-label text-weight-medium">
            din data de
          </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.dates?.from | date: 'dd.MM.yyyy' }}
        </ion-text>
      </div>

      <div class="mb-36">
        <div class="">
          <ion-text class="input-label text-weight-medium">
            Locația asigurată
          </ion-text>
        </div>
        <ion-text class="s18-h24 ion-inherit-color">
          {{ policy?.locuintaData?.addressStreet }}
          {{ policy?.locuintaData?.addressStreetNumber }}
          {{ policy?.locuintaData?.addressCity }} jud.
          {{ policy?.locuintaData?.addressCounty }},
          {{ policy?.locuintaData?.addressPostalCode }}
        </ion-text>
      </div>

      <div class="mb-36" *ngIf="policy?.cesiune?.length">
        <div class="">
          <ion-text class="input-label text-weight-medium"> Cesiune </ion-text>
        </div>
        <ion-text
          class="s18-h24 ion-inherit-color"
          *ngFor="let cesiune of policy?.cesiune"
        >
          Denumire cesionar: {{ cesiune?.denumireCesionar || '-' }} <br />
          CUI: {{ cesiune?.cui || '-' }} <br />
          Procent: {{ cesiune?.procent || '-' }}%
        </ion-text>
      </div>
      <div class="bg-grey-2 mx-n32 px-32 pb-60 pt-20 flex">
        <ion-item
          fill="block"
          size="icon-button"
          (click)="downloadPolicy()"
          [disabled]="downloading"
          class="download-btn bg-green color-white btn-sep icon-info position-relative text-normal border-radius-8 mx-n8"
        >
          <ion-icon
            slot="start"
            name="descarca"
            *ngIf="!downloading"
            class="icon-20 p-16 bg-dark-green"
          ></ion-icon>
          <div
            class="spinner-wrp p-16 bg-dark-green flex ion-align-items-center ion-justify-content-center"
            *ngIf="downloading"
            slot="start"
          >
            <ion-spinner
              name="crescent"
              class="icon-20 p-16 bg-dark-green"
            ></ion-spinner>
          </div>

          <ion-label class="text-weight-medium text-normal overflow-visible m-0"
            >Acesta este un sumar. Descarcă Polița completă în format PDF.
          </ion-label>
        </ion-item>
      </div>
    </ion-col>
  </div>
  <ion-row
    class="flex flex-column ion-no-padding w-100 shadow-3 mt-n20"
    *ngIf="calEntry"
  >
    <ion-row>
      <ion-col
        class="ion-no-padding flex flex-1 w-100 flex-column ion-justify-content-center ion-align-items-center"
      >
        <ion-icon
          name="notificare"
          class="radius-50-perc p-10 bg-secondary-blue color-white icon-20 mt-n20"
        ></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="mt-8 px-32">
        <div class="mb-20">
          <div class="">
            <ion-text class="input-label text-weight-medium">
              Notificări
            </ion-text>
          </div>
          <ion-text class="s18-h24 ion-inherit-color w-100">
            Vrei să primești notificări când trebuie să reînnoiești polița sau
            când trebuie să plătești o rată?..
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-items-center ion-text-center mb-24">
        <ion-button
          class="flat no-shadow color-white ion-color-success text-weight-medium px-5"
          size="large"
          shape="round"
          mode="md"
          (click)="addCalendarEntry()"
        >
          Activează notificările
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>
