<ion-content class="bg-white">
  <ion-header [translucent]="false" class="header-element">
    <ion-toolbar
      size="small"
      color="omn-transparent-white"
      class="header-toolbar"
    >
      <ion-buttons slot="start" class="header-buttons"> </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="px-32">
    <div class="align-items-center ion-text-center ion-text-capitalize pt-32">
      <ion-icon
        class="mr-auto ml-auto text-center check-icon-lg"
        name="lg-check-il"
      ></ion-icon>
    </div>

    <div class="text-center mb-8 ion-text-center pt-48">
      <ion-text
        class="alt-font color-dark-green h2 mb-16 text-center text-weight-bold border-bottom-1 border-red pb-8"
      >
        Codul de acces a fost schimbat
      </ion-text>
    </div>
  </div>
</ion-content>
