<div (click)="clickInput()" class="">
  <ion-icon
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength < 1"
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse-outline"
  ></ion-icon>
  <ion-icon
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse"
    *ngIf="digitsLength > 0"
    class="mr-4 password-hide s18-h24"
  ></ion-icon>
  <ion-icon
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength < 2"
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse-outline"
  ></ion-icon>
  <ion-icon
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse"
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength > 1"
  ></ion-icon>
  <ion-icon
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength < 3"
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse-outline"
  ></ion-icon>
  <ion-icon
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse"
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength > 2"
  ></ion-icon>
  <ion-icon
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength < 4"
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse-outline"
  ></ion-icon>
  <ion-icon
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse"
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength > 3"
  ></ion-icon>
  <ion-icon
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength < 5"
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse-outline"
  ></ion-icon>
  <ion-icon
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse"
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength > 4"
  ></ion-icon>
  <ion-icon
    class="s18-h24 password-hide"
    *ngIf="digitsLength < 6"
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse-outline"
  ></ion-icon>
  <ion-icon
    [ngClass]="{ 'color-red': errorLogin }"
    name="ellipse"
    class="mr-4 password-hide s18-h24"
    *ngIf="digitsLength > 5"
  ></ion-icon>
</div>
<form [formGroup]="passForm">
  <ion-input
    #inputField
    formControlName="passcode"
    class="position-absolute bg-white text-center opacity-hide ion-no-border"
    [readonly]="busy"
    type="tel"
    inputmode="tel"
  ></ion-input>
</form>
<ion-grid fixed class="pt-32">
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(1)">1</ion-col>
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(2)">2</ion-col>
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(3)">3</ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(4)">4</ion-col>
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(5)">5</ion-col>
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(6)">6</ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(7)">7</ion-col>
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(8)">8</ion-col>
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(9)">9</ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green"></ion-col>
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green" (click)="clickingInput(0)">0</ion-col>
    <ion-col size="3" class="flex ion-align-items-center ion-justify-content-center s32-h38 alt-font ls-05 h-96 w-104 color-green">
      <ion-icon name="back-arrow" class="color-green s17-h16"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
