<app-sub-page-header [config]="headerConfig"></app-sub-page-header>
<ion-content>
  <ion-grid class="px-32 pt-0 pb-16" >
   
    <ion-row  class="ion-no-padding md hydrated pt-32">
      <ion-text  class="ion-color ion-color-omn-green md hydrated">
        <h4 class="mb-8 ml-8">Reparații urgente la tine acasă</h4>
      </ion-text>
    </ion-row>
    <ion-row  class="ion-no-padding mb-16 md hydrated"  > 
     
      <ion-radio-group class="w-100" allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup> 
      <ng-container *ngFor="let plan of plans; let i=index ">
        <ion-card  [ngClass]="{'fond': plan.state === 'active'}"  style="cursor: pointer;"  class={{plan.cardClass}}>
               
             <ion-row class="position-absolute right-0 top-0 bottom-left-radius-8  px-8 py-8 md ion-color hydrated" [ngClass]="{'ion-color-white-dark-green-b-bg': plan.state === 'active', 'check-bg': plan.state === ''}">   
                <ion-label>
                
                <ion-radio  slot="start" name="{{plan.name}}" value="{{plan.value}}" [checked]="plan.checked"
                  color="{{plan.color}}" disabled="{{plan.disabled}}"></ion-radio>
              </ion-label>
  
      <!--   -->
             
            </ion-row>
            <ion-icon class="mb-0  flex main-icon mh-100 mw-188 position-absolute bottom-0 right-0 svg-absolute-right md hydrated" src={{plan.image}} ></ion-icon>
                 
            <ion-card-content  class="flex flex-1 w-100 ion-text-center mt-auto p-8 text-small text-weight-medium ion-align-items-end ion-justify-content-center mt-0-reset ion-align-items-start ion-text-left pt-12 pr-16 flex-column md card-content-md hydrated" >
            <ion-row  class="ion-no-padding w-100 ion-align-items-start ion-text-left pl-8 pr-52 flex flex-1 flex-column ion-justify-content-center md hydrated" >
              <ion-text  class="w-100 ion-no-padding flex text-weight-bold ls-02 mb-4 md hydrated" color={{plan.textColor}} > {{plan.text}} </ion-text>
              <ion-text  class="w-100 ion-no-padding flex s24-h25 alt-font ls-min-02  md hydrated" color="{plan.state === 'active' ? 'success':'success'}">{{plan.plan}}</ion-text>
              
        </ion-row>
  
        <ion-row class="ion-no-padding content-ref-wrapper flex flex-1 flex-column ion-justify-content-end w-100 pl-8 md hydrated" >
          <ion-row  class="ion-no-padding flex ion-justify-content-between w-100 md hydrated">
            <ion-col class="ion-no-padding flex flex-0 md hydrated">
              <ion-button  (click)="openModal(plan.value)" class="mb-8 mt-0 mx-0 no-shadow flat mr-16 ion-color ion-color-danger md button button-small button-round button-solid ion-activatable ion-focusable hydrated" shape="round" size="small">Vezi ce include</ion-button>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-card-content>  
     </ion-card>

      </ng-container>
    </ion-radio-group>
  </ion-row>
   <ion-row class="ion-no-padding flex w-100 flex-1 pb-16">
    
    <ion-text class="alt-text ion-text-center w-100 right-padding vertical-spacing mb-22 mt-auto ls-min-02">
      Serviciile de intervenție de urgență sunt organizate pe baza notificării telefonice de către Asigurat la Centrul de Urgență, la numarul de telefon 021.9765, apelabil 24 de ore din 24.</ion-text>
    
    <ion-col class="ion-no-padding flex flex-column text-center  ion-justify-content-center p-0 w-50">
      <ion-button class="activate-btn m-0 px-5" color="success" size="large">Continuă</ion-button>
    </ion-col>
    
</ion-row>
  
  </ion-grid>

</ion-content>
