.fond{
    background: var(--ion-color-green-gradient);
    color: #ffffff;  
}   
.activeIcon{
    background: #004220;
    color: #ffffff;  
    
}
.check-bg{
    background: #E5F2EC;
}
.btn-rectangle{
    background-color: #EF6D53;
}