<ion-card
  *ngIf="!item?.routerLink"
  [button]="item?.isButton"
  class="m-0 w-100 flex-column flex is-link"
  [ngClass]="item?.itemClass + ' ' + (item?.isButton ? 'is-button' : ' ')"
  (click)="emitItemEvent('item-click', item)"
>
  <ng-container
    [ngTemplateOutlet]="innerCardContent"
    [ngTemplateOutletContext]="{ item: item }"
  ></ng-container>
</ion-card>
<ion-card
  *ngIf="item?.routerLink"
  [button]="item?.isButton"
  [routerLink]="item?.routerLink"
  class="m-0 w-100 flex-column flex"
  [ngClass]="
    item?.itemClass +
    ' ' +
    (item?.isButton ? 'is-button' : ' ') +
    ' ' +
    (item?.routerLink ? 'is-link' : '')
  "
  (click)="emitItemEvent('item-click', item)"
>
  <ng-container
    [ngTemplateOutlet]="innerCardContent"
    [ngTemplateOutletContext]="{ item: item }"
  ></ng-container>
</ion-card>
<ng-template #innerCardContent let-item="item">
  <ion-icon
    *ngIf="item?.headerIcon"
    [name]="item?.headerIcon?.name"
    [color]="item?.headerIcon?.color"
    [ngClass]="item?.headerIcon?.classes"
    class="position-absolute right-0 top-0 bottom-left-radius-8 header-icon"
    [routerLink]="item?.headerIcon?.routerLink"
  ></ion-icon>
  <ion-icon
    *ngIf="item?.mainIcon"
    [name]="item?.mainIcon?.name"
    [color]="item?.mainIcon?.color"
    [ngClass]="item?.mainIcon?.classes"
    class="mb-0 mx-auto flex main-icon"
  ></ion-icon>
  <ion-card-content
    *ngIf="item?.textContent?.length"
    [ngClass]="item?.contentClass"
    class="flex flex-1 w-100 ion-text-center mt-auto p-8 text-small text-weight-medium ion-align-items-end ion-justify-content-center"
  >
    <ion-row class="ion-no-padding w-100" [ngClass]="item?.textClass">
      <ion-col class="ion-no-padding w-100">
        <ion-text
          class="w-100 ion-no-padding"
          *ngFor="let text of item?.textContent"
          [ngClass]="text?.classes"
          [color]="text?.color"
        >
          {{ text?.text }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row
      *ngIf="item?.contentRef"
      class="ion-no-padding content-ref-wrapper"
      [ngClass]="item?.contentRef?.classes"
    >
      <ng-container
        [ngTemplateOutlet]="item?.contentRef?.item"
        [ngTemplateOutletContext]="{ data: item?.contentRef?.data }"
      ></ng-container>
    </ion-row>
  </ion-card-content>
</ng-template>
