<ion-card
  [button]="item?.isButton"
  class="m-0 w-100 flex-column flex"
  [ngClass]="item?.itemClass"
  (click)="emitItemEvent('item-click', item)"
>
  <ion-icon
    *ngIf="item?.headerIcon"
    [name]="item?.headerIcon?.name"
    [color]="item?.headerIcon?.color"
    [ngClass]="item?.headerIcon?.classes"
    class="icon-20 px-10 py-8 position-absolute right-0 top-0 bottom-left-radius-8"
  ></ion-icon>
  <ion-icon
    *ngIf="item?.mainIcon"
    [name]="item?.mainIcon?.name"
    [color]="item?.mainIcon?.color"
    [ngClass]="item?.mainIcon?.classes"
    class="icon-40 mb-0 mx-auto flex ion-align-self-start"
  ></ion-icon>
  <ion-card-content
    *ngIf="item?.textContent?.length"
    class="flex mt-auto p-8 text-small text-weight-medium ion-align-items-end flex-1 ion-justify-content-center w-100 ion-text-center"
  >
    <ion-col class="ion-no-padding w-100">
      <ion-text
        class="w-100 ion-no-padding"
        *ngFor="let text of item?.textContent"
        [ngClass]="text?.classes"
        [color]="text?.color"
      >
        {{ text?.text }}
      </ion-text>
    </ion-col>
  </ion-card-content>
</ion-card>
