<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
<ion-content>
  <ion-grid class="w-100">
    <ion-row class="ion-justify-content-center mx-16">
      <ion-text color="Success">
        <p class="highlight alt-font s32-h38 ls-05">Întrebări frecvente</p>
      </ion-text>
    </ion-row>

    <!-- FAQs ls-0 -->
    <div class="mt-32">
      <ion-row class="ion-justify-content-center mx-16 bordered" *ngFor="let faq of faqs; let x = index;">
        <button [ngClass]="{'active': isOpen[x]}" value={{x}} id=`{{x}}` class="accordion s18-h24 ls-0 py-16" (click)="handleToogle($event)">{{faq.question}}</button>
        <!-- <div class="panel">
          <p class="text s16-h22 ls-01 mr-16">{{ faq.answer }}</p>
        </div> -->
        <div class="panel text s16-h22 ls-01 mr-16">
          {{ faq.answer }}
        </div>
      </ion-row>
    </div>

    <ion-row class="ion-justify-content-center mx-16 mt-64">
      <p class="highlight alt-font s32-h38 ls-05">Ai și alte întrebări?</p>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16 mt-32">
      <div><b>E-mail:</b></div>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16">
      <p class="s16-h22 ls-01 contact">suport.clienti@omniasig.ro</p>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16 mt-32">
      <div class="blocked"><b>Website:</b></div>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16">
      <p class="s16-h22 ls-01 contact">www.omniasig.ro/OMNIASISTENTA</p>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16 mt-32 mb-64">
      <div class="s16-h22 ls-01">
        Pentru orice întrebare legată de asigurări, daune, asistență tehnică la
        domiciliu sau asistență rutieră, intră în contact cu un reprezentant
        OMNIASIG care îți va răspunde în cel mai scurt timp.
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
