/* HIDE RADIO */
ion-radio { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
ion-radio + ion-icon {
  cursor: pointer;
}

/* CHECKED STYLES */
ion-radio:checked + ion-icon {
  outline: 2px solid #f00;
}