<ion-item class="form-group w-100" [formGroup]="formGroup">
  <ion-label
    class="mb-8 input-label"
    position="stacked"
    [ngClass]="config?.inputLabel?.classes"
    [color]="config?.inputLabel?.color"
    >{{ config?.inputLabel?.text }}</ion-label
  >
  <ion-select
    interface="alert"
    okText="Okay"
    cancelText="Dismiss"
    [compareWith]="compareWithFn"
    formArrayName="select"
    [multiple]="config?.multiple"
  >
    <ng-container *ngFor="let item of items">
      <ion-select-option [value]="item.id">{{ item.label }}</ion-select-option>
    </ng-container>
  </ion-select>
</ion-item>
