<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>

<ion-content class="ion-padding">
  <ion-col size="12" class="px-32 py-16">
    <div class="ion-text-center pb-32">
      <ion-text class="text-small">
        Introdu noul tău cod de acces
      </ion-text>
    </div>
    <div class="ion-text-center pt-32">
      <div (click)="spawnInput()" class="">
        <ion-icon
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength < 1"
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse-outline"
        ></ion-icon>
        <ion-icon
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse"
          *ngIf="digitsLength > 0"
          class="mr-4 password-hide s18-h24"
        ></ion-icon>
        <ion-icon
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength < 2"
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse-outline"
        ></ion-icon>
        <ion-icon
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse"
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength > 1"
        ></ion-icon>
        <ion-icon
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength < 3"
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse-outline"
        ></ion-icon>
        <ion-icon
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse"
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength > 2"
        ></ion-icon>
        <ion-icon
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength < 4"
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse-outline"
        ></ion-icon>
        <ion-icon
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse"
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength > 3"
        ></ion-icon>
        <ion-icon
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength < 5"
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse-outline"
        ></ion-icon>
        <ion-icon
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse"
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength > 4"
        ></ion-icon>
        <ion-icon
          class="s18-h24 password-hide"
          *ngIf="digitsLength < 6"
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse-outline"
        ></ion-icon>
        <ion-icon
          [ngClass]="{
            'color-red': InvalidCode,
            'color-disabled': busy
          }"
          name="ellipse"
          class="mr-4 password-hide s18-h24"
          *ngIf="digitsLength > 5"
        ></ion-icon>
      </div>
      <form [formGroup]="passForm">
        <ion-input
          #inputField
          formControlName="digit"
          class="position-absolute bg-white text-center opacity-hide ion-no-border"
          maxlength="6"
          required="true"
          type="string"
          inputmode="number"
          autofocus="true"
        ></ion-input>
      </form>
    </div>
  </ion-col>
</ion-content>
