<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>

<ion-content>
    <ion-row size="12" class="px-32">
        <ion-col class="pl-32">
            <div class="ion-text-center pb-32">
                <ion-text class="text-small">
                    Introdu noul tău cod de acces
                </ion-text>
            </div>
            <div class="ion-text-center pt-32">
                <app-passcode-field [errorLogin]="InvalidCode" (doPassForm)="continue($event)"></app-passcode-field>
            </div>
        </ion-col>
    </ion-row>
</ion-content>