<div
  (click)="toggleAccordion()"
  class="px-16 position-relative py-8 flex ion-align-items-center"
>
  <ion-label class="px-16 s18-h24 color-dark-green text-weight-medium">{{
    name
  }}</ion-label>
  <ion-icon
    *ngIf="isMenuOpen"
    role="button"
    class="mb-0 flex main-icon position-absolute position-absolute right-0 md hydrated pr-20 color-dark-green icon-20 my-10"
    name="sm-chevron-up"
  ></ion-icon>
  <ion-icon
    *ngIf="!isMenuOpen"
    role="button"
    class="mb-0 flex main-icon position-absolute right-0 top-0 md hydrated pr-20 color-dark-green icon-20 my-10"
    name="sm-chevron-down-t"
  ></ion-icon>
</div>
<ion-row
  [ngClass]="this.isMenuOpen ? 'active' : 'inactive'"
  class="document-details"
>
  <ion-list *ngFor="let item of doc">
    <ion-item
      class="expandable-item ml-32 position-relative"
      [routerLink]="['../../document-page', item]"
    >
      <span
        class="triangular-bullet position-absolute top-0 left-0 ml-n16"
        slot="start"
        >&#8227;</span
      >

      <ion-col class="w-100 ion-no-paddin">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <h6 class="expeditor">
              {{ item.name }}
            </h6>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-text class="data float-right">
              {{ item.date }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-text class="subiect">
            {{ item.desc }}
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-row>
