<ion-col class="ion-no-padding">
  <!-- not-insured -->
  <ion-card *ngIf="variant === 'not-insured'" class="m-0 bottom-radius-40">
    <ion-icon
      name="md-lock-light"
      color="light-gray-2"
      class="position-absolute right-0 top-0 bottom-left-radius-8 header-icon p-11 ion-color-omn-disabled-icon"
    ></ion-icon>
    <ion-card-content>
      <ion-row class="mb-32">
        <ion-col>
          <ion-text color="omn-green" class="link-small text-weight-medium"
            >Asigurare</ion-text
          >
        </ion-col>
      </ion-row>

      <ion-row class="mb-32">
        <ion-col>
          <ion-text class="s18-h24">
            Ne pare rău, însă locuința ta nu poate fi asigurată prin intermediul
            aplicației. Te rugăm să ne contactezi pentru o ofertă personalizată
            de asigurare.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            color="success"
            fill="solid"
            expand="block"
            size="large"
            class="m-0 w-100 flat no-shadow"
          >
            Contactează-ne
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- not found -->
  <ion-card *ngIf="variant === 'not-found'" class="m-0">
    <ion-icon
      name="alert-circle"
      class="position-absolute right-0 top-0 bottom-left-radius-8 header-icon py-8 ion-color-omn-disabled-icon color-red alert"
    ></ion-icon>
    <ion-card-content>
      <ion-row class="mb-32">
        <ion-col>
          <ion-text color="omn-green" class="link-small text-weight-medium"
            >Asigurare</ion-text
          >
        </ion-col>
      </ion-row>

      <ion-row class="mb-32">
        <ion-col>
          <ion-text class="s18-h24 color-red">
            Nu am detectat existența unei polițe PAD active, ceea ce înseamnă că
            locuința ta nu e asigurată!
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="mb-32">
        <ion-col>
          <ion-row class="mb-16">
            <ion-button
              (click)="presentModal()"
              fill="solid"
              expand="block"
              size="large"
              class="m-0 w-100 no-shadow bg-light-green color-green text-weight-normal"
            >
              Vezi cât costă să te asiguri
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button
              color="success"
              fill="solid"
              expand="block"
              size="large"
              class="m-0 w-100 no-shadow flat text-weight-normal"
              [routerLink]="['/policy', 'form']"
              [queryParams]="{ policyType: 'PAD' }"
            >
              Asigură-te
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row
        class="mb-n16 mr-n16 ml-n16 px-16 py-16 ion-color-omn-disabled-icon"
      >
        <ion-col>
          <ion-text class="link-small mb-16">
            Daca ai o asigurare obligatorie valabilă, te rugăm să ne spui seria
            și numărul acesteia, ca să iți amintim să o reînnoiești atunci când
            expiră.
          </ion-text>
          <ion-row>
            <div class="flex">
              <ion-item lines="none" class="form-group mr-16 mw-116">
                <ion-label
                  position="stacked"
                  class="mb-8 link-small color-tertiary-grey input-label mb-8"
                  >Serie</ion-label
                >
                <ion-input class="bg-white"></ion-input>
              </ion-item>
              <ion-item lines="none" class="form-group">
                <ion-label
                  position="stacked"
                  class="mb-8 link-small color-tertiary-grey input-label mb-8"
                  >Număr</ion-label
                >
                <ion-input class="bg-white"></ion-input>
              </ion-item>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- found -->
  <ion-card *ngIf="variant === 'found'" class="m-0 bottom-radius-40">
    <ion-icon
      name="add"
      size="large"
      class="position-absolute right-0 top-0 bottom-left-radius-8 header-icon p-2 bg-light-green-2 color-white add"
    ></ion-icon>
    <ion-card-content class="pb-16">
      <ion-row class="mb-32">
        <ion-col>
          <ion-text color="omn-green" class="link-small text-weight-medium"
            >Asigurare</ion-text
          >
        </ion-col>
      </ion-row>

      <ion-row class="mb-13">
        <ion-col>
          <ion-row class="w-100 flex-column">
            <ion-label class="link-small text-weight-medium color-tertiary-grey"
              >Polița PAD</ion-label
            >
            <!-- e.g Serie: AB-018 -->
            <ion-text class="s18-h24">
              Serie:  {{ locuintaData.paidExternalSeriePolita}}
            </ion-text>
            <!-- e.g Număr: 00012345678 -->
            <ion-text class="s18-h24">
              Număr: {{ locuintaData.paidExternalNumarPolita}}
            </ion-text>
            <!-- e.g Dată emitere: 08-05-2020 -->
            <ion-text class="s18-h24">
              Dată emitere: {{ locuintaData.PaidExternalDataPolita | date: 'dd-MM-yyyy' }}
            </ion-text>
            <!-- e.g Dată început: 13-05-2020 -->
            <ion-text class="s18-h24">
              Dată început: {{ locuintaData.paidExternalDataStartValabilitatePolita | date: 'dd-MM-yyyy' }}
            </ion-text>
            <!-- e.g Dată sfârșit: 12-05-2021 -->
            <ion-text class="s18-h24">
              Dată sfârșit: {{ locuintaData.paidExternalDataStopValabilitatePolita | date: 'dd-MM-yyyy' }}
            </ion-text>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-row class="mb-16">
            <ion-button
              fill="solid"
              expand="block"
              size="large"
              class="m-0 w-100 no-shadow bg-light-green color-green text-weight-normal flat"
              (click)="getAmplus()"
            >
              Vezi cât costă să te asiguri
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button
              color="success"
              fill="solid"
              expand="block"
              size="large"
              class="m-0 w-100 no-shadow flat text-weight-normal"
              [routerLink]="['/policy', 'form']"
              [queryParams]="{ policyType: 'AMPLUS' }"
            >
              Cumpără asigurare facultativă
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!--  -->
</ion-col>
