@import './variables.scss';
@import './mixins/mixins';
@import './components/index';

body.omn {
  --color: var(--color);
}

.flex-1 {
  flex: 1;
}
.flex {
  @include flexbox();
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.flex-column {
  @include flex-direction(column);
}
.bottom-radius-40 {
  border-bottom-left-radius: rem(40);
  border-bottom-right-radius: rem(40);
}
.h-272 {
  height: rem(272);
}
