@import './variables.scss';
@import './mixins/mixins';
@import './components/index';

body.omn {
  --color: var(--app-text-color);
  --ion-default-font: var(--ion-font-family);
}

.flex-1 {
  flex: 1;
}
.flex {
  @include flexbox();
}

.flex-0 {
  flex: 0;
}

.flex-column {
  @include flex-direction(column);
}
.flex-row-reverse {
  @include flex-direction(row-reverse);
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-visible {
  overflow: visible;
}

.omn-gradient-image {
  background: $green-gradient;
  background-image: url('/assets/custom-ion-icons/md-omn-green-bg.svg'),
    $green-gradient;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
