@import './variables.scss';
@import './mixins/mixins';
@import './components/index';

.flex-1 {
  flex: 1;
}
.flex {
  @include flexbox();
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.bottom-radius-40 {
    border-bottom-left-radius: rem(40);
    border-bottom-right-radius: rem(40);
}