<ion-header [translucent]="false" class="header-element">
  <ion-toolbar size="small" color="omn-transparent-white" class="header-toolbar">
    <ion-buttons slot="start" class="header-buttons m-0 p-8 ml-n8">
      <ion-button class="header-button m-0">
        <ion-icon slot="icon-only" name="md-close-2" class="icon-20 header-button-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="px-32">
    <ion-grid>

      <ion-row class="pb-40">
        <ion-col class="">
          <div class="text-center ion-text-center">
            <ion-text class="alt-font color-dark-green x-large text-center">
              TERMENI ȘI CONDIȚII <br>
              de utilizare a aplicației <br>
              mobile OMNIASIG
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pb-64">
          <ion-text>an/data/versiune</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            Prezentul document, denumit „TERMENI ȘI CONDIȚII”, stabilește regulile de prestare a serviciilor furnizate pe cale
            electronică de către societatea OMNIASIG Vienna Insurance Group S.A. și regulile cu privire la încheierea contractelor
            de asigurare și instrumentarea dosarelor de daună, prin intermediul aplicației mobile OMNIASIG.

            Vă rugăm să parcurgeți cu atenție Termenii și condițiile de utilizare a aplicației OMNIASIG de vânzare asigurări și
            instrumentare dosare de daună. Continuarea utilizării aplicației, reprezintă acordul dumneavoastră asupra acestor
            Termeni și condiții.
            Accesarea serviciilor prezentate în “Termeni și Condiții” corespunde cu acceptarea clauzelor din prezentul document
            „TERMENI ȘI CONDIȚII”, care împreună cu condițiile de asigurare, reprezintă parte integrantă a contractului de asigurare
            încheiat prin intermediul aplicației.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            Vă rugăm să parcurgeți cu atenție Termenii și condițiile de utilizare a aplicației 
          </ion-text>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
