<ion-header [translucent]="false" class="header-element">
  <ion-toolbar size="small" color="omn-transparent-white" class="header-toolbar">
    <ion-buttons slot="start" class="header-buttons m-0 p-8 ml-n8">
      <ion-button class="header-button m-0">
        <ion-icon slot="icon-only" name="md-close-2" class="icon-20 header-button-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="px-32">
    <ion-grid>

      <ion-row class="pb-40">
        <ion-col class="">
          <div class="text-center ion-text-center">
            <ion-text class="alt-font color-dark-green x-large text-center">
              TERMENI ȘI CONDIȚII <br>
              de utilizare a aplicației <br>
              mobile OMNIASIG
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pb-64">
          <ion-text>an/data/versiune</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            Prezentul document, denumit „TERMENI ȘI CONDIȚII”, stabilește regulile de prestare a serviciilor furnizate pe cale
            electronică de către societatea OMNIASIG Vienna Insurance Group S.A. și regulile cu privire la încheierea contractelor
            de asigurare și instrumentarea dosarelor de daună, prin intermediul aplicației mobile OMNIASIG.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            Vă rugăm să parcurgeți cu atenție Termenii și condițiile de utilizare a aplicației OMNIASIG de vânzare asigurări și
            instrumentare dosare de daună. Continuarea utilizării aplicației, reprezintă acordul dumneavoastră asupra acestor
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            Este necesară parcurgerea întregii pagini.
            Te rugăm să derulezi până la capăt.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            Accesarea serviciilor prezentate în “Termeni și Condiții” corespunde cu acceptarea clauzelor din prezentul document
            „TERMENI ȘI CONDIȚII”, care împreună cu condițiile de asigurare, reprezintă parte integrantă a contractului de asigurare
            încheiat prin intermediul aplicației.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            Documentul „TERMENI ȘI CONDIȚII” are următorul cuprins:
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ol>
            <li>
              Identitatea prestatorului de servicii prin intermediul aplicației
            </li>
            <li>
              Definiții
            </li>
            <li>
              Modalitatea de prestare a serviciilor pe cale electronică
              <ol>
                <li>Tipurile de servicii prestate</li>
                <li>Folosirea aplicației și protejarea informațiilor transmise</li>
              </ol>
            </li>
            <li>
              Reguli privind încheierea contractelor de asigurare
              <ol>
                <li>Activități legate de încheierea contractului</li>
                <li>Costuri legate de încheierea contractului</li>
                <li>Modalități de plată</li>
                <li>Confirmarea privind încheierea contractului</li>
              </ol>
            </li>
            <li>
              Renunțarea utilizatorului la contractul de asigurare
            </li>
            <li>
              Reguli privind avizare/constatare dosar daună
            </li>
            <li>
              Sesizări, Petiții / Reclamațiia
            </li>
            <li>
              Limba
            </li>
            <li>
              Protecția datelor cu caracter personal
            </li>
            <li>
              Dreptul de autor
            </li>
            <li>
              Modificări ale documentului “TERMENI ȘI CONDIȚII”
            </li>
            <li>
              DISPOZIȚII FINALE
            </li>
          </ol>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            1. Identitatea prestatorului de servicii prin intermediul aplicației
            Serviciile puse la dispoziția clienților, prin intermediul aplicației OMNIASIG sunt prestate de societatea OMNIASIG
            VIENNA INSURANCE GROUP S.A. denumită în continuare „OMNIASIG” sau “Prestatorul de servicii”, societate de asigurare,
            autorizată de Autoritatea de Supraveghere Finanaciara (A.S.F.) să desfășoare activitatea de asigurare în România și
            înregistrată în Registrul Asigurătorilor sub numărul RA – 047/10.04.2003
            Datele de identificare OMNIASIG VIENNA INSURANCE GROUP S.A.:
            Forma de organizare: societate administrată în sistem dualist
            Sediul social: Aleea Alexandru, nr. 51 sector 1, București;
            Capitalul social: 506.352.385 lei
            Codul Unic de Înregistrare (CUI): 14360018
            Numărul De Ordine în Registrul Comerțului: J40/10454/2001
            Cod LEI 529900AB9YD8CLGBE756
            Date de contact: office@omniasig.ro
            
                
          </ion-text>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-text>
            2. Definiții
            Prin definițiile folosite în “Termeni și Condiții” trebuie înțeles:
            autentificarea/logarea – identificarea de către aplicația mobilă OMNIASIG a Utilizatorului, care se va loga cu condiția
            scrierii de către utilizator a numelui/denumirii utilizatorului (login-ul) și a parolei;
            asiguratul – persoana, a carei sănătate sau bunuri sunt protejate în baza contractului de asigurare
            asigurătorul – Societatea de asigurări OMNIASIG VIENNA INSURANCE GROUP S.A. („OMNIASIG”) cu sediul Aleea Alexandru, nr.
            51 sector 1, București persoană juridică română autorizată în condițiile legii să desfășoare activități de asigurare;
            aplicația mobilă – aplicație software concepută pentru a rula pe un dispozitiv mobil, cum ar fi un telefon sau o
            tabletă, destinată încheierii contractelor de asigurare și avizarea și intrumentarea dosarelor de daună, la cererea
            utilizatorilor, fără prezența fizică a părților (Utilizator-Prestator)
            calculul - calcularea valorii ofertelor de asigurare în baza datelor puse la dispoziție de către Utilizator;
            contractantul – persoana fizică/ juridică care încheie contractul de asigurare pentru asigurarea unui risc privind o
            altă persoană și se obligă față de asigurător să plătească prima de asigurare;
            contractul de asigurare – Prin contractul de asigurare, contractantul asigurării sau asiguratul se obligă să plătească o
            primă asigurătorului, iar acesta din urmă se obligă ca, în cazul producerii riscului asigurat, să plătească o
            indemnizație, după caz, asiguratului, beneficiarului asigurării sau terțului păgubit.
            condițiile generale de asigurare („CGA”) – regulile directoare emise de asigurător, ce reprezintă parte integrantă a
            contractului de asigurare și reglementează încheierea și realizarea individuală a contractelor de asigurare, drepturile
            și obligațiile părților contractului de asigurare și de asemenea modalitatea de achitare a serviciilor de către
            asigurător;
            consumatorul – orice persoană fizică sau grup de persoane fizice constituite în asociații, care acționează în scopuri
            din afara activității sale comerciale, industriale sau de producție, artizanale ori liberale (de ex. persoana care
            depune declarația de voință prin aplicație sau cea care încheie contractul de asigurare);
            denumirea utilizatorului (login) - un identificator atribuit Utilizatorului în cadrul aplicației mobile OMNIASIG, acesta
            este un număr unic (un șir de caractere numerice) atribuit de sistem și trimis pe adresa de e-mail dată de Utilizator,
            unde Utilizatorul, declară că adresa poștei electronice dată de acesta nu încalcă drepturile unei terțe persoane, și
            orice eventual litigiu fundamentat pe această bază vor fi soluționate fără participarea OMNIASIG;
            DNT: Formular de analiză a cerințelor și necesităților clienților
            Date cu caracter personal: orice informații privind o persoană fizică identificată sau identificabilă ("persoana
            vizată"), precum utilizatorul aplicației.
            O persoană fizică identificabilă este o persoană care poate fi identificată, direct sau indirect, în special prin
            referire la un element de identificare cum ar fi un nume, un număr de identificare, date de localizare, un identificator
            online, sau la unul sau mai multe elemente specifice, proprii identității sale fizice, fiziologice, genetice, psihice,
            economice, culturale sau sociale.
            "prelucrare" înseamnă orice operaţiune sau set de operaţiuni efectuate asupra datelor cu caracter personal sau asupra
            seturilor de date cu caracter personal, cu sau fără utilizarea de mijloace automatizate, cum ar fi colectarea,
            înregistrarea, organizarea, structurarea, stocarea, adaptarea sau modificarea, extragerea, consultarea, utilizarea,
            divulgarea prin transmitere, diseminarea sau punerea la dispoziţie în orice alt mod, alinierea sau combinarea,
            restricţionarea, ştergerea sau distrugerea;
            "operator" înseamnă persoana fizică sau juridică, autoritatea publică, agenţia sau alt organism care, singur sau
            împreună cu altele, stabileşte scopurile şi mijloacele de prelucrare a datelor cu caracter personal; atunci când
            scopurile şi mijloacele prelucrării sunt stabilite prin dreptul Uniunii sau dreptul intern, operatorul sau criteriile
            specifice pentru desemnarea acestuia pot fi prevăzute în dreptul Uniunii sau în dreptul intern;
            înregistrare/creare cont - acțiunea realizată de utilizator, în cadrul căreia, pe baza unui set de informații introduse
            de utilizator (nume, prenume, copie CI, fotografie, email, telefon, adresă), va crea un cont în aplicația OMNIASIG, și
            îi va permite achiziția online de asigurări de la OMNIASIG, precum și acces la informații privind ofertele, polițele de
            asigurare și la dosarele de dauna, prin intermediul aplicației mobile.
            oferta – documentul emis de OMNIASIG, în baza informațiilor necesare încheierii unui contract de asigurare, furnizate de
            utilizator și salvate în contul acestuia, care conține date de identificare ale bunului asigurat, sumele asigurate,
            franșize (dacă este cazul), perioada de asigurare, contravaloarea primei de asigurare (prețul contractului de asigurare)
            pentru tipul de asigurare ales , solicitate de utilizator, condițiile de asigurare aferente produsului și documentul de
            informare privind produsul de asigurare (PID).
            Ofertele salvate pot fi accesate ulterior în aplicația mobilă OMNIASIG în contul de utilizator. Ofertele sunt valabile
            30 de zile de la data emiterii ofertei. O ofertă poate fi transformată în poliță o singură dată. Odată acceptată de
            utilizator, se emite contract/ poliță de asigurare, iar aceasta nu va mai exista în lista de oferte din contul
            utilizatorului.
            PID - documentul de informare privind produsul de asigurare, al cărui format standard este stabilit prin Regulamentul de
            punere în aplicare (UE) 2017/1469 al Comisiei din 11 august 2017 care conține informații precontractuale referitoare la
            riscurile asigurate, excluderi, restricții de acoperire a riscului, obligațiile asiguratului/contractantului,
            modalitatea de plată, perioada de asigurare și modalitatea de încetare a contractului.
            parola – un șir de caractere pentru identificarea utilizatorului, stabilit de utilizator în scopul obținerii accesului
            autorizat la serviciile de pe pagină;
            sistem teleinformatic – dispozitivele informatice și de programare care colaborează între ele, asigurând procesarea și
            păstrarea precum și trimiterea și preluarea datelor prin rețeaua de telecomunicații cu ajutorul corespunzător pentru
            tipul respectiv al rețelei dispozitivului final.
            utilizatorul – persoana fizică/juridică, care are capacitatea deplină pentru a încheia acte juridice și care folosește
            aplicația mobilă.
            instrumentare daune - procesul de avizare, constatare, evaluare și finalizare a dosarelor de daună.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-32">
          <ion-text>
            <p class="text-weight-bold">3. Modalitatea de prestare a serviciilor pe cale electronică</p>
            <br>
            <p class="text-weight-bold">3.1 Tipurile de servicii prestate</p>
            În cadrul acestei aplicații mobile, OMNIASIG oferă:
            <br>
            <br>
            - Informații despre contracte de asigurare
            <br>
            <br>
            - Emitere contracte de asigurare
            <br>
            <br>
            - Status dosar de daună
            <br>
            <br>
            - Informații generale din activitatea de zi cu zi (rovinietă, ITP etc. )
            <br>
            <br>
            <br>
            <br>
            <p class="text-weight-bold">3.2 Utilizarea aplicației și protejarea informațiilor transmise</p>
            <br>
            Aplicația mobilă OMNIASIG poate fi folosită doar de persoanele care au împlinit 18 ani având capacitatea de a-și
            exercita drepturile și de a-și asuma obligațiile, încheind acte juridice.
            <br>
            <br>
            Utilizarea aplicației mobile este posibilă dacă în browserul de internet al Utilizatorului este activat serviciul java
            script.
            <br>
            <br>
            Pentru accesarea serviciilor disponibile în cadrul aplicației OMNIASIG, Utilizatorul iși va crea un cont prin accesarea
            opțiunii “creare cont utilizator”, iar în cazul în care Utilizatorul are deja un cont creat va accesa opțiunea
            “Autentificare”.
            <br>
            <br>
            Crearea unui cont, în cadrul aplicației presupune transmiterea unui set de informații și documente.
            <br>
            <br>
            Aplicația mobilă OMNIASIG este protejată cu ajutorul conectării cifrate folosind protocolul ………….. Transferul datelor
            personale precum și procesul de autorizare, dacă sunt utilizate, are loc cu ajutorul protocolului de securitate SSL –
            128 biti. OMNIASIG depune toate eforturile, pentru a asigura securitatea datelor trimise.
            <br>
            <br>
            Crearea unui cont de utilizator se face parcurgând următoarele etape:
            <br>
            <br>
            a) Înregistrarea utilizatorului:
            <br>
            <br>
            ● Se solicită numărul de telefon, iar pe acel număr de telefon este transmis un SMS cu codul de verificare.
            <br>
            <br>
            ● Se prezintă documentul notă de informare privind prelucrarea datelor cu caracter personal, iar utilizatorul confirmă
            luarea la cunoștință de conținutul acestui document.
            <br>
            <br>
            ● Se parcurge etapa de exprimare a consimțămintelor, acolo unde cazul: exprimarea consimțământului privind utilizarea
            datelor biometrice, respectiv a imaginii faciale strict în vederea validării identității pentru crearea contului în
            aplicația mobilă OMNIASIG; exprimarea consimțământului pentru prelucrarea datelor în scop de marketing.
            <br>
            <br>
            ● Utilizatorul își exprimă acordul cu privire la termenii și condițiile de utilizare a aplicației.
            <br>
            <br>
            ● Se crează un cod unic de acces, se confirmă și acesta va deveni codul pe baza căruia se face conectarea.
            <br>
            <br>
            ● Utilizatorul poate opta pentru conectarea pe bază de face ID.
            <br>
            <br>
            ● Se introduc datele utilizatorului (nume, prenume, CNP și adresă de email). După introducerea acestor date, contul a
            fost creat.
            <br>
            <br>
            ● Pentru activarea contului se va face verificarea adresei de email și verificarea identității (în acord cu prevederile
            legale în vigoare care reglementează obligativitatea de cunoaștere a clientului, inclusiv cu prevederile privind
            prevenirea și combaterea spălării banilor).
            <br>
            <br>
            ● La adresa de email se va transmite un mesaj care va valida adresa de email.
            <br>
            <br>
            ● Validarea identității utilizatorului pentru crearea contului în aplicația mobila OMNIASIG, se poate efectua doar pe
            baza imaginii faciale (face iD), în cazul în care (la pasul anterior) utilizatorul și-a exprimat consimțământul în acest
            sens.
            <br>
            <br>
            ● Se verifică identitatea prin transmiterea unei fotografii, a cărții de identitate și a unei fotografii faciale selfie.
            <br>
            <br>
            ● În cel mai scurt timp, se va face verificarea fotografiilor din cartea de identitate și din selfie și se va transmite
            o notificare pe adresa de email.
            <br>
            <br>
            ● Exprimarea opțiunilor de marketing, în ecranul de baza, Homepage.
            <br>
            <br>
            <br>
            <br>
            b) Autentificare utilizator: după înregistrarea contului și validarea acestuia, autentificarea se va face, pe baza
            alegerii utilizatorului, pe bază de cod de acces (stabilit în procesul de înregistrare și cunoscut de utilizator) sau pe
            bază de FaceID (se stabilește în procesul de înregistrare). Funcția Face ID îți permite să deblochezi securizat un
            dispozitiv și permite utilizarea aplicației și de către utilizatorii cu dizabilități fizice;
            <br>
            <br>
            c) Editare informații: este un modul, valabil dupa autentificare, care dă acces la informațiile personale, la adăugarea
            de noi informații, modificarea sau ștergerea acestora. Informațiile care vor fi accesibile în acest modul sunt: număr
            telefon, schimbare parolă, schimbare email și schimbare certificate de identitate.
            <br>
            <br>
            Aplicația se adresează unei singure persoane, care se va autentifica printr-un număr de telefon și un CNP, conform
            etapelor menționate mai sus.
            <br>
            <br>
            Parola (codul unic de acces obținut conform regulilor prezentate mai sus la punctul a) trebuie păstrată într-un loc
            sigur sau memorată. OMNIASIG nu poate fi ținută răspunzătoare pentru eventualele daune provocate de punerea la
            dispoziție de către Utilizator a parolei și a numelui de utilizator persoanelor neautorizate.
            <br>
            <br>
            Utilizatorul are posibilitatea de a încheia în orice moment utilizarea serviciilor prestate pe cale electronică. În
            plus, utilizatorul are posibilitatea de a salva oferta, în orice moment, chiar dacă nu este completă, prin opțiunea
            „Salvează”. Pentru a crea un nou cont, utilizatorul trebuie să specifice: prenumele, numele, data nașterii, numărul de
            telefon mobil, adresa de e-mail, denumirea utilizatorului și parola. După re-logarea la aplicație și alegerea opțiunii
            „Contul meu”, Utilizatorul are acces la datele salvate anterior.
            <br>
            <br>
            Utilizatorul are posibilitatea în orice moment să corecteze erorile sale apărute la introducerea datelor sale în cadrul
            opțiunii „ Datele mele”.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-32">
          <ion-text>
            <p class="text-weight-bold">4. Reguli privind încheierea contractelor de asigurare</p>
            <br>
            <p class="text-weight-bold">4.1 Activități legate de încheierea contractului</p>
            <br>
            Contractul de asigurare este încheiat prin intermediul aplicației, în baza:
            - Formularului de analiză a cerințelor și necesităților clienților (DNT);
            <br>
            <br>
            - Validarea condițiilor de excludere;
            <br>
            <br>
            - Parcurgerea Documentului de informare;
            <br>
            <br>
            - Completarea adresei și a datelor necesare pentru emiterea unei oferte, inclusiv solicitarea de cesiune a poliței (daca
            este cazul);
            <br>
            <br>
            - Introducerea perioadei de valabilitate, selectarea planului de asistență tehnică și a modalității de plată (integral
            sau în rate);
            <br>
            <br>
            - Validării datelor;
            <br>
            <br>
            - Ofertei de asigurare;
            <br>
            <br>
            - Condițiilor de asigurare;
            <br>
            <br>
            - Plății contractului.
            <br>
            <br>
            <br>
            <br>
            Utilizatorul, după citirea “Termeni și Condiții în urma efectuării testului de nevoi și cerințe (“DNT)” și optarea
            pentru un produs de asigurare, ia la cunoștință de condițiile de asigurare (CG) specifice produsului pentru care a optat
            și care vor fi afișate în cadrul aplicației OMNIASIG.
            <br>
            <br>
            Utilizatorul are obligația de a citi cu atenție și în totalitate cuprinsul CGA înainte de a completa cererea.
            <br>
            <br>
            În cadrul cererii de oferta Utilizatorul este obligat să depună declarațiile referitoare la:
            <br>
            <br>
            1) Întocmirea și înțelegerea formularului de analiză a cerințelor și necesităților clienților (DNT);
            <br>
            <br>
            2) Aceptarea condițiilor de excludere;
            <br>
            <br>
            3) Parcurgerea Documentului de informare;
            <br>
            <br>
            4) Verificarea datelor;
            <br>
            <br>
            5) Acceptarea ofertei de asigurare și a condițiilor legale (vârstă, înțelegerea DNT, corectitudinea informațiilor
            furnizate);
            <br>
            <br>
            6) Înțelegerea și acceptarea condițiilor de asigurare (CGA).
            <br>
            <br>
            <br>
            <br>
            Utilizatorul își poate exprima acordul pentru procesarea datelor personale în scop de marketing. Consimțământul expres
            în acest scop nu condiționează încheierea contractului de asigurare și poate fi retras oricând pe parcursul derulării
            contractului.
            <br>
            <br>
            Sistemul informatic <span class="text-weight-bold">OMNIASIG</span> analizează cererea de ofertă a Utilizatorului și pregătește automat oferta de asigurare, ce
            include date despre contractul de asigurare precum și informații privind valoarea și modalitatea de plată a primei de
            asigurare.
            <br>
            <br>
            <span class="text-weight-bold">OMNIASIG</span> salveaza în contul personal al utilizatorului, creat în aplicația mobilă OMNIASIG politele și ofertele salvate.
            <br>
            <br>
            Încheierea contractului de asigurare are loc în data intrării în contul bancar indicat a primei de asigurare sau a
            primei rate, ori în momentul confirmării plății (pentru plata online).
            <br>
            <br>
            Prin intermediul aplicației mobile, se pot emite următoarele polițe de asigurare:
            <br>
            <br>
            a) PAD: utilizatorul selectează emiterea unei polițe PAD. Primul pas este reprezentat de formularul de analiză a
            cerințelor și necesităților clienților (DNT), în cazul în care se dă acordul, se prezintă condițiile de excludere, se
            afișează PID, se preiau din contul utilizatorului datele persoanei asigurate și adresa bunului asigurat, se solicită
            informații necesare emiterii acestei polițe, se solicită date legate de cesiunea poliței (daca este cazul), se face
            verificarea datelor, cu solicitarea acordului privind înțelegerea documentului de informare și celelalte informații
            legale (confirmarea vârstei, completarea și înțelegerea DNT, confirmarea datelor furnizate), se face plata prin
            operatorul de plăți și se afișează polița în format pdf, în aplicație. Polița de asigurare va fi însoțită de Nota de
            Informare. Polița PAD emisă se afișează în secțiunea “Asigurările mele” și este valabilă pentru acces oricând.
            <br>
            <br>
            b) Garant Amplus: utilizatorul selectează emiterea unei polițe Garant Amplus. După testul DNT, prin care stabilim
            justețea emiterii unei oferte, în funcție de îndeplinirea condițiilor de excludere (an construcție, material construcție
            și utilizare construcție), se afișează PID, se preiau din contul utilizatorului datele persoanei asigurate și adresa
            bunului asigurat, se introduc date legate de anexe, se solicită date legate de cesiunea poliței, dacă este cazl, datele
            legate de valabilitate, se alege un tip de asistență tehnică, se afișează prima de asigurare, se afișează oferta, se
            face plata prin operatorul de plati și se afișează polița în format pdf, în aplicație. Polița de asigurare va fi
            însoțită de Nota de Informare. Polița Garant Amplus emisă se afișează în secțiunea “Asigurările mele” și este valabilă
            pentru acces oricând.
            <br>
            <br>
            c) PAD și Garant Amplus: utilizatorul selectează emiterea celor două polițe, PAD și Garant Amplus. După testul DNT, prin
            care stabilim justețea emiterii unei oferte, în funcție de îndeplinirea condițiilor de excludere (an construcție,
            materiale construcție și utilizare construcție), se afișează PID, se preiau din contul utilizatorului datele persoanei
            asigurate și adresa bunului asigurat, se introduc date legate de anexe, se solicită date legate de cesiune poliță,
            datele legate de valabilitate, se alege un tip de asistenta tehnica, se afișează prima de asigurare, separat pentru
            polița PAD și pentru polița Garant Amplus, se afișează oferta PAD, se afișează oferta Garant Amplus, se face plata prin
            operatorul de plăți și se afișează polițele în format pdf, în aplicație. Polița de asigurare va fi însoțită de Nota de
            Informare. Polițele PAD și Garant Amplus emise, se afișează în secțiunea “Asigurările mele” și este valabila pentru
            acces oricând.
            <br>
            <br>
            <br>
            <p class="text-weight-bold">4.2 Costuri legate de încheierea contractului</p>
            <br>
            Utilizatorul nu va suporta costuri suplimentare legate de încheierea contractului de asigurare, în afară de prima de
            asigurare, care se plătește în lei. Costurile cu folosirea aplicației, mentenanța acesteia și expedierea poliței de
            asigurare nu sunt în sarcina utilizatorului.
            <br>
            <br>
            <p class="text-weight-bold">4.3 Modalitatea de plată</p>
            <br>
            Pentru plata contractului de asigurare, utilizatorul va folosi serviciul oferit de Global Payment, parte a grupului
            bancar BCR. Serviciul este integrat în aplicație și se va regăsi în pașii de emitere a poliței.
            <br>
            <br>
            <p class="text-weight-bold">4.4 Confirmarea privind încheierea contractului</p>
            <br>
            OMNIASIG confirmă încheierea contractului de asigurare, după efectuarea plății, prin afișarea poliței de asigurare în
            ecranul smartphone-ului/tabletei, iar ulterior toate documentele Poliței, documentul de informare precontractuală (PID),
            oferta, contractul de asigurare și condițiile de asigurare vor fi trimise pe mail clientului.
            <br>
            <br>
            Polița devine activă după achitarea primei și contabilizarea plății în contul OMNIASIG. Polițele se păstrează în
            aplicația OMNIASIG în contul utilizatorului („Contul Meu”) în fereastra „Polițele mele” și sunt accesibile
            Utilizatorului după logarea la această aplicație. Acestea sunt documente electronice salvate în format PDF.
            <br>
            <br>
            În cazul poliței RCA după încheierea contractului de asigurare, <span class="text-weight-bold">OMNIASIG</span> trimite prin curier documentul poliței de
            asigurare RCA, la adresa indicată de Asigurat. Pâna la data primirii prin curier a poliței RCA originale, Asiguratul se
            poate servi de documentul poliței electronice împreună cu dovada de plată a primei de asigurare sau a primei rate.
            <br>
            <br>
            Polițele de asigurare sunt accesibile Asiguratului în versiunea electronică/PDF.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-32">
          <ion-text>
            <p class="text-weight-bold">5. Renunțarea Contractantului/Asiguratului la contractul de asigurare</p>
            <br>
            În cazul contractelor încheiate la distanță (prin mijloace on-line), Contractantul/Asiguratul are posibilitatea ca în
            termen de 14 zile de la încheierea contractelor de asigurare facultative, să solicite încetarea acestora, fără a fi
            necesară invocarea unui motiv, în condițiile în care nu s-au produs riscuri asigurate. În această situație, Asigurătorul
            va returna integral Asiguratului/Contractantului prima achitata, în baza cererii scrise de renunțare la poliță.
            <br>
            <br>
            În materia asigurării de răspundere civila obligatorie (RCA) se aplică reglementările specifice acestei asigurări care
            derogă de la cele menționate mai sus.
            <br>
            <br>
            În cazul înstrăinării bunului asigurat pe o poliță de asigurare facultativă, contractul de asigurare încetează de drept
            de la data înstrăinării, dacă părțile nu au agreat altfel printr-un act additional, anterior înstrăinării.
            <br>
            <br>
            În cazul radierii autovehiculului din circulație Asiguratul poate solicita în scris, încetarea contractului.
            <br>
            <br>
            În cazul transferului de proprietate a autovehiculului asigurat pe o poliță de asigurare obligatorie a vehiculelor (RCA)
            sau a radierii acestuia, Asiguratul poate solicita încetarea contractului cu data radierii sau, în cazul transferului de
            proprietate (ex vânzare/donație), cu data la care depune documentele justificative la Asigurător.
            <br>
            <br>
            În cazul în care s-au înregistrat daune înainte de încetare, primele de asigurare pentru perioada rămasă până la
            expirare nu se mai restituie, iar dacă ulterior restituirii se vor aviza daune pentru perioada de valabilitate prima
            restituită poate fi solicitată înapoi de către Asigurător.
            <br>
            <br>
            Solicitarea privind încetarea contractului, cererea de restituire a primei și actele doveditoare (dovada
            înstrăinării/radierii și specificarea numărului de cont IBAN, extrasul de cont bancar) se vor trimite pe adresa :
            <br>
            <br>
            <span class="text-weight-bold">OMNIASIG VIENNA INSURANCE GROUP S.A.,</span> București, 
            Aleea Alexandru nr. 51, Sector 1 sau la <span class="text-weight-bold">Call Center: 0219669</span>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text class="pt-20">
            <p class="text-weight-bold">6. Reguli privind avizare/constatare dosar daună</p>
            <p class="text-weight-bold">Avizarea daunelor</p>
            <br>
            Avizarea daunei se face imediat după producerea daunei sau imediat ce ați luat la cunoștință de producerea acesteia,
            chiar dacă constatarea daunei doriți să o efectuați în altă zi.
            <br>
            <p class="text-weight-bold">Avizarea daunei presupune furnizarea informațiilor despre eveniment:</p>
            <br>
            • Datele de identificare și de contact ale persoanelor implicate în eveniment, în special ale celui care face avizarea,
            ale persoanei ce conducea autovehiculul atât cel asigurat, cât și cel păgubit – dacă este cazul;
            <br>
            <br>
            • Cauzele și împrejurările în care s-a produs evenimentul, inclusiv detalii despre locul evenimentului și momentul
            producerii acestuia – <span class="text-weight-bold">data, ora;</span>
            <br>
            <br>
            • Datele de identificare ale autovehiculelor implicate în eveniment;
            <br>
            <br>
            • Detalii privind <span class="text-weight-bold">locația și starea vehiculului avariat (dacă este sau nu deplasabil);</span>
            <br>
            <br>
            • Locul unde doriți efectuarea constatării.
            <br>
            <br>
            <p class="text-weight-bold">Informațiile de mai sus sunt ușor de furnizat dacă aveți la îndemână, cel puțin, următoarele documente:</p>
            <br>
            <br>
            • Polița de asigurare;
            <br>
            <br>
            • Cartea de identitate/certificatul de înmatriculare al autovehiculului avariat;
            <br>
            <br>
            • Permisul de conducere al persoanei care a condus autovehiculul avariat;
            <br>
            <br>
            • Documentele eliberate de autorități (poliție/pompieri/s.a.) sau constatul amiabil, după caz;
            <br>
            <br>
            Documentele de mai sus, reprezintă o enumerare a informațiilor pe care este util să le aveți la îndemână pentru avizarea
            daunei și <span class="text-weight-bold">nu reprezintă documentele necesare pentru soluționarea daunei.</span>
            <br>
            <br>
            După furnizarea acestor date veți primi numărul de programare la constatare care trebuie reținut și trebuie prezentat la
            punctul de constatare; totodată, veți primi toate informațiile necesare pentru efectuarea constatării daunei
            <br>
            <br>
            <br>
            <p class="text-weight-bold">Constatarea daunelor</p>
            <p class="text-weight-bold">Acte necesare pentru daune CASCO:</p>
            <br>
            • Cartea de identitate / buletin de identitate a/al asiguratului sau a/al delegatului;
            <br>
            <br>
            • Permisul de conducere al persoanei care se afla la volan în timpul producerii evenimentului;
            <br>
            <br>
            • Certificat de înmatriculare al mașinii avariate;
            <br>
            <br>
            • Copie a poliței CASCO sau cunoașterea numărului și seriei poliței;
            <br>
            <br>
            • Procesul verbal, Anexa 2 sau orice alt act emis de poliție din care să reiasă cum și când s-a întâmplat evenimentul
            și, dacă este cazul, cine este vinovat de producerea daunei; aceste acte trebuie prezentate în original;
            <br>
            <br>
            • Împuternicire de la firmă, în cazul în care mașina este în proprietatea unei firme;
            <br>
            <br>
            • Procură notarială în cazul în care nu se poate prezenta proprietarul la constatare;
            <br>
            <br>
            • Împuternicire de la firma de leasing în cazul în care mașina este în proprietatea unei firmei de leasing.
            <br>
            <br>
            Actele menționate mai sus reprezintă minimum necesar pentru deschiderea dosarului de daună. Inspectorii de dauna
            OMNIASIG pot solicita, de la caz la caz, după efectuarea constatării, alte documente în funcție de evenimentul produs.
            <br>
            <br>
            <p class="text-weight-bold">Acte necesare pentru daune RCA</p>
            <br>
            Păgubiții RCA se vor prezenta la sediile sucursalelor OMNIASIG din țară sau în București la Centrele de Daune, cu
            următoarele acte:
            <br>
            <br>
            • Cartea de identitate / buletin de identitate a/al păgubitului/ sau a/al delegatului;
            <br>
            <br>
            • Permisul de conducere al persoanei care se afla la volan în timpul producerii accidentului;
            <br>
            <br>
            • Copie a certificatului de înmatriculare al vehiculului vinovat de producerea accidentului;
            <br>
            <br>
            • Copie a tichetului RCA de producerea evenimentului;
            <br>
            <br>
            • Proces verbal, Anexa 2 sau orice alt act emis de poliție din care să reiasă cum și când s-a întâmplat evenimentul
            precum și (OBLIGATORIU) cine este vinovat de producerea daunei; aceste acte trebuie prezentate în original;
            <br>
            <br>
            • Împuternicire de la firmă în cazul în care mașina este în proprietatea unei firme;
            <br>
            <br>
            • Procură notarială în cazul în care nu se poate prezenta proprietarul la constatare;
            <br>
            <br>
            • Împuternicire de la firma de leasing în cazul în care mașina este în proprietatea unei firme de leasing;
            <br>
            <br>
            Actele menționate mai sus reprezintă minimum necesar pentru deschiderea dosarului de daună. Inspectorii de daună
            OMNIASIG pot solicita, de la caz la caz, acte suplimentare după efectuarea constatării.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            <p class="text-weight-bold">7. Sesizări, Petiții / Reclamații</p>
            <br>
            <p class="text-weight-bold">7.1 Sesizări referitoare la funcționarea aplicației</p>
            <br>
            ..............................................
            <br>
            <br>
            <p class="text-weight-bold">7.2 Petiții/reclamații referitoare la activitatea Omniasig VIG (produsele/serviciile/personalul companiei)</p>
            <br>
            <br>
            Orice persoană fizică sau juridică, dacă se consideră vătămată în drepturile sale se poate adresa societății pentru
            <br>
            <br>
            primirea de lămuriri suplimentare, reanalizarea situației create și soluționarea amiabilă a diferendumului semnalat.
            Pentru soluționarea pe cale amiabilă a situațiilor de acest gen, puteți apela la transmiterea unei petiții, utilizând
            una dintre următoarele modalități:
            <br>
            <br>
            • prin intermediul aplicației, accesând secțiunea „Petiții”;
            <br>
            <br>
            • depunerea la sediul societății (sediul central, sediile sucursalelor, agențiilor, punctelor de lucru OMNIASIG VIG) a
            petiției scrise;
            <br>
            <br>
            • prin e-mail, la adresa reclamații@omniasig.ro;
            <br>
            <br>
            • prin serviciul poștal/ curier, la adresa sediului central: Al. Alexandru, nr. 51, sector 1, București;
            <br>
            <br>
            • prin intermediul site-ului societății www.omniasig.ro - modulul OMNIASISTENȚĂ.
            <br>
            <br>
            Toate petițiile sunt înregistrate în registrul unic de petiții indiferent de modalitatea de primire a acestora: prin
            registratură, prin poșta electronică (e-mail), prin sistemul on-line (modulul Omniasistență). Pentru petițiile primite
            prin una din modalitățile mai sus-menționate, OMNIASIG VIG va transmite un răspuns oficial la adresa indicată de către
            petent (prin e-mail sau prin Poșta Română/curier).
            <br>
            <br>
            Termenul de soluționare a petiției este de maxim 30 zile calendaristice de la data înregistrării primirii acesteia,
            conform prevederilor Normei ASF nr. 18/2017.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            <p class="text-weight-bold">8. Limba</p>
            <br>
            Limba întrebuințată în relațiile dintre Utilizator și Asigurător este limba română.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            <p class="text-weight-bold">9. Protecția datelor personale</p>
            <br>
            OMNIASIG VIG, în calitate de operator de date cu caracter personal, conform obiectului său de activitate, prelucrează
            date cu caracter personal, ca parte componentă și indispensabilă realizării activității pentru care a fost autorizată,
            protejează în egală măsură datele personale aparținând tuturor potențialilor săi clienți, cu responsabilitate și
            respectarea legii clienților săi, colaboratorilor săi, implementând măsuri tehnice și organizatorice adecvate pentru
            confidențialitatea și securitatea acestor date.
            <br>
            <br>
            Din perspectiva prevederilor Regulamentului (UE) 2016/679 privind protecția persoanelor fizice în ceea ce privește
            prelucrarea datelor cu caracter personal și libera circulație a acestor date, a cărui aplicabilitate a început în data
            de 25 mai 2018, prelucrarea datelor cu caracter personal este realizată cu respectarea drepturilor și libertăților
            fundamentale ale persoanelor vizate.
            <br>
            <br>
            Detaliile cu privire la tipurile de date cu caracter personal, scopurile prelucrării, temeiurile juridice, destinatarii
            datelor, transferul datelor personale într-o țară din afara Zonei Economice Europene, perioada de păstrare, drepturile
            persoanei vizate și modalitățile de exercitare ale acestora sunt menționate în documentul “Nota de informare privind
            prelucrarea datelor cu caracter personal“ pus la dispoziția utilizatorilor în procesul de creare cont utilizator, pasul
            imediat următor după introducerea numărului de telefon.
            <br>
            <br>
            Puteți transmite solicitări legate de orice aspecte privind confidențialitatea și prelucrarea datelor cu caracter
            personal pe adresa dedicată (<a [href]='mailtodpo' target="none">dpo@omniasig.ro</a>) sau folosind orice alte modalități de contact utilizate în relația cu
            clienții, în atenția Responsabilului cu Protecția Datelor, conform celor precizate pe pagina web a companiei
            <a [href]="omniasigLink" target="none">www.omniasig.ro</a> – secțiunea Protecția Datelor, urmând să primiți răspunsul nostru în termenul stabilit de prevederile
            legale.
            <br>
            <br>
            De asemenea, politica de protecție a datelor cu caracter personal și politica în domeniul securității informațiilor pot
            fi accesate pe pagina web a companiei <a [href]="omniasigLink" target="none">omniasig.ro</a> – secțiunea “Protecția Datelor“ și “Securitatea datelor“.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            <p class="text-weight-bold">10. Dreptul de autor și materialele incluse în cadrul aplicației</p>
            <br>
            Dreptul de autor pentru aplicația mobilă OMNIASIG, informațiile și materialele incluse în aceasta (denumiri/logo) precum
            și sistemele acesteia sunt proprietatea <span class="text-weight-bold">OMNIASIG</span>. Folosirea aplicației OMNIASIG, a informațiilor și/sau o parte a
            acestora de către terțe persoane necesită acordul prealabil al <span class="text-weight-bold">OMNIASIG</span>.
            <br>
            <br>
            Copierea/distribuirea prin orice metode a materialelor din aplicație nu transferă către persoana în cauză licența
            programelor de software sau drepturile asupra materialelor din aplicație.
            Informațiile și părți ale informațiilor incluse pe aceste pagini sunt supuse modificărilor. OMNIASIG își rezervă dreptul
            de a edita informațiile sau părți ale informațiilor incluse pe aceste pagini fară înștiințarea în prealabil.
            <br>
            <br>
            Utilizatorul este de acord să folosească aplicația numai în scopuri legale. 
            Utilizatorul se obligă că:
            <br>
            <br>
            a) nu va modifica, copia, distribui, transmite, afișa, publica, reproduce, acorda licențe, crea produse derivate,
            transfera sau vinde orice fel de informație sau servicii obținute de pe sau prin intermediul acestei aplicații;
            <br>
            <br>
            b) nu va desfășura și nu va permite desfășurarea activității de cracking sau hacking, sau a atacurilor de genul "negarea
            serviciului". Utilizatorii care violează securitatea sistemelor sau rețelelor pot fi acționați în instanță, civil și
            penal.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-32">
          <ion-text class="s16-h22">
            <p class="text-weight-bold">11. Modificările documentului Termeni și Condiții</p>
            <br>
            <br>
            Prezentul document este obligatoriu din data de ………………….. <span class="text-weight-bold">“Termenii și Conditiile”</span>, cât și modificările acestuia sunt
            accesibile Utilizatorului prin accesarea aplicației, secțiunea <span class="text-weight-bold">Termeni și Condiții.</span>
            <br>
            <br>
            <span class="text-weight-bold">OMNIASIG</span> are dreptul la modificarea unilaterală a prevederilor “Termeni și Condiții”. Modificările intră în vigoare din
            momentul punerii la dispoziție a textului actualizat în cadrul aplicației mobile, împreună cu marcarea numerică a
            următoarei versiuni a documentului. Folosirea de către Utilizatori a aplicației după introducerea acestor schimbări este
            echivalentă cu exprimarea acceptului de către aceștia precum și înțelegerea acestora.
            <br>
            <br>
            În cazul discrepanțelor dintre Termeni și Condiții și condițiile generale de asigurare, prioritate au condițiile
            generale de asigurare, cu respectarea prevederilor referitoare la încheiere și dreptul de a renunța la contract.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="py-20">
          <ion-text class="s16-h22">
            12. DISPOZIȚII FINALE
            <br>
            <br>
            Forță Majoră - <span class="text-weight-bold">OMNIASIG</span> nu își asumă responsabilitatea pentru imposibilitatea de a se conforma obligațiilor prevăzute în
            acești termeni și condiții, ca rezultat al oricărei cauze aflate în afara controlului său, incluzând dar nelimitându-se
            la evenimente fortuite, condiții meteorologice nefavorabile, acțiunea sau inacțiunea guvernului sau a altor autorități
            competente pentru care OMNIASIG nu este responsabilă.
            <br>
            <br>
            Jurisdicție - Acesta aplicație este controlată de către <span class="text-weight-bold">OMNIASIG</span>. Prin accesarea acestei aplicații, Utilizatorul acceptă
            că acest contract și orice dispută legată de acesta sunt guvernate și interpretate în concordanță cu legislația din
            România și se va supune jurisdicției exclusive a instanțelor din România. Această aplicație poate fi accesată de oriunde
            în România și din afara teritoriului României. OMNIASIG nu oferă nici o garanție a incidenței legilor (inclusiv celor de
            proprietate intelectuală) altor țări în afara României. Dacă Clientul accesează acest site din afara României, o face pe
            riscul său și este singurul responsabil de respectarea legilor teritoriului în care se află.
          </ion-text>
        </ion-col>
      </ion-row>


    </ion-grid>
  </div>
</ion-content>
