@import "../../../../../theme/mixins/mixins";
@import "../../../../../theme/variables.scss";

.activation-msg {
    color: var(--app-green-color);
    font-size: rem(20);
}

.input-detail{
  color: var(--ion-color-dark);
  font-size: rem(18);
}

#text-content {
  padding: rem(16);
  border-radius: rem(8);
  font-size: rem(20);
  background-color: $light-green;
  color: var(--app-text-color);
  letter-spacing: -0.2px;
}