<app-sub-page-header [config]="headerConfig"></app-sub-page-header>

<ion-content class="ion-no-margin ion-no-padding">
    <div class=" text-center pt-40">
        <ion-icon name="call-center" class="check-icon-lg mr-28" color="success">
        </ion-icon>
    </div>
    <div class="ion-text-center py-32 px-48">
        <ion-label class="s24-h32 border-danger" color="omn-green">Call Center OMNIASIG</ion-label>

        <div class="pt-26">
            <ion-label class="text-weight-normal">
                Pentru asistență tehnică la domiciliu, detalii despre asigurări sau notificarea unei daune.
            </ion-label>
        </div>

    </div>
</ion-content>

<div class="py-32">
    <ion-button class="activate-btn no-shadow" size="large" color="success" fill="solid" expand="block" class="flex mt-auto mx-24" href="tel:021.224.01.01">
        021.224.01.01
    </ion-button>
</div>