<app-sub-page-header [config]="headerConfig"></app-sub-page-header>

<ion-content class="ion-no-margin ion-no-padding">
  <ion-grid class="ion-no-padding px-32 pb-24 w-10 mh-100p flex flex-column">
    <div class="text-center pt-40 pb-40">
      <ion-icon name="call-center" class="check-icon-lg" color="success">
      </ion-icon>
    </div>
    <div class="ion-text-center">
      <ion-label
        class="s24-h32 border-danger alt-font text-weight-bold"
        color="omn-green"
        >Call Center OMNIASIG</ion-label
      >

      <div class="pt-26 pb-24">
        <ion-label class="text-weight-normal">
          Pentru asistență tehnică la domiciliu, detalii despre asigurări sau
          notificarea unei daune.
        </ion-label>
      </div>
    </div>

    <div class="mt-auto flex w-100">
      <ion-button
        class="activate-btn no-shadow"
        size="large"
        color="success"
        fill="solid"
        expand="block"
        class="flex mt-auto w-100 no-shadow"
        href="tel:021.9669"
      >
        021.9669
      </ion-button>
    </div>
  </ion-grid>
</ion-content>
