<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>

<ion-content>
  <ion-grid class="px-32 pt-32 pb-24 h-100">
    <ion-row
      class="ion-no-padding flex ion-justify-content-center ion-align-items-center flex-column flex-1 mb-32"
    >
      <ion-icon name="lg-casa-il" class="w-100 d-flex lg-casa-il"></ion-icon>
    </ion-row>
    <ion-row class="ion-no-padding flex ion-justify-content-center mb-16">
      <ion-label color="omn-green" class="label-large">
        Asigură-ți locuința
      </ion-label>
    </ion-row>
    <ion-row class="flex ion-justify-content-center mb-16">
      <ion-label class="text-normal ion-text-center">
        Completează datele imobilului pe care vrei să îl protejezi direct în
        aplicație. Vei putea solicita o ofertă de preț pentru asigurarea
        acesteia. Simplu și rapid.
      </ion-label>
    </ion-row>
    <ion-row class="ion-no-padding mt-auto flex w-100 mb-24">
      <ion-button
        type="submit"
        color="success"
        fill="solid"
        expand="block"
        size="large"
        class="m-0 w-100"
        >Adaugă locuință
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
