<ion-content >
    <form class="form-group" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <ion-radio-group >
        <ion-grid class="ion-no-padding">
          <ion-row class="mx-32">
            <ion-col size="12">
              <ion-list-header class="ion-no-padding">
                <ion-label class="input-label mb-14 mt-32"  *ngIf="radioValue">Exista o cesiune?</ion-label>
                <ion-label class="input-label exista-style"  *ngIf="!radioValue">Exista o cesiune?</ion-label>
              </ion-list-header>
            </ion-col>
          </ion-row>
        
          <ion-row class="mx-26 mb-36" *ngIf="radioValue">
            <ion-col size="6">
              <ion-item lines="none" class="ion-no-padding">
                <ion-label class="ion-no-padding radio-label s16-h22">Da</ion-label>
                <ion-radio class="ion-no-padding radio" slot="start" (click)="radioHandler($event)" value="da"></ion-radio>
              </ion-item>
            </ion-col>
    
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label class="radio-label ion-no-padding s16-h22">Nu</ion-label>
                <ion-radio class="radio" slot="start" (click)="radioHandler($event)" value="nu"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="mx-26" id="radio-style" *ngIf="!radioValue">
            <ion-col size="6">
              <ion-item lines="none" class="ion-no-padding">
                <ion-label class="ion-no-padding radio-label s16-h22">Da</ion-label>
                <ion-radio class="ion-no-padding radio" slot="start" (click)="radioHandler($event)" value="da"></ion-radio>
              </ion-item>
            </ion-col>
    
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label class="radio-label ion-no-padding s16-h22">Nu</ion-label>
                <ion-radio class="radio" slot="start" (click)="radioHandler($event)" value="nu"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
    
    
    <div no-padding *ngIf="radioValue">
      <ion-label position="stacked" class="input-label mb-8 mx-32">Număr cesionari</ion-label>

      <ion-grid class="border ion-no-padding">
        
        <ion-row class="mx-32">          
          <ion-col class="icon" size="4">
            <ion-item class="ion-no-padding numar">
              <ion-label class="input-label">
                <ion-icon class="icon-20 ml-12" name="sm-minus" (click)="decreaseItems($event)"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-col>

          <ion-col class="" size="4">
            <ion-item class="ion-no-padding numar">
              <ion-label class="number-input pl-28">{{numberOfItems}}</ion-label>
          </ion-item>
          </ion-col>

          <ion-col class="icon" size="4">
            <ion-item class="ion-no-padding numar">
              <ion-label class="input-label">
                <ion-icon class="icon-20 adder" name="sm-plus" (click)="increaseItems($event)"></ion-icon>
              </ion-label>
            </ion-item> 
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-grid formArrayName="censionar" class="ion-no-padding form-array" *ngFor="let item of itemControls; let i = index;">
        <div [formGroupName]="i">
          <ion-row class="mx-32 mt-40">
            <ion-col class="mb-16" size="12">
              <ion-label class="input-label mb-0">Cesionar {{i + 1}}</ion-label>
            </ion-col>
          </ion-row>
  
          <ion-row class="mx-32 mb-24">
            <ion-col class=""  size="6">
              <ion-item class="form-group w-100 input-tag">
                <ion-label position="stacked" class="mb-8 input-label">CUI</ion-label>
                <ion-input type="text" class="s18-h21" placeholder="Completează" autocomplete="text" formControlName="cui">
                </ion-input> 
              </ion-item>
            </ion-col>
  
            <ion-col class="pl-8" size="6">
              <ion-item class="form-group w-100 input-tag">
                <ion-label position="stacked" class="mb-8 input-label">Procent</ion-label>
                <ion-input type="text" class="s18-h21" placeholder="Completează" autocomplete="text" formControlName="procent">
                </ion-input> 
              </ion-item>
              <!-- <app-input formControlName="procent" [config]="config"
              [type]="config?.type"
              #input
              formControlName="input"
              [placeholder]="config?.placeholder"
              [maxlength]="config?.maxLength"
              [minlength]="config?.minLength"
              [size]="config?.size"
              [step]="config?.spinnerConfig?.step"
              [min]="config?.min"
              [min]="config?.max"
              [clearInput]="config?.clearable"
              [autocorrect]="config?.autoCorrect"
              [autocomplete]="config?.autoComplete"
              [inputmode]="config?.inputMode"
              [class]="config?.inputClasses"
              [ngClass]="{
                'has-spinners ion-text-center': config?.spinnerConfig
              }" -->
              <!-- > -->

              <!-- </app-input> --> -->
            </ion-col>
          </ion-row>
  
          <ion-row class="ml-32 mr-32">
            <ion-col size="12">
              <ion-item class="form-group w-100 input-tag">
                <ion-label position="stacked" class="mb-8 input-label">Denumire cesionar</ion-label>
                <ion-input 
                #input
                [step]="config?.spinnerConfig?.step"
                [min]="config?.min"
                [min]="config?.max"
                type="text" class="input-tag" class="s18-h21" placeholder="Completează" autocomplete="text" formControlName="denumireCesionar">
                </ion-input> 
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

      <ion-grid class="ion-no-padding mt-80">
        <ion-row class="ion-no-padding flex flex-1 mx-32">
          <ion-col class="ion-no-padding flex flex-1 w-100 flex-column ion-justify-content-end mt-22">
            <ion-button type="submit" class="activate-btn w-100 mb-24" color="success" size="large" expand="full" shape="round" mode="md">
              Continuă
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-grid class="ion-no-padding"  *ngIf="!radioValue">
      <ion-row class="ion-no-padding flex flex-1 mx-32">
        <ion-col class="ion-no-padding flex flex-1 w-100 flex-column ion-justify-content-end">
          <ion-button type="submit" class="activate-btn w-100 mb-24" color="success" size="large" expand="full" shape="round" mode="md" disabled>
            Continuă
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
