<ion-grid class="ion-no-padding" [formGroup]="formG">
    <ion-row class="px-16 mt-32 mb-27 flex-column">
        <ion-label class="s13-h15 color-tertiary-grey">Asigurarea locuinței</ion-label>
        <ion-text class="s18-h24 text-weight-medium">Garant AMPLUS</ion-text>
    </ion-row>

    <ion-row class="px-16 mb-32 flex-column">
        <ion-text class="h2 text-weight-bold">Condiţii de asigurare</ion-text>
        <ion-label class="s13-h15 color-tertiary-grey">08.05.20.W.001.0.M</ion-label>
    </ion-row>

    <ion-row class="py-24 px-19 mx-24 border-radius-4 bg-light-green position-fixed top-230">
        <ion-text class="s16-h22 text-center">Este necesară parcurgerea întregii pagini. Te rugăm să derulezi până la capăt.
        </ion-text>
    </ion-row>

    <ion-row class="px-16 s16-h22 mb-13">
        <ng-container *ngFor="let condition of amplusConditions">
            <ion-text class="mb-16">{{ condition }}</ion-text>
        </ng-container>
        <ng-container *ngIf="policyType === 'Garant AMPLUS+ PAD'">
            <ng-container *ngFor="let condition of amplusPadCondtions">
                <ion-text class="mb-16">{{ condition }}</ion-text>
            </ng-container>
        </ng-container>
    </ion-row>

    <ion-row class="alt-bg top-radius-8 bottom-radius-8 mx-24 p-18 mb-16">
        <ion-col size="auto" class="ion-no-padding mr-12">
            <ion-checkbox class="radio-btn radius-0" formControlName="accept"></ion-checkbox>
        </ion-col>
        <ion-col class="ion-no-padding flex flex-column link-small">
            <ion-text>
                Am înțeles și accept Condițiile contractului de asigurare si sunt de acord cu emiterea Politei
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="px-32 mb-24 ion-no-padding">
        <ion-button class="s18-h24 text-weight-medium activate-btn w-100 m-0" size="large" color="success" expand="full" [disabled]="!formG?.valid" shape="round" (click)="doPay()">
            <ion-spinner name="crescent" *ngIf="busy" class="icon-20"></ion-spinner> Plătește</ion-button>
    </ion-row>
</ion-grid>