<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
<ion-content>
  <ion-grid class="ion-no-padding pb-24 h-100 flex flex-column bg-white">
    <ion-row
      class="px-64 flex ion-justify-content-center ion-align-items-center flex-column mb-24"
    >
      <ion-icon name="lg-case-12" class="w-100 d-flex lg-case-12"></ion-icon>
    </ion-row>

    <ion-row class="ion-no-padding flex ion-justify-content-center mx-12 mb-44">
      <ion-label color="omn-green" class="label-x-large alt-font">
        Traian 45, Brașov
      </ion-label>
    </ion-row>

    <ion-row class="pb-32 info">
      <ion-row class="mt-n28 w-100 ion-nowrap ion-align-self-center">
        <ion-button shape="round" class="m-0 fond color-dark-green">
          <span>Șterge</span>
          <ion-icon name="md-bin"></ion-icon>
        </ion-button>

        <ion-button
          shape="round"
          expand="block"
          class="m-0 fond color-dark-green"
        >
          <span>Modifică</span>
          <ion-icon class="" name="md-edit"></ion-icon>
        </ion-button>
      </ion-row>

      <ion-row class="px-32 mt-40 mb-16">
        <ion-label color="omn-green" class="label-large alt-font">
          Informații locuință
        </ion-label>
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Adresa</ion-label
        >
        <ion-text class="s18-h24"
          >Strada Traian 45, Brasov, jud. Brasov</ion-text
        >
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Tip</ion-label
        >
        <ion-text class="s18-h24">Apartament</ion-text>
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Structură de rezistență</ion-label
        >
        <ion-text class="s18-h24">Beton armat</ion-text>
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Anul construcției</ion-label
        >
        <ion-text class="s18-h24">1974</ion-text>
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Valoarea locuinței</ion-label
        >
        <ion-text class="s18-h24">70.000 Euro</ion-text>
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Ocupare</ion-label
        >
        <ion-text class="s18-h24">Permanentă</ion-text>
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Suprafața utilă</ion-label
        >
        <ion-text class="s18-h24">96 mp</ion-text>
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Regim de înălțime</ion-label
        >
        <ion-text class="s18-h24">3 etaje</ion-text>
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Număr de camere</ion-label
        >
        <ion-text class="s18-h24">4</ion-text>
      </ion-row>

      <ion-row class="px-32 mb-13 w-100 flex-column">
        <ion-label class="link-small text-weight-medium color-tertiary-grey"
          >Alarmă antiefracție</ion-label
        >
        <ion-text class="s18-h24">Da</ion-text>
      </ion-row>

      <ion-row class="w-100 mr-16 ion-justify-content-end">
        <ion-label class="mr-18 s18-h21 text-weight-bold">V1</ion-label>
        <ion-label class="mr-18 s18-h21 text-weight-bold">V2</ion-label>
        <ion-label class="s18-h21 text-weight-bold">V3</ion-label>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
