<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
<ion-content *ngIf="locuinta$ | async as locuinta">
  <ion-grid
    *ngIf="locuinta.locuintaState === locuintaState.COMPLETE"
    class="ion-no-padding pb-24 h-100 flex flex-column bg-white"
  >
    <ion-row
      class="px-64 flex ion-justify-content-center ion-align-items-center flex-column mb-24"
    >
      <ion-icon name="lg-case-12" class="w-100 d-flex lg-case-12"></ion-icon>
    </ion-row>

    <ion-row class="ion-no-padding flex ion-justify-content-center mx-12 mb-44">
      <ion-label color="omn-green" class="label-x-large alt-font">
        {{ locuinta?.name || '-' }}
      </ion-label>
    </ion-row>

    <ion-row class="pb-64 alt-bg">
      <ion-col>
        <ion-row
          class="mt-n24 w-auto mx-42 ion-justify-content-center ion-nowrap ion-align-self-center"
        >
          <ion-button
            shape="round"
            size="large"
            fill="clear"
            class="m-0 w-auto mr-16 fond color-dark-green no-shadow"
          >
            <span class="text-weight-normal pr-16 mr-auto">Șterge</span>
            <ion-icon name="md-bin" class="icon-20 color-green"></ion-icon>
          </ion-button>

          <ion-button
            shape="round"
            size="large"
            fill="clear"
            class="m-0 w-auto fond color-dark-green no-shadow"
            [routerLink]="
              locuinta?.id ? ['/profil', 'locuinte', 'edit', locuinta.id] : null
            "
          >
            <span class="text-weight-normal pr-16 mr-auto">Modifică</span>
            <ion-icon name="md-edit" class="icon-20"></ion-icon>
          </ion-button>
        </ion-row>

        <ion-row class="px-32 mt-40 mb-16">
          <ion-label color="omn-green" class="label-large alt-font">
            Informații locuință
          </ion-label>
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Adresa</ion-label
          >
          <ion-text class="s18-h24">{{
            locuinta | locuinteName: 'main-list2' || '-'
          }}</ion-text>
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Tip</ion-label
          >
          <ion-text class="s18-h24">{{
            locuinta?.info?.type | locuinteField: 'type' || '-'
          }}</ion-text>
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Structură de rezistență</ion-label
          >
          <ion-text class="s18-h24">{{
            locuinta?.info?.resistenceStructure
              | locuinteField: 'resistenceStructure' || '-'
          }}</ion-text>
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Anul construcției</ion-label
          >
          <ion-text class="s18-h24">{{
            locuinta?.info?.buildYear || '-'
          }}</ion-text>
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Valoarea locuinței</ion-label
          >
          <ion-text class="s18-h24"
            >{{ locuinta?.info?.valueSum || '-' }}
            {{ locuinta?.info?.valueCurrency || '-' }}</ion-text
          >
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Ocupare</ion-label
          >
          <ion-text class="s18-h24">{{
            locuinta?.info?.occupancy | locuinteField: 'occupancy' || '-'
          }}</ion-text>
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Suprafața utilă</ion-label
          >
          <ion-text class="s18-h24"
            >{{ locuinta?.info?.usableSurface || '-' }} mp</ion-text
          >
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Regim de înălțime</ion-label
          >
          <ion-text class="s18-h24"
            >{{ locuinta?.info?.heightRegime || '-' }} etaje</ion-text
          >
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Număr de camere</ion-label
          >
          <ion-text class="s18-h24">{{
            locuinta?.info?.roomCount || '-'
          }}</ion-text>
        </ion-row>

        <ion-row class="px-32 mb-13 w-100 flex-column">
          <ion-label class="link-small text-weight-medium color-tertiary-grey"
            >Alarmă antiefracție</ion-label
          >
          <ion-text class="s18-h24">{{
            locuinta?.info?.alarm | locuinteField: 'alarm' || '-'
          }}</ion-text>
        </ion-row>

        <ion-row class="px-16">
          <app-locuinte-view-card
            (click)="demoType()"
            [variant]="variant"
            class="w-100"
          ></app-locuinte-view-card>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="bg-white pb-64 px-24 shadow-1">
      <ion-col>
        <ion-row class="ion-justify-content-center mb-20">
          <ion-icon name="md-infomation" class="mt-n16 info-icon"></ion-icon>
        </ion-row>
        <ion-row>
          <ion-label color="omn-green" class="alt-font label-x-large mb-12"
            >Trebuie să știi</ion-label
          >
          <ion-text class="link-small mb-32">
            Ca să poți cumpăra o asigurare facultativă pentru locuința ta,
            aceasta trebuie:
          </ion-text>
          <ol class="link-small m-0 pl-24">
            <li class="mb-8">să nu fie construită înainte de anul 1940;</li>
            <li class="mb-8">
              să nu aibă o valoare (cumulată pentru clădire și bunuri) sub
              21.000 Euro sau care depășește 200.000 Euro;
            </li>
            <li class="mb-8">
              să nu fie în curs de construcţie/nefinalizată și să nu fie
              folosită în alt scop decât cel de locuit;
            </li>
            <li class="mb-8">
              să nu aibă structura de rezistență sau pereți exteriori din lemn;
            </li>
            <li class="mb-8">
              să nu fie situată la mai puţ in de 100 m de ape neregularizate
              (neîndiguite/neconsolidate);
            </li>
            <li class="mb-8">
              să nu fie menționată în lista clădirilor expertizate tehnic pentru
              riscul de cutremur
            </li>
            <li class="mb-8">
              să nu se afle într-o zonă expusă alunecărilor de teren;
            </li>
            <li class="mb-8">să nu fie o clădire de patrimoniu;</li>
            <li>
              să nu se afle într-o zonă în care construcția este interzisă.
            </li>
          </ol>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid
    *ngIf="locuinta.locuintaState === locuintaState.INCOMPLETE"
    class="ion-no-padding"
  >
    <ion-row
      [hidden]="formType === locuinteFormType.PLACE"
      class="px-32 pt-40 pb-48 alt-bg"
    >
      <ion-col class="ion-no-padding">
        <ion-row class="mb-16">
          <ion-text class="text-center">
            Adresă din Polița PAD Seria AB-123 Nr. 00012365498 valabilă în
            perioada 21.02.2019 - 21.02.2020
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text class="text-normal text-center text-weight-medium">
            Acest profil de locuință este incomplet. Adaugă informațiile despre
            locuință pentru a-l completa.
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="bg-white">
      <ion-col class="ion-no-padding">
        <ion-row
          [hidden]="formType === locuinteFormType.PLACE"
          class="mt-n24 w-auto mx-42 ion-justify-content-center ion-nowrap ion-align-self-center"
        >
          <ion-button
            shape="round"
            size="large"
            fill="clear"
            disabled="true"
            class="m-0 w-auto mr-16 disabled-bg no-shadow"
          >
            <span class="text-weight-normal pr-16 mr-auto color-disabled"
              >Șterge</span
            >
            <ion-icon name="md-bin" class="icon-20 color-disabled"></ion-icon>
          </ion-button>

          <ion-button
            shape="round"
            size="large"
            fill="clear"
            class="m-0 w-auto color-white no-shadow bg-green"
            (click)="nextStep()"
          >
            Completează
          </ion-button>
        </ion-row>

        <ion-row class="mx-32 mt-40 mb-24">
          <app-locuinte-form
            (eventSubmit)="handleFormSubmit()"
            class="flex flex-1 mh-100p w-100"
            [buttonVisible]="buttonVisible"
            [formSubmitting]="formSubmitting"
            [formGroupInstance]="formInstance?.group"
            [fieldConfig]="formInstance?.config"
            [fieldConfigData]="formInstance?.data"
            [buttonText]="buttonText"
            [formType]="formType"
            (customEvents)="formCustomEvents()"
          ></app-locuinte-form>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="locuinta.locuintaState === locuintaState.INVALID">
    <ion-row class="mx-32 mb-32">
      <ion-text class="text-center text-normal">
        Te rugăm să confirmi că datele de mai jos sunt corecte.
      </ion-text>
    </ion-row>
    <ion-row class="mx-32 mb-24">
      <app-locuinte-form
        (eventSubmit)="handleFormSubmit()"
        class="flex flex-1 mh-100p w-100"
        [buttonVisible]="buttonVisible"
        [formSubmitting]="formSubmitting"
        [formGroupInstance]="formInstance?.group"
        [fieldConfig]="formInstance?.config"
        [fieldConfigData]="formInstance?.data"
        [buttonText]="buttonText"
        [formType]="formType"
        (customEvents)="formCustomEvents()"
      ></app-locuinte-form>
    </ion-row>
  </ion-grid>
</ion-content>
