@import '../../../../../../theme/mixins/mixins';

ion-content {
  --background: fff;
}

.info {
  background: var(--ion-background-color);
}

.fond {
  height: rem(48);
  width: rem(128);
  --background: #e5f2ec;
  --box-shadow: none;
}
