<ion-content>
  <ion-grid class="mx-0 pt-48 pb-24 h-100 px-0 flex flex-1">
    <ion-col class="flex flex-1 flex-column w-100 ion-no-padding">
      <ion-row class="ion-no-padding flex w-100 flex-column mt-30">
        <div
          id="text-content"
          class="ml-32 mr-32 p-16 border-radius-8 bg-light-green ls-min-02"
        >
          <ion-text class="alt-font h3">
            Te rugăm să verifici datele de mai jos cu atenție. Pentru a corecta
            un detaliu, te rugăm să te întorci în pagina respectivă.
          </ion-text>
        </div>
      </ion-row>

      <ion-row class="ion-no-padding flex w-100 flex-column">
        <ion-item class="mt-40 mb-18" lines="none">
          <ion-label class="ion-text-wrap ml-16 mr-16">
            <div class="mb-12">
              <ion-text
                class="activation-msg h3 color-dark-green ion-text-center w-100 vertical-spacing mt-auto alt-font text-weight-bold"
              >
                Asigurat
              </ion-text>
            </div>

            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">Nume</div>
              <ion-text class="input-detail s18-h24">Ion Ionescu</ion-text>
            </div>
            <div>
              <div class="input-label text-weight-medium">CNP</div>
              <ion-text class="input-detail s18-h24">189******7634</ion-text>
            </div>
          </ion-label>
        </ion-item>

        <ion-item class="mb-18 mt-37" lines="none">
          <ion-label class="ion-text-wrap ml-16 mr-16">
            <div class="mb-12">
              <ion-text
                class="activation-msg h3 color-dark-green ion-text-center w-100 vertical-spacing mb-18 mt-auto alt-font text-weight-bold"
                >Informații locuință</ion-text
              >
            </div>

            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">Adresa</div>
              <ion-text class="input-detail s18-h24"
                >Strada Traian 45, Brasov, jud. Brasov</ion-text
              >
            </div>
            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">Tip</div>
              <ion-text class="input-detail s18-h24">Apartament</ion-text>
            </div>
            <div class="mb-8">
              <div class="input-label mb-3">Structură de rezistență</div>
              <ion-text class="input-detail s18-h24">Beton armat</ion-text>
            </div>
            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">
                Anul construcției
              </div>
              <ion-text class="input-detail s18-h24">1974</ion-text>
            </div>
            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">
                Valoarea locuinței
              </div>
              <ion-text class="input-detail s18-h24">70.000 Euro</ion-text>
            </div>
            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">Ocupare</div>
              <ion-text class="input-detail s18-h24">Permanentă</ion-text>
            </div>
            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">
                Suprafața utilă
              </div>
              <ion-text class="input-detail s18-h24">96 mp</ion-text>
            </div>
            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">
                Regim de înălțime
              </div>
              <ion-text class="input-detail s18-h24">3 etaje</ion-text>
            </div>
            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">
                Număr de camere
              </div>
              <ion-text class="input-detail s18-h24">4</ion-text>
            </div>
            <div>
              <div class="input-label text-weight-medium">
                Alarmă antiefracție
              </div>
              <ion-text class="input-detail s18-h24">Da</ion-text>
            </div>
          </ion-label>
        </ion-item>

        <ion-item class="mb-18 mt-37" lines="none">
          <ion-label class="ion-text-wrap ml-16 mr-16">
            <div class="mb-12">
              <ion-text
                class="activation-msg h3 color-dark-green ion-text-center w-100 vertical-spacing mb-18 mt-auto alt-font text-weight-bold"
                >Detalii poliță</ion-text
              >
            </div>

            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">
                Suma asigurată
              </div>
              <ion-text class="input-detail s18-h24">20.000 Euro</ion-text>
            </div>
            <div class="mb-8">
              <div class="input-label text-weight-medium mb-3">Cesiune</div>
              <div>
                <ion-text class="input-detail s18-h24"
                  >Denumire cesionar: Banca Cutarescu</ion-text
                >
              </div>
              <div>
                <ion-text class="input-detail s18-h24">CUI: 321654</ion-text>
              </div>
              <div>
                <ion-text class="input-detail s18-h24">Procent: 99%</ion-text>
              </div>
            </div>
            <div>
              <div class="input-label text-weight-medium mb-3">
                Perioada de valabilitate
              </div>
              <ion-text class="input-detail s18-h24"
                >12.05.2020 - 12.05.2021</ion-text
              >
            </div>
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-row class="ion-no-padding flex w-100 flex-1 mt-37 mb-24">
        <ion-col
          class="ion-no-padding flex flex-1 w-100 flex-column ion-justify-content-end px-32"
        >
          <ion-button
            class="activate-btn"
            color="success"
            size="large"
            expand="full"
            shape="round"
            mode="ios"
          >
            Vezi oferta
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
