<ion-grid class="m-0 p-0 flex flex-1 h-100 w-100">
  <ion-col class="ion-no-padding flex flex-1 w-100 flex-column">
    <ion-row *ngIf="visibleItem?.top">
      <ion-col class="flex flex-1 flex-column">
        <ion-icon
          *ngIf="visibleItem?.top?.icon"
          [name]="visibleItem?.top?.icon?.name"
          [color]="visibleItem?.top?.icon?.color"
          [ngClass]="visibleItem?.top?.icon?.classes"
          class="icon-40 mb-0 mx-auto flex ion-align-self-start"
        ></ion-icon>
        <ng-container *ngFor="let cItem of visibleItem?.top?.content">
          <ion-label
            class="text-small text-weight-medium ion-text-center"
            [ngClass]="cItem?.classes"
            [color]="cItem?.color"
            >{{ cItem?.text }}</ion-label
          >
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row
      *ngIf="visibleItem?.middle"
      [ngClass]="visibleItem?.middle?.classes"
    >
      <ion-icon
        *ngIf="visibleItem?.middle?.icon"
        [name]="visibleItem?.middle?.icon?.name"
        [color]="visibleItem?.middle?.icon?.color"
        [ngClass]="visibleItem?.middle?.icon?.classes"
        class="icon-40 mb-0 mx-auto flex ion-align-self-start"
      ></ion-icon>
    </ion-row>
    <ion-row *ngIf="visibleItem?.content" class="ion-no-padding">
      <ion-col class="flex flex-1 flex-column">
        <ng-container *ngFor="let textItem of visibleItem?.content">
          <ion-label
            [color]="textItem?.color"
            [ngClass]="textItem?.classes"
            class="dnt-content text-content-item ion-text-center"
          >
            {{ textItem?.text }}
          </ion-label>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleItem?.buttons">
      <ng-container *ngIf="visibleItem?.buttons?.start">
        <ng-container
          [ngTemplateOutlet]="buttonTemplate"
          [ngTemplateOutletContext]="{
            button: visibleItem?.buttons?.start,
            type: 'start'
          }"
        ></ng-container>
      </ng-container>
      <ng-container *ngIf="visibleItem?.buttons?.end">
        <ng-container
          [ngTemplateOutlet]="buttonTemplate"
          [ngTemplateOutletContext]="{
            button: visibleItem?.buttons?.end,
            type: 'end'
          }"
        ></ng-container>
      </ng-container>
    </ion-row>
  </ion-col>
</ion-grid>

<ng-template #buttonTemplate let-button="button" let-type="type">
  <ion-button
    class="dnt-button"
    [color]="button?.color"
    [ngClass]="button?.classes"
    [expand]="button?.expand"
    [fill]="button?.fill"
    [size]="button?.size"
    (click)="buttonClick(type, button?.data)"
  >
    <ion-label
      class="button-label"
      *ngIf="button?.text"
      [ngClass]="button?.text?.classes"
      [color]="button?.text?.color"
      >{{ button?.text?.text }}</ion-label
    >
    <ion-icon
      *ngIf="button?.icon"
      [name]="button?.icon?.name"
      [color]="button?.icon?.color"
      [ngClass]="button?.icon?.classes"
      class="button-icon"
      [slot]="button?.icon?.slot"
    ></ion-icon>
  </ion-button>
</ng-template>
