<ion-grid class="m-0 p-0 flex flex-1 h-100 w-100">
  <ion-col class="ion-no-padding flex flex-1 w-100 flex-column">
    <ion-row *ngIf="visibleItem?.top" class="ion-no-padding mh-223 pb-36 px-32">
      <ion-col class="flex flex-1 flex-column ion-no-padding">
        <ion-icon
          *ngIf="visibleItem?.top?.icon"
          [name]="visibleItem?.top?.icon?.name"
          [color]="visibleItem?.top?.icon?.color"
          [ngClass]="visibleItem?.top?.icon?.classes"
          class="my-16 mx-0 w-100"
        ></ion-icon>
        <ng-container *ngFor="let cItem of visibleItem?.top?.content">
          <ion-label
            class="text-small text-weight-medium ion-text-center"
            [ngClass]="cItem?.classes"
            [color]="cItem?.color"
            >{{ cItem?.text }}</ion-label
          >
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding bg-white flex flex-1 flex-column px-32">
      <ion-col class="ion-no-padding flex flex-1 flex-column">
        <ion-row
          *ngIf="visibleItem?.middle"
          [ngClass]="visibleItem?.middle?.classes"
          class="ion-no-padding position-absolute w-100 mt-n20"
        >
          <div
            class="flex flex-1 w-100 ion-justify-content-center ion-align-items-center ion-color-danger"
          >
            <ion-icon
              *ngIf="visibleItem?.middle?.icon"
              [name]="visibleItem?.middle?.icon?.name"
              [color]="visibleItem?.middle?.icon?.color"
              [ngClass]="visibleItem?.middle?.icon?.classes"
              class="p-10 icon-20 radius-50-perc bg-danger color-white"
            ></ion-icon>
          </div>
        </ion-row>
        <ion-row
          *ngIf="visibleItem?.content"
          class="ion-no-padding mt-28 flex flex-1 flex-column"
        >
          <ion-col class="flex flex-1 flex-column ion-no-padding">
            <ng-container *ngFor="let textItem of visibleItem?.content">
              <ion-label
                [color]="textItem?.color"
                [ngClass]="textItem?.classes"
                class="dnt-content text-content-item ion-text-center flex ion-justify-content-center w-100"
              >
                {{ textItem?.text || ' ' }}
              </ion-label>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row
      *ngIf="visibleItem?.buttons"
      [ngClass]="visibleItem?.buttons?.classes"
      class="flex w-100 ion-justify-content-between ion-no-padding bg-white pt-32 pb-24 px-32"
    >
      <ng-container *ngIf="visibleItem?.buttons?.start">
        <ng-container
          [ngTemplateOutlet]="buttonTemplate"
          [ngTemplateOutletContext]="{
            button: visibleItem?.buttons?.start,
            type: 'start'
          }"
        ></ng-container>
      </ng-container>
      <ng-container *ngIf="visibleItem?.buttons?.end">
        <ng-container
          [ngTemplateOutlet]="buttonTemplate"
          [ngTemplateOutletContext]="{
            button: visibleItem?.buttons?.end,
            type: 'end'
          }"
        ></ng-container>
      </ng-container>
    </ion-row>
  </ion-col>
</ion-grid>

<ng-template #buttonTemplate let-button="button" let-type="type">
  <ion-button
    class="dnt-button no-shadow m-0"
    [color]="button?.color || 'omn-light-green'"
    [ngClass]="button?.classes"
    [expand]="button?.expand"
    [fill]="button?.fill"
    [size]="button?.size || 'large'"
    (click)="buttonClick(type, button?.data)"
  >
    <ion-label
      class="button-label s18-h24 text-weight-medium ls-0"
      *ngIf="button?.text"
      [ngClass]="button?.text?.classes"
      [color]="button?.text?.color"
      >{{ button?.text?.text }}</ion-label
    >
    <ion-icon
      *ngIf="button?.icon"
      [name]="button?.icon?.name"
      [color]="button?.icon?.color || 'medium'"
      [ngClass]="button?.icon?.classes"
      class="button-icon icon-20"
      [slot]="button?.icon?.slot"
    ></ion-icon>
  </ion-button>
</ng-template>
