<ion-content>
  <app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
  <div class="px-32">
    <ion-col>
      <div class="mt-8 mb-16 s13-h16 ls-02 text-center">
        Vom trimite un cod de verificare către acest număr. 
      </div>
      <div class="mt-64 pt-16 mb-76">
        <form [formGroup]="teleForm" (ngSubmit)="proceed()">
          <app-input
            formControlName="phoneNumber"
            [config]="config"
          ></app-input>
        </form>

        <div class="pt-5" [ngStyle]="{'visibility': error ? 'visible' : 'hidden'}">

            <ion-item lines="none" color="none" class="ion-no-padding">
                <ion-icon name="sm-warning" class="icon-20 mr-20 color-red">
                </ion-icon>
                <ion-label class="text-small color-red">
                    Numărul de telefon nu este corect
                </ion-label>
            </ion-item>

        </div>

      </div>
      
      <div class="ion-align-items-center ion-text-center mt-8">
        <ion-button
          type="submit"
          (click)="proceed()"
          [disabled]="!teleForm.valid"
          class="success-gradient ion-color-success"
          expand="full"
          size="large"
          shape="round"
          mode="md"
        >
          Continuă
        </ion-button>
      </div>
    </ion-col>
  </div>
</ion-content>
