ion-tab-button {
  // Icon and text
  --color: var(--app-text-color);
  --color-selected: var(--app-green-color);
  // Background
  --background: var(--app-white-color);
  --background-focused: var(--app-white-color);
  --ripple-color: var(--app-white-color);
}

.custom-label {
  padding-bottom: 0.1rem;
  margin-top: 0.3rem;
}

.label-border {
  border-bottom: 2px solid var(--app-red-color);
}
