<ion-grid class="ion-no-padding">
  <ion-row class="p-32 border-bottom-1 border-gray">
    <ion-col class="ion-no-padding">
      <ion-row class="ion-no-padding mb-32">
        <ion-label class="alt-font h3 text-weight-bold mb-4">
          Valoarea de nou:
        </ion-label>
        <ion-text class="text-normal">
          costul construirii clădirii/locuinței, rezultat din devize, expertize,
          facturi, contracte sau alte documente de procurare
        </ion-text>
      </ion-row>
      <ion-row class="ion-no-padding mb-32">
        <ion-label class="alt-font h3 text-weight-bold mb-4">
          Valoarea reală:
        </ion-label>
        <ion-text class="text-normal">
          constă în valoarea de nou minus gradul de uzură, vechimea clădirii sau
          gradul de întreținere a acesteia.
        </ion-text>
      </ion-row>
      <ion-row class="ion-no-padding">
        <ion-label class="alt-font h3 text-weight-bold mb-4">
          Valoarea de piață:
        </ion-label>
        <ion-text class="text-normal">
          suma care se poate obține de către proprietar pentru clădire/locuință
          în urma unei tranzacții imobiliare.
        </ion-text>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="p-12">
    <ion-col class="flex ion-justify-content-end">
      <ion-button
        (click)="dismiss()"
        class="m-0 color-dark-green transparent-bg"
        >Închide</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>
