<ion-content class="bg-white">
    <app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
    <div class="px-32 pt-60">
        <ion-col>
            <div class="mt-20">
                <form [formGroup]="cnpForm" (ngSubmit)="continue()">
                    <app-input formControlName="cnp" [config]="config"></app-input>
                </form>
            </div>
            <div class="ion-align-items-center ion-text-center mt-8">
                <ion-button type="submit" (click)="continue()" [disabled]="!cnpForm.valid" class="success-gradient ion-color-success" expand="full" size="large" shape="round" mode="md">
                    Continuă
                </ion-button>
            </div>
        </ion-col>
    </div>
</ion-content>