<app-sub-page-header pageTitle="Date personale" trailingIcon="">
</app-sub-page-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <p>Nume</p>
        <ion-text>Ionescu</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <p>Prenume</p>
        <ion-text>Ion</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <p>CNP</p>
        <ion-text>189******7634</ion-text>
      </ion-label>
      <ion-button
        mode="ios"
        *ngIf="!accountActivated"
        size="small"
        shape="round"
        class="active"
        >Schimba</ion-button
      >
    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <p>Email</p>
        <ion-text>escuion@email.com</ion-text>
      </ion-label>
      <ion-button
        *ngIf="!accountActivated"
        mode="ios"
        size="small"
        shape="round"
        class="inactive"
        >Validează</ion-button
      >
      <ion-button
        *ngIf="accountActivated"
        mode="ios"
        size="small"
        shape="round"
        class="active"
        >Schimba</ion-button
      >
    </ion-item>

    <ion-item *ngIf="accountActivated" lines="none">
      <ion-label class="ion-text-wrap">
        <p>Domiciliu</p>
        <ion-text>Strada Traian 45, Brasov, jud. Brasov, Cod 500332</ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="accountActivated" lines="none">
      <ion-label class="ion-text-wrap">
        <p>Alte adrese</p>
        <ion-text
          >Strada Dimitrie Bolintineanu 71-73, Scara B, Ap. 21 Turnu Magurele,
          jud.Teleorman, Cod 654321</ion-text
        >
      </ion-label>
      <ion-button size="small" shape="round" class="active">Schimba</ion-button>
    </ion-item>

    <ion-item
      *ngIf="!accountActivated"
      lines="none"
      class="right-padding vertical-spacing"
    >
      <ion-text class="activation-msg ion-text-center">
        Activează-ți contul pentru a te bucura de serviciile noastre rapid și
        sigur direct din aplicație.
      </ion-text>
    </ion-item>

    <ion-button
      *ngIf="!accountActivated"
      class="activate-btn"
      expand="full"
      shape="round"
      mode="ios"
    >
      Verifică identitatea
    </ion-button>
  </ion-list>
</ion-content>
