@import "../../../../assets/scss/mixins";

ion-item {
  // doesn't seem to work with rem
  --padding-start: 32px;
  margin-bottom: rem(10);
}
ion-content,
ion-item {
  --background: var(--app-white-color) !important;
  --color: var(--app-white-color) !important;
}

ion-label {
  margin: 0 !important;
  p {
    font-size: rem(14);
    font-weight: 500;
  }
}

ion-text {
  font-size: rem(18);
  color: var(--app-text-color);
}

.active {
  --color: var(--app-text-color);
  --background: var(--app-active-color);
  --background-hover: var(--app-active-color);
}

.inactive {
  --background: var(--app-red-color);
  --background-hover: var(--app-red-color);
}

.right-padding {
  // doesn't seem to work with rem
  --padding-end: 32px;
}

.activation-msg {
  color: var(--app-green-color);
  font-size: rem(20);
}

.activate-btn {
  --background: linear-gradient(
    to right,
    var(--app-light-green-color),
    var(--app-green-color)
  );
  --background-hover: linear-gradient(
    to right,
    var(--app-light-green-color),
    var(--app-green-color)
  );
}

.vertical-spacing {
  margin-top: rem(120);
}
