<app-sub-page-header pageTitle="Date personale" trailingIcon="">
</app-sub-page-header>

<ion-content>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <p>Nume</p>
      <ion-text>
        Ionescu
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <p>Prenume</p>
      <ion-text class="ion-text">
        Ion
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <p>CNP</p>
      <ion-text>
        189******7634
      </ion-text>
    </ion-label>
    <ion-button size="small" shape="round" class="active">Schimba</ion-button>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <p>Email</p>
      <ion-text>
        escuion@email.com
      </ion-text>
    </ion-label>
    <ion-button size="small" shape="round" class="inactive"
      >Validează</ion-button
    >
  </ion-item>

  <ion-item lines="none" class="right-padding vertical-spacing">
    <ion-text class="activation-msg ion-text-center">
      Activează-ți contul pentru a te bucura de serviciile noastre rapid și
      sigur direct din aplicație.
    </ion-text>
  </ion-item>

  <ion-button class="activate-btn" expand="full" shape="round">
    Verifică identitatea
  </ion-button>
</ion-content>
