<ion-grid class="ion-no-padding">
  <ion-row class="pt-32 px-24 pb-16 border-bottom-1 border-gray">
    <ion-col class="ion-no-padding">
      <ion-row
        class="radius-50-perc bg-ultra-light-green px-16 mb-32 ion-align-items-center ion-justify-content-center w-100"
      >
        <ion-icon
          *ngIf="alertType === 'error'"
          name="sm-warning"
          class="d-flex icon-60 color-red bg-white radius-50-perc shadow-3"
        ></ion-icon>
        <ion-icon
          *ngIf="alertType == 'info'"
          name="informatii"
          class="d-flex icon-60 color-red bg-white radius-50-perc shadow-3"
        ></ion-icon>
      </ion-row>
      <ion-row>
        <ion-label
          [ngClass]="{
            'color-red': alertType == 'error',
            'color-green': alertType == 'info'
          }"
          class="w-100 ion-text-center alt-font h3 text-weight-bold ion-text-center alt-font"
        >
          {{ title }}
        </ion-label>
        <ion-text
          class="w-100 text-normal ion-text-center text-color mt-16"
          *ngIf="description"
        >
          {{ description }}
        </ion-text>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-content-end p-16">
    <ion-button (click)="dismiss()" class="m-0 color-dark-green"
      >Închide</ion-button
    >
  </ion-row>
</ion-grid>
