<ion-content class="bg-white">
  <ion-header [translucent]="false" class="header-element">
    <ion-toolbar
      size="small"
      color="omn-transparent-white"
      class="header-toolbar"
    >
      <ion-buttons slot="start" class="header-buttons"> </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="px-32">
    <div class="align-items-center ion-text-center ion-text-capitalize pt-60">
      <ion-icon
        name="lg-check-il"
        class="w-100 d-flex check-icon-lg"
      ></ion-icon>
    </div>

    <div class="text-center mb-8 ion-text-center pt-18 flex flex-1 flex-column">
      <ion-label
        class="alt-font color-dark-green h2 text-center border-danger text-weight-bold"
      >
        Codul de acces a fost schimbat
      </ion-label>
    </div>
  </div>
</ion-content>
