<ion-card
  button="true"
  [routerLink]="['view/' + item.id]"
  class="m-0 w-100 flex-column flex is-button"
>
  <ion-icon
    name="md-pin-ling"
    color="green-gradient"
    class="mx-auto flex ion-align-self-start icon-40 mt-16 mb-8"
  ></ion-icon>
  <ion-card-content
    class="flex mt-auto p-8 text-small text-weight-medium ion-align-items-end flex-1 ion-justify-content-center w-100 ion-text-center"
  >
    <ion-col class="ion-no-padding w-100">
      <ion-text class="w-100 ion-no-padding">
        {{ item | locuinteName: 'main-list' }}
      </ion-text>
    </ion-col>
  </ion-card-content>
</ion-card>
