<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>
<ion-content class="bg-white">
  <ion-row class="px-24 pt-46 h-100">
    <ion-col size="12" class="ion-no-padding">
      <div class="ion-text-center pb-38">
        <ion-text class="text-small">
          Introdu codul tău de acces format din 6 cifre.</ion-text
        >
      </div>
      <div class="ion-text-center pt-32">
        <app-passcode-field
          [errorLogin]="errorLogin"
          (doPassForm)="verifyPasscode($event)"
          (doClearErr)="clearErr($event)"
        >
        </app-passcode-field>
      </div>
    </ion-col>
    <ion-col size="12" class="mt-auto ion-no-padding mb-24 ion-text-center">
      <ion-text *ngIf="errorLogin" class="ion-text-center text-small color-red">
        {{ errorLogin }}
      </ion-text>
      <ion-button
        expand="block"
        fill="clear"
        color="omn-green"
        [routerLink]="['/reset-pincode']"
      >
        <ion-text class="s16-h22 ls-01 text-weight-normal"
          >Am uitat codul de acces</ion-text
        >
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
