<ion-content class="bg-white">
    <ion-header [translucent]="false" class="header-element">
        <ion-toolbar size="small" color="omn-transparent-white" class="header-toolbar">
            <ion-buttons slot="start" class="header-buttons"> </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div class="px-32">
        <ion-col>
            <div class="text-center mb-8 ion-text-center">
                <ion-text class="alt-font color-dark-green x-large mb-17 text-center">
                    Cod de acces
                </ion-text>
            </div>
            <div class="ion-text-center pb-42">
                <ion-text class="text-small">
                    Introduceti codul de acces din 6 cifre.
                </ion-text>
            </div>
            <div class="ion-text-center pb-80">
                <app-passcode-field [errorLogin]="errorLogin" (onPassForm)="verifyPasscode($event)" (onClearErr)="clearErr($event)"></app-passcode-field>

            </div>
            <div class="ion-text-center pt-80">
                <ion-text *ngIf="errorLogin" class="text-small color-red">
                    {{ errorLogin }}
                </ion-text>
            </div>
        </ion-col>
    </div>
</ion-content>