@import "../../../../assets/scss/mixins.scss";

  ion-item > ion-icon {
    height: 15px;
    width: 15px;
    margin-right: rem(20);
  }

  .toggle-option {
    --background: var(--app-light-green-color);
    --border-radius: 100px 0 0 100px;
  }

  .toggle-option-arrow-icon {
    transform: rotateX(180deg);
  }
