<ion-header class="omn-app-menu__header ion-no-border">
  <ion-item lines="none" class="margin-top-40 margin-bottom-40">
    <ion-label *ngIf="demoAccount">
      <ion-text class="alt-font text-weight-medium h2 color-dark-green">
        {{ demoAccount.firstName + ' ' + demoAccount.lastName }}
      </ion-text>
      <ion-text
        [hidden]="isAccountActive"
      >
        <p class="text-small color-light-red">Cont Inactive</p>
      </ion-text>
    </ion-label>
  </ion-item>

</ion-header>
<ion-content class="s18-h24 omn">
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="sm-acasa"></ion-icon>
      <ion-label>Acasă</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="sm-polita"></ion-icon>
      <ion-label>Asigurări</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="sm-dosar"></ion-icon>
      <ion-label>Daune</ion-label>
    </ion-item>
    <ion-item
      lines="{{ subMenuHidden === true ? 'full' : 'none' }}" (click)="toggleSubMenu()"
      [class.toggle-option]="!subMenuHidden"
    >
      <ion-icon name="sm-omniasig"></ion-icon>
      <ion-label>OMNIASIG</ion-label>
      <ion-icon 
        name="sm-chevron-down"
        [class.toggle-option-arrow-icon]="!subMenuHidden"
      ></ion-icon>
    </ion-item>
    <ion-menu-toggle [hidden]="subMenuHidden">
      <ion-list lines="none">
        <ion-item>
          <ion-icon></ion-icon>
          <ion-label>Despre noi</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon></ion-icon>
          <ion-label>Rețeaua noastră</ion-label>
        </ion-item>
        <ion-item
          lines="{{ !subMenuHidden ? 'full' : 'none' }}"
        >
          <ion-icon></ion-icon>
          <ion-label>Contact</ion-label>
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
    <ion-item lines="none">
      <ion-icon name="sm-setari"></ion-icon>
      <ion-label>Setări</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="sm-asistenta"></ion-icon>
      <ion-label>Asistență</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-item>
  <ion-icon name="sm-iesire"></ion-icon>
  <ion-label>Ieșire</ion-label>
  </ion-item>
</ion-footer>