<ion-header class="ion-no-border">
  <ion-item lines="none" class="mt-40 mb-40 ml-24">
    <ion-label *ngIf="demoAccount">
      <ion-text class="alt-font text-weight-bold h2 color-dark-green">
        {{ demoAccount.firstName + ' ' + demoAccount.lastName }}
      </ion-text>
      <ion-text
        [hidden]="isAccountActive"
      >
        <p class="text-small color-light-red">Cont Inactive</p>
      </ion-text>
    </ion-label>
  </ion-item>

</ion-header>
<ion-content class="omn">
  <ion-list>
    <ion-item lines="none" class="ml-24">
      <ion-icon name="sm-acasa"></ion-icon>
      <ion-label class="s18-h24">Acasă</ion-label>
    </ion-item>
    <ion-item lines="none" class="ml-24">
      <ion-icon name="sm-polita"></ion-icon>
      <ion-label class="s18-h24">Asigurări</ion-label>
    </ion-item>
    <ion-item lines="none" class="ml-24">
      <ion-icon name="sm-dosar"></ion-icon>
      <ion-label class="s18-h24">Daune</ion-label>
    </ion-item>
    <ion-item-group
      [class.bottom-1px-solid]="subMenuHidden" 
      (click)="toggleSubMenu()"
    >
      <ion-item
        lines="none"
        class="ml-24"
        [class.toggle-option]="!subMenuHidden"
      >
        <ion-icon name="sm-omniasig"></ion-icon>
        <ion-label class="s18-h24">OMNIASIG</ion-label>
        <ion-icon
          class="ml-40"
          name="sm-chevron-down"
          [class.toggle-option-arrow-icon]="!subMenuHidden"
        ></ion-icon>
      </ion-item>
    </ion-item-group>
    <ion-menu-toggle [hidden]="subMenuHidden">
      <ion-list lines="none">
        <ion-item class="ml-24">
          <ion-icon></ion-icon>
          <ion-label class="s18-h24">Despre noi</ion-label>
        </ion-item>
        <ion-item class="ml-24">
          <ion-icon></ion-icon>
          <ion-label class="s18-h24">Rețeaua noastră</ion-label>
        </ion-item>
        <ion-item-group [class.bottom-1px-solid]="!subMenuHidden">
          <ion-item class="ml-24">
            <ion-icon></ion-icon>
            <ion-label class="s18-h24">Contact</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-menu-toggle>
    <ion-item lines="none" class="ml-24">
      <ion-icon name="sm-setari"></ion-icon>
      <ion-label class="s18-h24">Setări</ion-label>
    </ion-item>
    <ion-item lines="none" class="ml-24">
      <ion-icon name="sm-asistenta"></ion-icon>
      <ion-label class="s18-h24">Asistență</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-item class="ml-24">
    <ion-icon name="sm-iesire"></ion-icon>
    <ion-label class="s18-h24">Ieșire</ion-label>
  </ion-item>
</ion-footer>