<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>

<ion-content class="ion-padding">
    <ion-col size="12" class="px-32 py-16">
        <div class="ion-text-center pb-32">
            <ion-text class="text-small">
                Creează un cod nou de acces
            </ion-text>
        </div>
        <div class="ion-text-center pt-32">
            <app-passcode-field [errorLogin]="InvalidCode" (doDigitLength)="digLength($event)"
                (doPassForm)="continue($event)" (doClearErr)="clearErr($event)"></app-passcode-field>
        </div>
        <div *ngIf="InvalidCode" class="ion-text-center mt-32">
            <ion-label class="text-small color-red">Codul este prea usor</ion-label>
        </div>
    </ion-col>
</ion-content>