@import '../../../../../../theme/variables.scss';

.info-icon{
    height: 40px;
    width: 40px;
    color: $secondary-blue;
}

.icon-div{
    text-align: center;
}

.text-div{
    text-align: center;
    color: $grey-6;
}

.activate-btn{
    margin-top: 179px;
}

::placeholder{
    color: red;
}

.picker-button{
    color:yellow
}