<ion-grid
  *ngIf="policyID === 'AMPLUS'"
  class="flex flex-column px-32 pt-112"
  [formGroup]="formGroup"
>
  <ion-row class="ion-no-padding valoare-suma mb-32">
    <app-radios
      class="w-100"
      [config]="fieldConfig?.rates"
      formControlName="rate"
      [options]="fieldConfigData?.rates || []"
    >
    </app-radios>
  </ion-row>
  <ion-row class="ion-no-padding tip-casa">
    <app-radios
      class="w-100"
      [config]="fieldConfig?.currency"
      formControlName="type"
      [options]="fieldConfigData?.currency || []"
    >
    </app-radios>
  </ion-row>
  <ion-row class="ion-no-padding mt-auto w-100 mb-24">
    <ion-button
      class="activate-btn m-0 w-100"
      color="success"
      fill="solid"
      expand="block"
      size="large"
      (click)="submit()"
      [disabled]="!formGroup?.valid"
      >Continuă</ion-button
    >
  </ion-row>
</ion-grid>

<ion-grid
  *ngIf="policyID === 'Garant AMPLUS + PAD'"
  class="flex flex-column px-32 pt-112"
  [formGroup]="amplusPadGroup"
>
  <ion-row class="ion-no-padding valoare-suma mb-32">
    <app-radios
      class="w-100"
      [config]="fieldConfig?.rates"
      formControlName="rate"
      [options]="fieldConfigData?.rates || []"
    >
    </app-radios>
  </ion-row>
  <ion-row class="ion-no-padding mt-auto w-100 mb-24">
    <ion-button
      class="activate-btn m-0 w-100"
      color="success"
      fill="solid"
      expand="block"
      size="large"
      (click)="submit()"
      [disabled]="!amplusPadGroup?.valid"
      >Continuă</ion-button
    >
  </ion-row>
</ion-grid>
