<ion-content>
  <ng-container *ngIf="!checkPAD">
    <ion-grid
      class="ion-no-padding flex flex-1 flex-column h-100 pt-40 pb-24"
      [formGroup]="locuintaForm"
    >
      <ion-radio-group formControlName="selection">
        <ion-row class="ml-32" *ngIf="vLocuinteList?.length">
          <ion-col class="ion-no-padding">
            <ion-row>
              <ion-label color="omn-green" class="label-large alt-font"
                >Adresele tale:</ion-label
              >
            </ion-row>
            <ion-row *ngFor="let item of vLocuinteList">
              <ion-item class="ion-no-padding ion-align-items-start w-100">
                <ion-label class="ion-text-wrap my-24 text-normal">{{
                  item?.locuinta | locuinteName: 'policy-list'
                }}</ion-label>
                <ion-radio
                  class="ml-0 mr-12 my-24 radio-btn"
                  slot="start"
                  [value]="item?.locuinta?.id"
                ></ion-radio>
              </ion-item>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="ml-32 mt-16" *ngIf="vLocuinteListP?.length">
          <ion-col class="ion-no-padding">
            <ion-row>
              <ion-label color="omn-green" class="label-large alt-font"
                >Adrese cu polițe active:</ion-label
              >
            </ion-row>
            <ion-row *ngFor="let item of vLocuinteListP">
              <ion-item class="ion-no-padding ion-align-items-start w-100">
                <div class="my-24">
                  <ion-label class="ion-text-wrap mb-14 text-normal">{{
                    item?.locuinta | locuinteName: 'policy-list'
                  }}</ion-label>
                  <ion-label
                    color="omn-green"
                    class="ion-text-wrap link-small text-weight-medium"
                    >{{
                      item?.policy | policyName: 'address-policy-expiry'
                    }}</ion-label
                  >
                </div>
                <ion-radio
                  class="ml-0 mr-12 my-24 radio-btn"
                  slot="start"
                  [value]="item?.locuinta?.id"
                ></ion-radio>
              </ion-item>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row
          class="ml-32 mb-24"
          [ngClass]="{
            'mt-16': vLocuinteListP?.length || vLocuinteList?.length
          }"
        >
          <ion-item class="ion-no-padding ion-align-items-start w-100">
            <ion-label class="ion-text-wrap my-24 text-normal"
              >Adaugă o adresă nouă</ion-label
            >
            <ion-radio
              class="ml-0 mr-12 my-24 radio-btn"
              slot="start"
              [value]="addNew"
            ></ion-radio>
          </ion-item>
        </ion-row>
      </ion-radio-group>
      <ion-row class="mt-auto w-100 px-32 mb-24 ion-no-padding">
        <ion-col class="ion-no-padding flex flex-1 w-100 flex-column">
          <ion-button
            (click)="submitForm()"
            type="submit"
            color="success"
            fill="solid"
            expand="block"
            [disabled]="!locuintaForm?.valid"
            size="large"
            class="m-0 w-100 flex mt-auto"
          >
            Continuă
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ion-row class="mt-auto w-100 px-32 mb-24 ion-no-padding">
    <ion-col class="ion-no-padding flex flex-1 w-100 flex-column">
      <ion-button
        (click)="submitForm()"
        type="submit"
        color="success"
        fill="solid"
        expand="block"
        [disabled]="!locuintaForm?.valid"
        size="large"
        class="m-0 w-100 flex mt-auto"
      >
        Continuă
      </ion-button>
    </ion-col>
  </ion-row>
  <ng-container *ngIf="checkPAD">
    <app-loading-placeholder
      class="flex flex-1 mh-100p w-100"
      [title]="loaderTitle"
    >
    </app-loading-placeholder>
  </ng-container>
</ion-content>
