<ion-content>
  <ion-grid class="w-100">
    <ion-row>
      <ion-text color="Success">
        <h2>Întrebări frecvente</h2>
      </ion-text>
    </ion-row>
      
    <!-- FAQs ls-0 -->
    <ion-row class="w-100 ion-justify-content-center">
      <ion-label class="mx-32 mt-64 icon-div"> </ion-label>
    </ion-row>

    <ion-row class="w-100 ion-justify-content-center">
      <p class="">Ai și alte întrebări?</p>
    </ion-row>

    <ion-row class="w-100 ion-justify-content-center">
      <div>E-mail:</div>
      <div>suport.clienti@omniasig.ro</div>
    </ion-row>

    <ion-row class="w-100 ion-justify-content-center">
      <ion-label class="">Website:</ion-label>
      <p>www.omniasig.ro/OMNIASISTENTA</p>
    </ion-row>

    <ion-row class="w-100 ion-justify-content-center">
      <p>
        Pentru orice întrebare legată de asigurări, daune, asistență tehnică la domiciliu sau asistență rutieră, intră în contact cu un reprezentant OMNIASIG care îți va răspunde în cel mai scurt timp.
      </p>
    </ion-row>
  </ion-grid
></ion-content>
