<ion-content>
  <!-- <ion-grid class="w-100">
    <ion-row class="ion-justify-content-center mx-16 mt-80 mb-32">
      <ion-text color="Success">
        <p class="intrebari-frecvente">Întrebări frecvente</p>
      </ion-text>
    </ion-row> -->
      



    <!-- FAQs ls-0 -->
    <!-- <ion-row class="ion-justify-content-center mx-16" *ngFor="let faq of faqs; let x = index;">
      <button class="accordion">{{faq.question}}</button>
      <div class="panel">
        <p>{{faq.answer}}</p>
      </div> -->
      <!-- <div class="accordion">
        <p> class='question'>{{faq.question}}</p>
      </div> -->
      <!-- <ion-label class="accordion">
        <p>{{faq.question}}</p>
      </ion-label>
      <div class="panel">
        <p>{{faq.answer}}</p>
      </div> -->
    <!-- </ion-row>

    <ion-row class="ion-justify-content-center mx-16 py-16">
      <p class="">Ai și alte întrebări?</p>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16  py-16">
      <div>E-mail:</div>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16 py-16">
      <div>suport.clienti@omniasig.ro</div>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16 py-16">
      <div class="blocked">Website:</div>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16 py-16">
      <div>www.omniasig.ro/OMNIASISTENTA</div>
    </ion-row>

    <ion-row class="ion-justify-content-center mx-16 py-16">
      <div>
        Pentru orice întrebare legată de asigurări, daune, asistență tehnică la domiciliu sau asistență rutieră, intră în contact cu un reprezentant OMNIASIG care îți va răspunde în cel mai scurt timp.
      </div>
    </ion-row>
  </ion-grid -->

  <ion-card *ngFor="let faq of faqs; let x = index;">
    <div>
      <ion-item button detail="false" (click)="toggleAccordion()">
        <ion-label>
          <b style="color: #fff;">{{faq.question}}</b>
        </ion-label>
        <ion-icon slot="end" color="light" [name]="icon"></ion-icon>
      </ion-item>
    </div>
    <ion-card-content #expandWrapper>
      {{faq.question}}
    </ion-card-content>
  </ion-card>
  ></ion-content>
