<ion-card
  class="w-100 no-shadow top-radius-0 bottom-radius-24 py-0 px-16 mt-16 mb-0 mx-0 overflow-visible"
  [color]="item?.color || 'omn-light-green'"
  (click)="emitItemEvent('item-click', item)"
  [ngClass]="item?.itemClass"
>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding mw-120" [ngClass]="item?.leftColumnClass">
      <ng-container *ngFor="let icon of item?.cards">
        <app-image-card [item]="icon" (itemEvent)="emitItemEvent('item-icon-click', $event.data)"></app-image-card>
      </ng-container>
    </ion-col>
    <ion-col
      class="ion-no-padding pl-16 pr-0 py-16"
      [ngClass]="item?.rightColumnClass"
    >
      <ion-card-content
        *ngIf="item?.textContent?.length"
        class="flex p-0 mb-6 ion-align-items-end flex-1 ion-text-left text-normal mt-auto"
      >
        <ion-col class="ion-no-padding w-100">
          <ion-text
            class="w-100 ion-no-padding"
            *ngFor="let text of item?.textContent"
            [ngClass]="text?.classes"
            [color]="text?.color"
          >
            {{ text?.text }}
          </ion-text>
        </ion-col>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>
