@import '../../../theme/variables.scss';

.floating-text{
    color: var(--color);
}

.title-text{
    color: var(--app-dark-green);
    font-family: $alt-font;
    border-bottom: 1px solid var(--app-red-color);
}

.text-block{
    color: var(--color);
    font-family: var(--ion-font-family);
}

.button-text{
    color: var(--app-dark-green);
}

.level{
    color: $dark-green;
}