<ion-content class="bg-white">
    <ion-header [translucent]="false" class="header-element">
        <ion-toolbar size="small" color="omn-transparent-green" class="header-toolbar">
        </ion-toolbar>
    </ion-header>
    <div class="px-32">
        <ion-col>
            <div class="text-center mb-16 ion-text-center">
                <ion-text class="alt-font color-dark-green x-large mb-17 text-center">
                    Numărul tău de telefon
                </ion-text>
            </div>
            <div class="ion-text-center mb-32">
                <ion-text class="text-small">
                    Vom trimite un cod de verificare către acest număr.
                </ion-text>
            </div>
            <div class="mt-30 pb-60">
                <div class="mb-8">
                    <ion-label class="link-small color-tertiary-grey mb-8">Numărul tău de telefon</ion-label>
                </div>
                <!-- <app-input class="w-100" [config]="fieldConfig"></app-input> -->
                <ion-input [type]="config?.type" [placeholder]="config?.placeholder" [step]="config?.spinnerConfig?.step" [inputmode]="config?.inputMode" [class]="config?.inputClasses" [ngClass]="{
                  'has-spinners ion-text-center': config?.spinnerConfig
                }"></ion-input>
            </div>
            <div class="ion-align-items-center ion-text-center mt-8">
                <ion-button class="success-gradient ion-color-success" expand="full" size="large" shape="round" mode="md">
                    Continuă
                </ion-button>
            </div>

        </ion-col>
    </div>
</ion-content>