<ion-grid class="ion-no-padding">
  <ion-row class="px-16">
    <ion-icon
      (click)="dismissModal()"
      name="md-close-2"
      class="position-absolute right-0 top-0 bottom-left-radius-8 icon-16 p-23 z-index-999"
    >
    </ion-icon>
    <ion-col class="ion-no-padding">
      <ion-row class="ion-justify-content-center pt-73 mb-8">
        <ion-text class="text-color alt-font s20-h24 text-center"
          >Asigurarea facultativă Garant AMPLUS pentru locuința ta costă
          aproximativ</ion-text
        >
      </ion-row>
      <ion-row class="ion-justify-content-center mb-32">
        <ion-text color="omn-green" class="alt-font x-large text-center"
          >450,8 lei/an</ion-text
        >
      </ion-row>
      <ion-row class="ion-justify-content-center mb-8">
        <ion-text class="text-color alt-font s20-h24 text-center"
          >Asigurarea obligatorie PAD costă</ion-text
        >
      </ion-row>
      <ion-row class="ion-justify-content-center mb-32">
        <ion-text color="omn-green" class="alt-font x-large text-center"
          >98,0 lei/an</ion-text
        >
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center px-16 pb-16">
    <ion-button
      type="submit"
      color="success"
      fill="solid"
      expand="block"
      size="large"
      class="m-0 w-100 flat no-shadow"
    >
      Asigură-te
    </ion-button>
  </ion-row>
</ion-grid>
