<ion-content class="bg-white">
  <ion-grid class="flex flex-column flex-1 mh-100p ion-no-padding">
    <ion-header [translucent]="false" class="header-element">
      <ion-toolbar
        size="small"
        color="omn-transparent-white"
        class="header-toolbar"
      >
        <ion-buttons slot="start" class="header-buttons" (click)="doLogout()">
          <ion-button class="header-button">
            <ion-icon
              slot="icon-only"
              name="md-close-2"
              class="icon-20 header-button-icon m-0"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="px-32 flex flex-column flex-1">
      <div class="text-center mb-8 ion-text-center">
        <ion-text class="alt-font color-dark-green x-large mb-6 text-center">
          Cod de verificare
        </ion-text>
      </div>
      <div class="ion-text-center pb-32">
        <ion-text class="text-small">
          Am trimis un cod de verificare la {{ phoneNumber }}
        </ion-text>
      </div>
      <div class="ion-text-center">
        <app-passcode-field
          class="flex flex-1 w-100 flex-column"
          [errorLogin]="errorLogin"
          (doPassForm)="verifyDigit($event)"
          (doClearErr)="clearErr($event)"
          [busy]="busy"
        ></app-passcode-field>
      </div>
      <div class="ion-text-center mt-auto mb-24 flex flex-column">
        <ion-text class="text-small pt-8 color-red w-100" *ngIf="errorLogin">
          {{ errorLogin }}
        </ion-text>
        <ion-text class="text-small pt-8 w-100" *ngIf="sec > 0">
          Poți solicita un alt cod în {{ min }}:{{ sec }}
        </ion-text>
        <div
          *ngIf="sec < 1 || sec === 0"
          class="ion-align-items-center ion-text-center pt-8 w-100"
        >
          <ion-button
            (click)="resendSMS()"
            class="success-gradient ion-color-success m-0"
            expand="block"
            size="large"
            shape="round"
            mode="md"
          >
            Retrimite cod
          </ion-button>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>
