<ion-content class="bg-white">
  <ion-header [translucent]="false" class="header-element">
    <ion-toolbar
      size="small"
      color="omn-transparent-white"
      class="header-toolbar"
    >
      <ion-buttons
        slot="start"
        class="header-buttons m-0 p-8 ml-n8"
        (click)="doLogout()"
      >
        <ion-button class="header-button">
          <ion-icon
            slot="icon-only"
            name="md-close-2"
            class="icon-20 header-button-icon m-0"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="px-32">
    <ion-col>
      <div class="text-center mb-8 ion-text-center">
        <ion-text class="alt-font color-dark-green x-large mb-17 text-center">
          Cod de verificare
        </ion-text>
      </div>
      <div class="ion-text-center pb-42">
        <ion-text class="text-small">
          Am trimis un cod de verificare la {{ phoneNumber }}
        </ion-text>
      </div>
      <div class="ion-text-center">
        <app-passcode-field
          [errorLogin]="errorLogin"
          (doPassForm)="verifyDigit($event)"
          (doClearErr)="clearErr($event)"
        ></app-passcode-field>
      </div>
      <div class="ion-text-center pt-32">
        <ion-text class="text-small">
          Poți solicita un alt cod în {{ min }}:{{ sec }}
        </ion-text>
        <div
          *ngIf="sec < 1 || sec == 0"
          class="ion-align-items-center ion-text-center mt-8"
        >
          <ion-button
            (click)="resendSMS()"
            class="success-gradient ion-color-success"
            expand="block"
            size="large"
            shape="round"
            mode="md"
          >
            Retrimite cod
          </ion-button>
        </div>
      </div>
    </ion-col>
  </div>
</ion-content>
