<ion-header [translucent]="false" class="header-element">
  <ion-toolbar
    size="small"
    color="omn-transparent-green"
    class="header-toolbar"
  >
    <ion-buttons slot="start" class="header-buttons" (click)="openCustom()">
      <ion-button class="header-button omn-green">
        <ion-icon
          slot="icon-only"
          name="md-menu"
          class="icon-20 header-button-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-left header-title omn-green"
      ><h2 class="alt-font omn-green">Profil</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="mx-32 mt-72 p-0">
    <ion-row class="ion-wrap" *ngIf="cards?.length">
      <ng-container *ngFor="let cardI of cards; let first=first; let i=index">
        <ion-col
          class="ion-no-padding m-0 mb-24"
          size="6"
          [ngClass]="{
                'pl-8': i%2,
                'pr-8': !(i%2)
            }"
        >
          <app-image-card [item]="cardI" class="flex w-100"></app-image-card
        ></ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
<app-tab-menu></app-tab-menu>
