<app-sub-page-header
  [config]="headerConfig"
></app-sub-page-header>

<ion-content class="pt-32 ion-padding">
  <div class="mt-32">
    <ion-item lines="none">
      <ion-icon
        slot="start"
        name="md-face"
        color="success"
      ></ion-icon>
      <ion-label
        class="s18-h24"
      >Face ID</ion-label>
      <ion-toggle
        mode="ios"
      ></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-icon
        slot="start"
        name="md-cod"
        color="success"
      ></ion-icon>
      <ion-label
       class="s18-h24"
      >Schimbare cod acces</ion-label>
    </ion-item>
    <ion-item lines="none" [routerLink]="['/phone-number']">
      <ion-icon
        slot="start"
        name="md-numar-tel"
        color="success"
      ></ion-icon>
      <ion-label
       class="s18-h24"
      >Schimbare număr telefon</ion-label>
    </ion-item>
  </div>
</ion-content>