@import '../variables.scss';
@import '../mixins/mixins';

.omn {
  ion-button {
    text-transform: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    &.button-large {
      border-radius: rem(28);
      min-height: rem(48);
      height: rem(48);
      font-size: rem(18);
      line-height: rem(24);
      white-space: normal;
      border: 0;
      box-shadow: $box-shadow-2;
      --box-shadow: $box-shadow-2;
      --border-radius: 28px;
      .button {
        --padding-top: rem(12);
        --padding-bottom: rem(12);
        padding-top: rem(12);
        min-height: rem(48);
        padding-bottom: rem(12);
        border-width: 0;
        border: none;
        &:after {
          display: none;
        }
      }
    }
    &.button-small {
      font-size: rem(13);
      line-height: rem(16);
      font-weight: 500;
      letter-spacing: rem(-0.2);
      --padding-start: 9px;
      --padding-end: 9px;
      --padding-top: 4px;
      --padding-bottom: 4px;
      .button {
        min-height: rem(24);
        height: auto;
        padding-top: rem(4);
        padding-bottom: rem(4);
        border-width: 0;
        line-height: rem(16);
      }
    }
    &.button-icon-button {
      height: auto;
      .button {
        min-height: rem(24);
        height: auto;
      }
      ion-icon {
      }
    }
    &.no-shadow {
      box-shadow: none;
      --box-shadow: none;
    }
    &.text-weight-normal {
      font-weight: 400;
    }
    &.ion-color-danger,
    .ion-color-danger {
      --background: var(--danger-gradient);
      --ion-color-danger: var(--danger-gradient);
      --ion-color-shade: var(--danger-gradient) !important;
      --ion-color-tint: var(--danger-gradient) !important;
      &.flat {
        // background-color: $danger;
        --ion-color-danger: var(--app-color-danger);
        --background: var(--app-color-danger);
        --ion-color-shade: var(--app-color-danger) !important;
        --ion-color-tint: var(--app-color-danger) !important;
      }
    }

    &.ion-color-success,
    .ion-color-success {
      --background: var(--success-gradient);
      --ion-color-success: var(--success-gradient);
      --ion-color-shade: var(--success-gradient) !important;
      --ion-color-tint: var(--success-gradient) !important;
      &.flat {
        --background: var(--app-green-color-light) !important;
        --ion-color-success: var(--app-green-color-light);
        --ion-color-shade: var(--app-green-color-light) !important;
        --ion-color-tint: var(--app-green-color-light) !important;
      }
    }

    &.ion-color-secondary,
    .ion-color-secondary {
      --background: var(--app-secondary-bg);
      --ion-color-secondary-contrast: var(--app-secondary-color);
      --ion-color-secondary: var(--app-secondary-bg);
      --ion-color-shade: var(--app-secondary-bg) !important;
      --ion-color-tint: var(--app-secondary-bg) !important;
    }

    &.transparent-bg {
      --background: transparent;
      --background-focused: transparent;
      --background-hover: transparent;
      --background-activated: transparent;
      --box-shadow: none;
    }
  }
}
