@import '../variables';
@import '../mixins/mixins';

ion-card {
  --color: var(--color);
  --ion-item-background: var(--app-white-color);
  border-radius: rem(8);
  box-shadow: $box-shadow-1;
  line-height: rem(22);
  &.no-shadow {
    box-shadow: none;
  }
  &.shadow-page-item {
    box-shadow: $box-shadow-3;
  }
  &.flex {
    &.is-link::part(native) {
      display: flex;
    }
  }
  &.flex-column {
    &.is-link::part(native) {
      flex: 1;
      flex-direction: column;
    }
  }
  &.white-overlay-gradient {
    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: $white-layer-gradient;
      border-radius: rem(8);
    }
    > * {
      z-index: 2;
      &.main-icon {
        z-index: 0;
      }
    }
  }

  &.light-green-gradient {
    background: $green-gradient-45;
    background-color: $light-green-2;
    .main-icon {
      opacity: 0.45;
    }
  }

  &.dark-green-gradient {
    background: $green-gradient-45, $green-gradient;
    .main-icon {
      opacity: 0.45;
    }
  }
  &.exclusion-card {
    position: absolute;
    overflow: visible;
    opacity: 0;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
    pointer-events: none;
    transform-origin: top center;
    box-shadow: none;
    opacity: 0;
    transform: scale(0.9) translateY(0);

    &.active {
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      position: relative;
      transform: scale(1) translateY(0);
      box-shadow: $alert-shadow-1;
      //z-index: 100;
      opacity: 1;
      pointer-events: inherit;
    }
    &.level-2 {
      //z-index: 99;
      opacity: 1;
      overflow: hidden;
      box-shadow: $box-shadow-1;
      transform: scale(0.9) translateY(72px);
    }
    &.active-hidden {
      transform: translateY(-50%);
      opacity: 0;
    }
  }
}
