@import '../variables';
@import '../mixins/mixins';
@mixin full-reset-header {
  margin-inline-start: 0;
  margin-right: 0;
  margin-left: 0;
  margin-inline-end: 0 !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
}

ion-header {
  ion-toolbar {
    margin-inline-start: 0;
    margin-right: 0;
    margin-left: 0;
    margin-inline-end: 0 !important;
    --padding-start: 16px !important;
    --padding-end: 16px !important;
    --padding-top: 24px !important;
    --padding-bottom: 0 !important;
    --min-height: 32px;
  }
  ion-buttons.header {
    @include full-reset-header();
    min-height: rem(32);

    ion-button,
    ion-button.button-native,
    ion-button.button-has-icon-only,
    ion-button.button-last-slot {
      --border-radius: 0 !important;
      width: rem(20) !important;
      height: rem(20) !important;
      --padding-start: 0 !important;
      --padding-bottom: 0 !important;
      --padding-top: 0 !important;
      --padding-end: 0 !important;
      margin-inline-start: 0;
      margin-right: 0;
      margin-left: 0;
      margin-inline-end: 0 !important;
      font-size: rem(16);
    }
  }
  ion-title {
    &.md {
      padding-inline-start: rem(24);
      padding-inline-end: rem(24);
    }
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --min-height: rem(32);
    padding-inline-start: rem(60);
    padding-inline-end: rem(60);
  }
  ion-icon {
    --border-radius: 0;
    font-size: rem(16);
  }
}
