@import '../variables.scss';

ion-icon {
  &.icon-40 {
    height: 40px;
    width: 40px;
  }
  #lg {
    #color1 {
      stop-color: black;
    }
    #color2 {
      stop-color: black;
    }
  }
  &.green-gradient {
      svg{
          background-color: red;
      }
    #color1 {
      stop-color: $green;
    }
    #color2 {
      stop-color: $dark-green;
    }
  }
}
