@import '../variables';
@import '../mixins/mixins';
.omn {
  ion-item-group {
    &.asig-item {
      border-bottom: rem(1) solid $medium-grey-2;
      --min-height: 95px;
      min-height: rem(95);
      ion-item {
        --min-height: 16px;
        position: relative;
        --padding-start: 0;
        --inner-padding-end: 0;
        --inner-border-width: 0;
        &:last-of-type {
          --inner-padding-bottom: 11px;
        }
        &.no-items {
          --inner-padding-top: 44px;
          --inner-padding-bottom: 28px;
        }
      }

      ion-label {
        margin-left: rem(60);
        margin-right: rem(44);
        margin-top: 0;
        margin-bottom: 0;
        &.no-item {
          margin-top: rem(42);
          margin-top: rem(42);
        }
      }
      ion-icon {
        margin: 0;
        position: absolute;
        &.icon-start {
          left: rem(26);
          top: rem(2);
          &.no-items {
            top: rem(45);
            left: rem(24);
          }
        }
        &.icon-end {
          right: rem(14);
          top: rem(2);
        }
      }
    }
  }

  ion-item {
    &.form-group {
      display: flex;
      z-index: 0;
      &.autocomplete {
        z-index: 1;
      }
      flex-direction: column;
      --padding-start: 0;
      --inner-padding-end: 0;
      --inner-border-width: 0;
      --ion-safe-area-left: 0;
      --highlight-height: 1px;
      --background-focused: --background;
      --background-hover: --background;
      --background-activated: --background;
      --highlight-color-focused: var(--app-secondary-text-color);
      --ion-border-color: var(--ion-color-light);
      --border-color: var(--ion-color-light);
      &.item-has-value:not(.item-has-focus):not(.ion-invalid) {
        ion-label {
          color: var(--color);
          --color: var(--color);
        }
        --ion-border-color: var(--ion-color-medium);
        --border-color: var(--ion-color-medium);
      }
      &.item-has-focus {
        ion-label {
          color: var(--color);
          --color: var(--color);
        }
        &.ion-valid {
          ion-label,
          ion-icon {
            color: var(--app-green-color);
            --color: var(--app-green-color);
            --ion-color-base: var(--app-green-color);
          }
        }
      }
    }
    &.no-paddings {
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --ion-safe-area-left: 0;
    }
    &.form-description {
      --min-height: rem(20);
    }
  }
}
