@import '../variables.scss';
@import '../mixins/mixins';

ion-select {
  --app-select-placeholder-font-size: 16px;
  --app-select-placeholder-line-height: 22px;
  max-width: 100%;
  position: relative;
  &::part(icon) {
    display: none !important;
  }
  button {
    @extend .text-normal;
  }
  --placeholder-opacity: 1;
  --placeholder-color: var(--app-select-placeholder-color);
  --ion-border-color: var(--app-secondary-text-color);
  --border-color: var(--app-secondary-text-color);
  background: var(--background);
  --border-radius: 4px 4px 0 0;
  --background: var(--app-input-bg) !important;
  --padding-start: 8px;
  --padding-end: 40px;
  --highlight-height: 1px;
  --padding-top: 12px;
  --padding-bottom: 10px;
}

.select-wrapper {
  min-height: rem(40);
  position: relative;
  .custom-select-icon {
    z-index: 2;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
  }
}
