<ng-container *ngIf="paymentStatus == 'failed'">
    <ion-content class="bg-white">
        <ion-header [translucent]="false" class="header-element">
            <ion-toolbar size="small" color="omn-transparent-white" class="header-toolbar">
                <ion-buttons slot="start" class="header-buttons"> </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <div class="px-32">
            <div class="align-items-center ion-text-center ion-text-capitalize pt-32">
                <ion-icon class="mr-auto ml-auto text-center ion-icon icon-60" name="warning-red"></ion-icon>
            </div>

            <div class="text-center mb-8 ion-text-center pt-48">
                <ion-text class="alt-font color-red h2 mb-16 text-center text-weight-bold border-bottom-1 border-red pb-8">
                    Plata nu a putut fi efectuată
                </ion-text>
            </div>

            <div *ngIf="failureReason" class="text-center mb-8 ion-text-center pt-16 pb-90">
                <ion-text class="s16-h22 text-center"> {{failureReason}} </ion-text>
            </div>
            <div class="pt-90">
                <ion-button class="s18-h24 text-weight-medium activate-btn m-0" size="large" color="success" expand="full" (click)="goHome()" shape="round">Acasă</ion-button>
            </div>
        </div>
    </ion-content>
</ng-container>
<ng-container *ngIf="paymentStatus == 'success'">
    <ion-content class="bg-white">
        <ion-header [translucent]="false" class="header-element">
            <ion-toolbar size="small" color="omn-transparent-white" class="header-toolbar">
                <ion-buttons slot="start" class="header-buttons"> </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <div class="px-32">
            <div class="align-items-center ion-text-center ion-text-capitalize pt-32">
                <ion-icon class="mr-auto ml-auto text-center check-icon-lg" name="lg-check-il"></ion-icon>
            </div>

            <div class="text-center mb-8 ion-text-center pt-48 pb-90">
                <ion-text class="alt-font color-dark-green h2 mb-16 text-center text-weight-bold border-bottom-1 border-red pb-8">
                    Plata a fost facută cu succes!
                </ion-text>
            </div>
            <div class="pt-90">
                <ion-button class="s18-h24 text-weight-medium activate-btn m-0" size="large" color="success" expand="full" (click)="goHome()" shape="round">Acasă</ion-button>
            </div>
        </div>
    </ion-content>
</ng-container>