<ion-grid class="ion-no-padding">
  <ion-row class="p-32 border-bottom-1 border-gray">
    <ion-col class="ion-no-padding">
      <ion-row class="mb-32">
        <ion-label class="alt-font h3 text-weight-bold mb-4">
          Tip A
        </ion-label>
        <ion-text class="text-normal">
          Construcţie cu structura de rezistenţă din beton armat, metal ori lemn
          sau cu pereţi exteriori din piatră, cărămidă arsă, lemn ori din orice
          alte materiale rezultate în urma unui tratament termic şi/sau chimic.
        </ion-text>
      </ion-row>

      <ion-row>
        <ion-label class="alt-font h3 text-weight-bold mb-4">
          Tip B
        </ion-label>
        <ion-text class="text-normal">
          Construcţie cu pereţi exteriori din cărămidă nearsă sau din orice alte
          materiale nesupuse unui tratament termic şi/sau chimic.
        </ion-text>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="p-12">
    <ion-col class="flex ion-justify-content-end">
      <ion-button (click)="dismiss()" class="color-dark-green">Închide</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
