<app-sub-page-header [config]="headerConfig"> </app-sub-page-header>

<ion-content>
    <ion-row class="px-24 h-100">
        <ion-col size="12">
            <div class="ion-text-center pb-32">
                <ion-text class="text-small"> Introdu codul actual de acces </ion-text>
            </div>
            <div class="ion-text-center pt-32">
                <app-passcode-field [errorLogin]="InvalidCode" (doPassForm)="continue($event)"
                    (doClearErr)="clearErr($event)"></app-passcode-field>
            </div>
            <div *ngIf="InvalidCode" class="ion-text-center mt-32">
                <ion-label class="text-small color-red">Codul introdus este invalid</ion-label>
            </div>
        </ion-col>
        <ion-col size="12" class="mt-auto">
            <ion-button expand="block" fill="clear" color="omn-green" [routerLink]="['/reset-pincode']">
                <ion-text class="s16-h22 ls-01 text-weight-normal">Am uitat codul de acces</ion-text>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>