
  <app-sub-page-header [config]="headerConfig" ></app-sub-page-header>
<ion-content class="ion-margin-top bg-white"> 
  
  <ion-grid color="secondary" class=" pt-0 pb-16">
    <ion-row class="ion-justify-content-center py-32 alt-bg">
      <ion-button
      class="flat no-shadow ion-color-success mt-32 ml-4 text-weight-normal radius-50-perc"
      flat
      size="large"
      
      mode="md"
    >
      
      <ion-icon class="label-large" name="md-file"></ion-icon>
    </ion-button>
    </ion-row>

    <div class="ion-row px-32">
      <ion-col size="12" >
        <h5 class="ion-text-center doc-date">18.05.2020 , 09:30</h5>        
      </ion-col>
      <ion-col size="12" class="ion-text-center">       
        <h1  class="ion-text-center oferta-asigurare-ser">Oferta asigurare SERIE 1234567890</h1>
      </ion-col>
      <ion-col size="12" class="mb-22">
        <ion-text class="doc-details alt-text ion-text-center w-100 right-padding vertical-spacing mb-22 mt-auto ls-min-02">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tellus velit, pulvinar non aliquam vel, lacinia elementum nibh. Donec non enim accumsan, fermentum massa eget, facilisis mauris. Suspendisse in molestie erat, interdum tincidunt quam.</ion-text>        
      </ion-col>
      <ion-col class="flex flex-column text-center ion-text-center ion-justify-content-center pt-32 ">
        <ion-button class="activate-btn m-0 px-5" color="success" size="large">Descarca atasament</ion-button>
      </ion-col>
    </div>
  </ion-grid>
</ion-content>