<ion-content class="bg-white">
  <ion-header [translucent]="false" class="header-element">
    <ion-toolbar
      size="small"
      color="omn-transparent-white"
      class="header-toolbar"
    >
      <ion-buttons slot="start" class="header-buttons"> </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="px-32">
    <div class="align-items-center ion-text-center ion-text-capitalize pt-60">
      <ion-icon
        name="lg-check-il"
        class="w-100 d-flex check-icon-lg"
      ></ion-icon>
    </div>

    <div class="text-center mb-8 ion-text-center pt-18">
      <ion-text
        class="alt-font color-dark-green h2 mb-16 text-center text-weight-bold"
      >
        Număr de telefon schimbat
      </ion-text>
    </div>

    <div class="">
      <hr class="bg-white border-danger border-bottom-1 color-red border-red" />
    </div>
  </div>
</ion-content>
