<app-sub-page-header
  [config]="headerConfig"
  (backActionEv)="navigateBack()"
  (trailingActionEv)="trailingAction()"
  id="top-header"
>
</app-sub-page-header>

<ion-content #contentRef>
  <ion-grid class="px-32 pt-32 pb-24 flex flex-1 mh-100p flex-shrink-0">
    <app-locuinte-form
      (eventSubmit)="handleFormSubmit()"
      class="flex flex-1 mh-100p w-100"
      *ngIf="formInstance"
      [buttonVisible]="buttonVisible"
      [formSubmitting]="formSubmitting"
      [formGroupInstance]="formInstance?.group"
      [fieldConfig]="formInstance?.config"
      [fieldConfigData]="formInstance?.data"
      [buttonText]="buttonText"
      [isHomeAddress]="isHomeAddress"
      [formType]="formType"
      [toggleStreetInput]="toggleStreetInput"
      (customEvents)="formCustomEvents()"
    ></app-locuinte-form> </ion-grid
></ion-content>
