<ion-content fullscreen="true">
  <ion-grid class="px-32 pt-32 pb-24 flex flex-1 h-100">
    <ion-col class="ion-no-padding flex flex-1 flex-column">
      <ion-row class="ion-no-padding ion-justify-content-end flex">
        <ion-label class="text-small ls-min-02 ion-no-padding"
          >Verifică mai târziu</ion-label
        >
      </ion-row>
      <ion-row class="ion-no-padding flex mt-24   ion-justify-content-center">
        <ion-icon name="lg-plic-il" class="w-100 d-flex"></ion-icon>
      </ion-row>
      <ion-row class="ion-no-padding mt-32 ion-justify-content-center flex mb-16">
        <ion-label
          color="omn-green"
          class="h2 ls-min-02 alt-font border-danger ion-text-center text-weight-bold"
          >Verificare e-mail
        </ion-label>
      </ion-row>
      <ion-row class="ion-no-padding ion-justify-content-center flex">
        <ion-label class="text-normal ion-text-center">
          Am trimis un e-mail la adresa [email].
        </ion-label>
        <ion-label class="text-normal ion-text-center">
          Verifică-ți mailul, incluzând folderul de spam.
        </ion-label>
      </ion-row>
      <ion-row class="ion-no-padding  ion-justify-content-center flex-column ion-align-content-center flex flex-1">
        <ion-label class="text-small ion-text-center"
          >Poți solicita un alt e-mail în 00:59
        </ion-label>
      </ion-row>
      <ion-row class="ion-no-padding mt-auto flex">
        <ion-button
          type="submit"
          color="success"
          fill="solid"
          expand="block"
          size="large"
          (click)="openVerifyModal()"
          class="m-0 w-100"
          >Verifică e-mail
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
