<ion-content fullscreen="true">
  <ion-grid class="mx-32 mt-32 mb-24 p-0 flex flex-1 h-100">
    <ion-col class="ion-no-padding">
      <ion-row class="ion-no-padding ion-justify-content-end">
        <ion-label class="text-normal ion-no-padding"
          >Verifică mai târziu</ion-label
        >
      </ion-row>
      <ion-row class="ion-no-padding">
        <ion-icon name="md-email-light" class="w-100 d-flex"></ion-icon>
      </ion-row>
      <ion-row class="ion-no-padding mt-32 ion-justify-content-center">
        <ion-label
          color="omn-green"
          class="h2 ion-text-center text-weight-medium"
          >Verificare e-mail
        </ion-label>
      </ion-row>
      <ion-row class="ion-no-padding ion-justify-content-center">
        <ion-label class="text-normal ion-text-center">
          Am trimis un e-mail la adresa [email].
        </ion-label>
        <ion-label class="text-normal ion-text-center">
          Verifică-ți mailul, incluzând folderul de spam.
        </ion-label>
      </ion-row>
      <ion-row class="ion-no-padding  ion-justify-content-center">
        <ion-label class="text-small"
          >Poți solicita un alt e-mail în 00:59
        </ion-label>
      </ion-row>
      <ion-row class="ion-no-padding mt-96">
        <ion-button
          type="submit"
          color="success"
          fill="solid"
          expand="block"
          size="large"
          class="m-0 w-100"
          >Verifică e-mail
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
