<app-sub-page-header [config]="headerConfig"></app-sub-page-header>

<ion-content class="ion-no-margin ion-no-padding">
  <header class="ion-text-center">
    <ion-label
      class="s32-h38"
      color="omn-green"
    >
      Contact
    </ion-label>
  </header>

  <div class="ion-text-center py-32 px-32">
    <ion-label
      class="s18-h24"
      color="omn-green"
    >Call center:</ion-label>
    <ion-button
      class="button-large bg-green color-white my-16"
      expand="block"
      (click)="callPhone()"
    >021.9669</ion-button>
    <ion-label
      class="s16-h22 color-tertiary-grey"
    >Apelurile către numărul scurt 021.9669 sunt taxate conform tarifelor în vigoare.</ion-label>
    <div class="mt-32">
      <ion-label
        class="s18-h22"
      >Pentru apeluri efectuate din străinătate:</ion-label>
      <ion-button
        class="button-large no-shadow mt-16 color-dark-green ls-01 s16-h22 text-weight-normal"
        fill="clear"
        expand="block"
      >+40.21.777.9669</ion-button>
    </div>

    <div class="my-32 ls-01 s16-h22">
      <ion-label
        class="text-weight-bold"
      >Program:</ion-label>
      
      <p></p>

      <ion-label
        class="text-weight-normal"
      >
        Luni–Sâmbată: 08:00–20:00
        <br />
        Duminică: 09:00–17:30
      </ion-label>

      <p></p>

      <ion-label
        class="text-weight-normal"
      >
        În afara intervalelor de mai sus apelurile sunt preluate de către un operator extern, iar pentru deschiderea dosarului de daună și programarea pentru constatare, asigurații vor fi contactați în dimineața următoare pentru soluționarea cererii.
      </ion-label>
    </div>

    <div class="my-32">
      <ion-label
        class="s18-h24 text-weight-medium color-dark-green"
      >Asistență daune:</ion-label>
      <ion-button
        class="s16-h22 no-shadow button-large mt-16 color-dark-green text-weight-normal"
        fill="clear"
        expand="block"
      >
        021.224.01.01
      </ion-button>
    </div>

    <div class="mt-32 s16-h22">
      <ion-label
        class="text-weight-bold"
      >Program:</ion-label>
      <p></p>
      <ion-label
        class="text-weight-normal ls-01"
      >Luni – Vineri: 08:00–17:30</ion-label>
    </div>

    <div class="mt-32 s16-h22">
      <ion-label
        class="text-weight-bold"
      >E-mail:</ion-label>
      <br />
      <ion-label
        class="text-weight-normal ls-01 color-green"
      >suport.clienti@omniasig.ro</ion-label>

      <div class="mt-24">
        <ion-label
          class="text-weight-bold"
        >Website:</ion-label>
        <br />
        <ion-label
          class="text-weight-normal ls-01 color-green"
        >www.omniasig.ro/OMNIASISTENTA</ion-label>
      </div>
    </div>

    <div class="mt-32">
      <ion-label
        class="text-weight-medium color-dark-green s18-h24"
      >Adresa Sediu Central:</ion-label>
      <p></p>
      <ion-label
        class="s16-h22 ls-01"
      >
        Aleea Alexandru Nr. 51, Sector 1, București,
        <br />
        Cod poștal: 011822
        <br />
        E-mail: <ion-text class="color-green">office@omniasig.ro</ion-text>
        <br />
        Telefon: 021.405.74.20; Fax: 021.311.44.90
      </ion-label>
    </div>

    <div class="border-danger ion-no-padding mt-32"></div>

    <div class="my-32">
      <ion-label
        class="ls-01 s16-h22 text-weight-normal"
      >
        Pentru orice întrebare legată de asigurări, daune, asistență tehnică la domiciliu sau asistență rutieră, intră în contact cu un reprezentant OMNIASIG care îți va răspunde în cel mai scurt timp.
      </ion-label>
    </div>

  </div>
</ion-content>
