<ion-header
  [translucent]="false"
  class="header-element"
  [ngClass]="config?.headerClasses"
>
  <ion-toolbar
    class="header-toolbar alt-font"
    [color]="config?.toolbarColor"
    [ngClass]="config?.toolbarClasses"
  >
    <ion-buttons
      slot="start"
      *ngIf="config?.leadingIcon"
      class="m-0 p-8 ml-n8"
      (click)="backAction(config?.leadingIcon)"
    >
      <ion-icon
        *ngIf="config?.leadingIcon"
        [name]="config?.leadingIcon?.name"
        [color]="config?.leadingIcon?.color"
        [ngClass]="config?.leadingIcon?.classes"
      ></ion-icon>
    </ion-buttons>
    <ion-title
      *ngIf="config?.title"
      class="header-title alt-font"
      [color]="config?.title?.color"
      [class]="
        'header-title alt-font ' + !config?.leadingIcon
          ? ''
          : '' + !config?.trailingIcon
          ? 'pr-44'
          : ''
      "
      [ngClass]="config?.title?.classes"
      size="small"
      >{{ config?.title?.text }}</ion-title
    >
    <ion-buttons slot="end" class="m-0 mr-n8">
      <ion-icon
        *ngIf="config?.trailingIcon"
        [name]="config?.trailingIcon?.name"
        [color]="config?.trailingIcon?.color"
        [ngClass]="config?.trailingIcon?.classes"
        (click)="trailingAction()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
