<ion-header [translucent]="false" class="header-element">
  <ion-toolbar
    size="small"
    color="omn-transparent-green"
    class="header-toolbar"
  >
    <ion-buttons slot="start" class="header-buttons">
      <ion-button
        ion-menu-button
        autoHide="false"
        menu="omn-menu"
        (click)="openCustom()"
        class="header-button omn-green"
      >
        <ion-icon
          slot="icon-only"
          name="md-menu"
          class="icon-20 header-button-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-left header-title omn-green"
      ><h2 class="alt-font omn-green">
        Asigurari
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="px-32 pt-0 pb-16">
    <ion-row
      class="ion-no-padding mh-64 flex flex-1 ion-align-items-end ion-justify-content-center"
    ></ion-row>
    <ion-row class="ion-no-padding offers" *ngIf="offers$ | async as sItems">
      <ion-col
        class="ion-no-padding pb-16"
        *ngIf="accountActivated && sItems?.length"
        ><app-policy-card-list
          [items]="sItems"
          [title]="titles?.myOffers"
        ></app-policy-card-list
      ></ion-col>
    </ion-row>
    <ion-row
      class="ion-no-padding own-policy"
      *ngIf="policies$ | async as pItems"
    >
      <ion-col
        class="ion-no-padding pb-16"
        *ngIf="accountActivated && pItems?.length"
        ><app-policy-card-list
          [items]="pItems"
          [title]="titles?.myPolicies"
        ></app-policy-card-list></ion-col
    ></ion-row>
    <ion-row
      class="ion-no-padding sales-list"
      *ngIf="salesItems$ | async as sItems"
    >
      <ion-col class="ion-no-padding pb-16"
        ><app-policy-card-list
          [items]="sItems"
          [title]="titles?.salesList"
        ></app-policy-card-list
      ></ion-col>
    </ion-row>

    <ion-row
      class="ion-no-padding archive mr-n32"
      *ngIf="policyArchive$ | async as aItems"
      ><ion-col
        class="ion-no-padding pb-16"
        *ngIf="accountActivated && aItems?.length"
      >
        <app-policy-archive-list
          [items]="aItems"
          [title]="titles?.archiveList"
        ></app-policy-archive-list>
      </ion-col>
    </ion-row>

    <ion-row
      class="ion-no-padding flex w-100 flex-1 pb-16"
      *ngIf="!accountActivated"
    >
      <ion-col
        class="ion-no-padding flex flex-1 w-100 flex-column ion-justify-content-end p-0"
      >
        <ion-text
          color="omn-green"
          class="h3 alt-text ion-text-center w-100 right-padding vertical-spacing mb-22 mt-auto ls-min-02"
        >
          Activează-ți contul pentru a te bucura de serviciile noastre rapid și
          sigur direct din aplicație.
        </ion-text>
        <ion-button href="policy/adresa-locuinta" class="activate-btn m-0" color="success" size="large">
          Verifică identitatea
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-tab-menu> </app-tab-menu>

<ng-template #footerButtons let-data="data">
  <ion-row
    class="ion-no-padding flex ion-justify-content-between w-100"
    [ngClass]="data?.classes"
  >
    <ion-col class="ion-no-padding flex flex-0" *ngIf="data?.leftButton">
      <ion-button
        [expand]="data?.leftButton?.expand"
        [fill]="data?.leftButton?.fill"
        [color]="data?.leftButton?.color"
        [size]="data?.leftButton?.size"
        [shape]="data?.leftButton?.shape"
        [ngClass]="data?.leftButton?.classes"
        *ngIf="data?.leftButton"
        >{{ data?.leftButton?.text }}</ion-button
      >
    </ion-col>
    <ion-col
      class="ion-no-padding flex ion-align-items-center ion-justify-content-end"
      *ngIf="data?.rightLabel"
    >
      <ion-label
        [color]="data?.rightLabel?.color"
        [ngClass]="data?.rightLabel?.classes"
        >{{ data?.rightLabel?.text }}</ion-label
      >
    </ion-col>
  </ion-row>
</ng-template>
