<ion-header [translucent]="false" class="header-element">
  <ion-toolbar
    size="small"
    color="omn-transparent-green"
    class="header-toolbar"
  >
    <ion-buttons slot="start" class="header-buttons">
      <ion-button
        ion-menu-button
        autoHide="false"
        menu="omn-menu"
        class="header-button omn-green"
      >
        <ion-icon
          slot="icon-only"
          name="md-menu"
          class="icon-20 header-button-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-left header-title omn-green"
      ><h2 class="alt-font omn-green">
        Asigurari
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>
<app-tab-menu></app-tab-menu>
