<ion-grid class="m-0 p-0 flex flex-1 h-100 w-100">
  <ion-col class="ion-no-padding flex flex-1 w-100 flex-column">
    <ion-row
      *ngIf="contentItems"
      class="ion-no-padding flex flex-1 flex-column position-relative m-32"
    >
      <ng-container *ngFor="let item of contentItems; let i = index">
        <ion-card
          class="ion-no-padding flex flex-1 flex-column exclusion-card bg-white w-100 border-radius-8"
          [ngClass]="{
            active: i === visibleItemIndex,
            'level-2': i === visibleItemIndex + 1
          }"
        >
          <ion-grid class="ion-no-padding flex flex-column flex-1">
            <ion-row *ngFor="let cItem of item?.content" class="ion-no-padding flex">
              
            </ion-row>
          </ion-grid>
        </ion-card>
      </ng-container>
    </ion-row>
    <ion-row
      *ngIf="visibleItem?.buttons"
      [ngClass]="visibleItem?.buttons?.classes"
      class="flex w-100 ion-no-padding bg-white pt-32 pb-24 px-32"
    >
      <ng-container *ngIf="visibleItem?.buttons?.start">
        <ng-container
          [ngTemplateOutlet]="buttonTemplate"
          [ngTemplateOutletContext]="{
            button: visibleItem?.buttons?.start,
            type: 'start'
          }"
        ></ng-container>
      </ng-container>
      <ng-container *ngIf="visibleItem?.buttons?.end">
        <ng-container
          [ngTemplateOutlet]="buttonTemplate"
          [ngTemplateOutletContext]="{
            button: visibleItem?.buttons?.end,
            type: 'end'
          }"
        ></ng-container>
      </ng-container>
    </ion-row>
  </ion-col>
</ion-grid>

<ng-template #buttonTemplate let-button="button" let-type="type">
  <ion-button
    class="dnt-button m-0"
    [color]="button?.color || 'omn-light-green'"
    [ngClass]="button?.classes"
    [expand]="button?.expand"
    [fill]="button?.fill"
    [size]="button?.size || 'large'"
    (click)="buttonClick(type, button?.data)"
  >
    <ion-label
      class="button-label text-weight-medium ls-0"
      *ngIf="button?.text"
      [ngClass]="button?.text?.classes"
      [color]="button?.text?.color"
      >{{ button?.text?.text }}</ion-label
    >
    <ion-icon
      *ngIf="button?.icon"
      [name]="button?.icon?.name"
      [color]="button?.icon?.color || 'medium'"
      [ngClass]="button?.icon?.classes"
      class="button-icon icon-20"
      [slot]="button?.icon?.slot"
    ></ion-icon>
  </ion-button>
</ng-template>
