ul.green {
  list-style: none;
  padding: 0;
  li {
    &:before {
      content: '✔︎';
      display: inline-block;
      width: 1.3rem;
    }
    &:nth-child(3) {
      &:before {
        content: '⁃';
        display: inline-block;
        width: 1.3rem;
      }
    }
    &:nth-child(4) {
      &:before {
        content: '⁃';
        display: inline-block;
        width: 1.3rem;
      }
    }
  }
}

ul.green.amplus {
  list-style: none;
  padding: 0;
  li {
    &:before {
      content: '✔︎';
      display: inline-block;
      width: 1.3rem;
    }
    &:nth-child(4) {
      list-style: none;
      padding: 0;
      &:before {
        content: '';
        display: none;
        width: 0;
      }
    }
    &:nth-child(15) {
      list-style: none;
      padding: 0;
      &:before {
        content: '';
        display: none;
        width: 0;
      }
    }
  }
}

ul.red {
  list-style: none;
  padding: 0;
  li {
    &:before {
      content: '✖︎';
      display: inline-block;
      width: 1.3rem;
    }
  }
}

ul.red.amplus {
  list-style: none;
  padding: 0;
  li {
    &:before {
      content: '✖︎';
      display: inline-block;
      width: 1.3rem;
    }
    &:nth-child(1) {
      list-style: none;
      padding: 0;
      &:before {
        content: '';
        display: none;
        width: 0;
      }
    }
  }
}

ul.danger {
  list-style: none;
  padding: 0;
  li {
    &:before {
      content: '!';
      display: inline-block;
      width: 1.3rem;
    }
  }
}

ul.danger.amplus {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    padding-left: 0.7rem;
    &:before {
      content: '!';
      display: block;
      margin-right: 1.3rem;
      width: 0;
    }
    &:nth-child(1) {
      list-style: none;
      padding: 0;
      &:before {
        content: '';
        display: none;
        width: 0;
      }
    }
  }
}

ul.blue {
  list-style: none;
  padding: 0;
  li {
    &:before {
      content: '✔︎';
      display: inline-block;
      width: 1.3rem;
    }
  }
}

ul.green-2 {
  list-style: none;
  padding: 0;
  li {
    padding-left: 0.5rem;
    &:before {
      content: '•';
      display: inline-block;
      width: 1.3rem;
    }
  }
}

ul.green-2.amplus {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    padding-left: 0.7rem;
    &:before {
      content: '•';
      display: block;
      margin-right: 1.3rem;
      width: 0;
    }
    &:nth-child(1) {
      list-style: none;
      padding: 0;
      &:before {
        content: '';
        display: none;
        width: 0;
      }
    }
  }
}

ul.yellow {
  list-style: none;
  padding: 0;
}

ul.light-blue {
  list-style: none;
  padding: 0;
}

ul.dark {
  list-style: none;
  padding: 0;
}
