<ion-content class="">
    <ion-header [translucent]="false" class="header-element">
        <ion-toolbar size="small" color="omn-transparent-white" class="header-toolbar">
            <ion-buttons slot="start" class="header-buttons">

            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div class="px-32">
        <ion-col>
            <div class="text-center mb-8 ion-text-center">
                <ion-text class="alt-font color-dark-green x-large mb-17 text-center">
                    Cod de acces
                </ion-text>
            </div>
            <div class="ion-text-center pb-42">
                <ion-text class="text-small">
                    Creează un cod de acces de 6 cifre.
                </ion-text>
            </div>
            <div class="ion-text-center pb-80">
                <app-passcode-field (onPassForm)="verifyPasscode($event)"></app-passcode-field>
            </div>
        </ion-col>
    </div>
</ion-content>